{% trans_default_domain 'back_messages' %}
<div class="col-lg-10 offset-lg-1 col-12 offset-0 px-0">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ 'lang.search.table'|trans() }}</h6>
        </div>
        <div id="langs-list" class="card-body pb-3">

            <table id="dataTable-langsList" class="table table-sm mb-0 nowrap">
                <thead class="bg-gray-600 text-white">
                    <tr>
                        <th>{{ 'lang.search.list.lang'|trans() }}</th>
                        <th>{{ 'lang.search.list.name'|trans() }}</th>
                        <th>{{ 'lang.search.list.english_name'|trans() }}</th>
                        <th>{{ 'lang.search.list.enabled'|trans() }}</th>              
                    </tr>
                </thead>
                <tbody class="bg-white">
                    {% for lang in langs %}
                    <tr data-id="{{ lang.id }}">
                        <td>{{ lang.lang }}</td>
                        <td class="text-capitalize">{{ lang.name }}</td>
                        <td>{{ lang.english_name }}</td>
                        <td>
                            <a href="{{ path('back_lang_permute_enabled', { 'ids': {0: lang.id} }) }}" role="button"
                                class="btn btn-primary enablable{{ lang.enabled ? ' active' : '' }}{{ lang.lang == 'fr' ? ' disabled' : '' }}"
                                aria-pressed="{{ lang.enabled ? 'true' : 'false' }}"
                                aria-disabled="{{ lang.lang == 'fr'  ? 'true' : 'false' }}">
                                <span>{{ lang.enabled ? 'button.disable'|trans : 'button.enable'|trans }}</span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
