{% trans_default_domain 'back_messages' %}
{% extends "back/layout.html.twig" %}
{% set locale = app.request.locale %}

{% block title %}{{ 'label.langs'|trans() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('table_app', null, 'backApp') }}
    {{ encore_entry_link_tags('flp_theme') }}
 {% endblock %}


{% block content %}
    <div class="container-fluid pt-4">
        
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ 'label.langs'|trans() }}</h1>
        </div>

        {{ include('back/lang/search/_list.html.twig') }}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('table_app', null, 'backApp') }}
{% endblock %}
