{% trans_default_domain 'back_messages' %}
{% extends "back/layout.html.twig" %}
{% set locale = app.request.locale %}

{% block title %}{{ 'label.langs'|trans() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('table_app', null, 'backApp') }}
    {{ encore_entry_link_tags('flp_theme') }}
 {% endblock %}


{% block content %}
    <div class="container-fluid pt-4">
        
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ 'label.langs'|trans() }}</h1>
        </div>

        <div class="col-lg-10 offset-lg-1 col-12 offset-0 px-0">
            <div class="card shadow mb-4">

                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'lang.search.table'|trans() }}</h6>
                </div>

                <div id="list" class="card-body pb-3 back-dataTable">

                    <table id="dataTable-list" class="table table-sm mb-0 nowrap">
                        <thead class="bg-gray-600 text-white">
                            <tr>
                                <th>{{ 'lang.search.list.lang'|trans() }}</th>
                                <th>{{ 'lang.search.list.name'|trans() }}</th>
                                <th>{{ 'lang.search.list.englishName'|trans() }}</th>
                                <th class="no-sort">{{ 'action.action'|trans() }}</th>              
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            {% for lang in langs %}
                            <tr data-id="{{ lang.id }}">
                                <td class="align-middle">{{ lang.lang }}</td>
                                <td class="align-middle text-capitalize">{{ lang.name }}</td>
                                <td class="align-middle">{{ lang.englishName }}</td>
                                <td class="align-middle">
                                    {% if lang.lang == locale %}
                                        {{ 'lang.default'|trans() }}
                                    {% else %}
                                        <a href="{{ path('back_lang_permute_enabled', { 'id': lang.id }) }}"
                                            class="btn btn-primary enablable{{ lang.enabled ? ' active' : '' }}"
                                            aria-pressed="{{ lang.enabled ? 'true' : 'false' }}">
                                            <span>{{ lang.enabled ? 'action.disable'|trans : 'action.enable'|trans }}</span>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('table_app', null, 'backApp') }}
{% endblock %}
