{% trans_default_domain 'back_messages' %}

<div id="card-list" class="card shadow mb-4">
    
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ 'contrib.situ.validation.title'|trans() }}</h6>
    </div>
    
    <div id="situs" class="card-body pb-3 back-dataTable">
        
        {% if situs is empty %}
            {{ 'contrib.situ.table.empty'|trans() }}
        {% else %}
            
        <table id="dataTable-situs" class="table table-sm mb-0 nowrap">
            <thead class="bg-gray-600 text-white">
                <tr>
                    <th>{{ 'contrib.action'|trans() }}</th>
                    <th class="pl-2 text-center">#</th>
                    <th class="pl-2">{{ 'contrib.situ.details.title'|trans() }}</th>
                    <th class="pl-2">{{ 'contrib.situ.details.date.creation'|trans() }}</th>
                    <th class="pl-2">{{ 'contrib.situ.details.date.submit'|trans() }}</th>
                    <th class="pl-2">{{ 'contrib.situ.details.lang'|trans() }}</th>
                    <th class="pl-2">{{ 'contrib.situ.details.initial'|trans() }}</th>
                    <th class="pl-2">{{ 'contrib.situ.details.event'|trans() }}</th>
                    <th class="pl-2">{{ 'contrib.situ.details.category.level1'|trans() }}</th>
                    <th class="pl-2 text-nowrap">{{ 'contrib.situ.details.category.level2'|trans() }}</th>
                </tr>
            </thead>
            <tbody class="bg-white">
                {% for situ in situs %}
                <tr>
                    <td class="px-2">
                        <a href="{{ path('back_situ_verify', { 'id': situ.id }) }}"
                           role="button" class="btn btn-outline-warning pcx-2 py-1"
                           data-id="{{ situ.id }}" data-action=""
                           data-toggle="tooltip" data-placement="left"
                           title="{{ 'contrib.situ.table.btn.valid'|trans() }}"
                           aria-label="{{ 'contrib.situ.table.btn.valid'|trans() }}">
                            <i class="far fa-paper-plane"></i>
                        </a>
                    </td>
                    <td class="px-2 text-center">{{ situ.id }}</td>
                    <td class="px-2 firstletter text-nowrap">{{ situ.title|u.truncate(20, '...') }}</td>
                    <td class="px-2">{{ situ.dateCreation|format_datetime('short', 'none', locale=locale) }}</td>
                    <td class="px-2">{{ situ.dateSubmission ? situ.dateSubmission|format_datetime('short', 'none', locale=locale) : '' }}</td>
                    <td class="px-2">{{ situ.lang.englishName }}</td>
                    <td class="px-2 text-nowrap">
                        {% if situ.initialSitu%}
                            {{ 'yes'|trans() }}
                        {% else %}
                            {{ 'contrib.situ.details.translated'|trans() }}
                            #{{ situ.translatedSituId }}
                        {% endif %}
                    </td>
                    <td class="px-2 text-nowrap">
                        {% if situ.event.validated == false %}
                            {{ situ.event.title|u.truncate(10, '...') }}
                            <span class="badge badge-pill badge-primary">{{ 'badge.new'|trans() }}</span>
                        {% else %}
                            {{ situ.event.title|u.truncate(20, '...') }}
                        {% endif %}
                    </td>
                    <td class="px-2 text-nowrap">
                        {% if situ.categoryLevel1.validated == false %}
                            {{ situ.categoryLevel1.title|u.truncate(10, '...') }}
                            <span class="badge badge-pill badge-primary">{{ 'badge.new'|trans() }}</span>
                        {% else %}
                            {{ situ.categoryLevel1.title|u.truncate(20, '...') }}
                        {% endif %}
                    </td>
                    <td class="px-2 text-nowrap">
                        {% if situ.categoryLevel2.validated == false %}
                            {{ situ.categoryLevel2.title|u.truncate(10, '...') }}
                            <span class="badge badge-pill badge-primary">{{ 'badge.new'|trans() }}</span>
                        {% else %}
                            {{ situ.categoryLevel2.title|u.truncate(20, '...') }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>            
        {% endif %}
    </div>
</div>
