{% trans_default_domain 'security' %}
{% extends 'front/layout.html.twig' %}

{% block title %}{{ 'forget_password.title'|trans() }}{% endblock %}

{% block content %}
    <div class="col-lg-6 mx-auto pt-5">
        
        <div class="card mt-5 mb-4 px-3 pt-2 bg-light-80">
            
            <div class="card-body">
                {{ form_start(form) }}
                    <h1 class="h3 mb-3 font-weight-normal">{{ 'forget_password.h1'|trans() }}</h1>
                    <p class="small">{{ 'forget_password.descritpion'|trans() }}</p>
                    {{ form_row(form.email) }}
                    <div class="form-group text-center mt-4 pt-2">
                        <button class="btn btn-secondary px-4" type="submit">
                            {{ 'forget_password.btn.submit'|trans() }}
                        </button>
                    </div>
                {{ form_end(form) }}
            </div>
            
        </div>
            
    </div>
{% endblock %}
