{% trans_default_domain 'security' %}
{% extends 'front/layout.html.twig' %}

{% block title %}{{ 'forget_password.title'|trans() }}{% endblock %}

{% block content %}
<section class="pt-4 pb-4">
    <div class="container">
        <div class="col-lg-6 mx-auto">
            <div class="card mt-4 mb-4">
                <div class="card-body">
                    {{ form_start(form) }}
                        <h1 class="h3 mb-3 font-weight-normal">{{ 'forget_password.h1'|trans() }}</h1>
                        {{ form_row(form.email) }}
                        <div class="form-group text-center">
                            <button class="btn btn-primary btn-block" type="submit">
                                {{ 'forget_password.btn.submit'|trans() }}
                            </button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
