{% trans_default_domain 'security' %}
{% extends 'front/layout.html.twig' %}

{% block title %}{{ 'action.login'|trans }}{% endblock %}

{% block content %}
    
    <div class="col-lg-6 mx-auto pt-5">
        
        <div class="card mt-4 mb-4 p-2 bg-light-80">
            
            <div class="card-body">
    
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                
                <form method="post">
                    {% if app.user %}
                        <div class="mb-3">
                            {{ 'login.message.logged_as'|trans({ '%user%': app.user }) }}, <a href="{{ path('app_logout') }}">{{ 'action.logout'|trans }}</a>
                        </div>
                    {% else %}
                        <h1 class="h3 mb-3 font-weight-normal d-flex justify-content-start">{{ 'action.login'|trans }}</h1>
                        <div class="form-group">
                            <label for="inputEmail" class="d-flex justify-content-start required">{{ 'label.email'|trans({}, 'messages') }}</label>
                            <input type="email" {# value="{{ last_username }}" #} name="email" id="inputEmail" class="form-control mb-2" placeholder="email@example.com" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="d-flex justify-content-start required">{{ 'login.label.password'|trans }}</label>
                            <div class="input-group togglePassword">
                                <input type="password" name="password"
                                       aria-label="{{ 'login.label.password'|trans }}" aria-describedby="basic-addon"
                                       id="inputPassword" class="form-control"
                                       placeholder="●●●●●●" required>
                                <div class="input-group-append">
                                  <span class="btn input-group-text"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-start">
                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> {{ 'login.label.remember_me'|trans }}
                                </label>
                            </div>
                        </div>
                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}">
                        <div class="form-group text-center mb-4">
                            <button class="btn btn-secondary px-5" type="submit">
                                {{ 'login.btn.submit'|trans }}
                            </button>
                        </div>
                            
                        {# commented in localhost #}
                         <div id="login_captcha"
                             data-toggle="recaptcha" data-type="invisible"></div> 
                        
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="{{ path('app_forgot_password_request') }}" class="btn btn-default btn-block btn-sm">{{ 'login.link.forget_password'|trans }}</a>
                            </div>
                            <div class="col-sm-6">
                                <a href="{{ path('app_register')}}" class="btn btn-default btn-block btn-sm"><i class="fas fa-user"></i> {{ 'login.link.registration'|trans }}</a>
                            </div>
                        </div>
                    {% endif %}
                </form>
            </div>
                
        </div>
                
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('pw_app', null, 'frontApp') }}
    <script>
        var recaptcha = {'sitekey' : '{{ google_recaptcha_site_key }}'}
    </script>
    {# commented in localhost #}
    <script src="{{ asset('recaptcha/recaptcha.js') }}"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onGoogleReCaptchaApiLoad&render=explicit&hl={{ app.request.locale }}" async defer></script>
{% endblock %}