{% trans_default_domain 'security' %}
{% extends 'front/layout.html.twig' %}

{% block title %}{{ 'registration.title'|trans() }}{% endblock %}

{% block content %}
    <div class="col-lg-6 mx-auto pt-5">
        
        <div class="card mt-4 mb-4 px-3 py-2 bg-white-80">
            
            <div class="card-body">
                {{ form_start(form) }}
                    <h1 class="h3 mb-3 font-weight-normal">{{ 'registration.title'|trans() }}</h1>
                    {{ form_row(form.email) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.plainPassword) }}
                    {{ form_row(form.agreeTerms) }}
                    <div class="mt-5 text-center">
                        <button class="btn btn-secondary px-5" type="submit">
                            {{ 'button.validate'|trans() }}
                        </button>
                    </div>
                {{ form_end(form) }}
            </div>
            
        </div>
            
    </div>
{% endblock %}