{% trans_default_domain 'security' %}
{% extends 'front/layout.html.twig' %}

{% block title %}{{ 'reset_password.title'|trans() }}{% endblock %}

{% block content %}
    <div class="container py-4">
        {% block banner%}
            <h1 class="h3 mb-0 font-weight-normal">{{ 'reset_password.h1'|trans() }}</h1>
        {% endblock %}
        <div class="col-lg-6 mx-auto">
            <div class="card my-4">
                <div class="card-body pb-1">
                    {{ form_start(form) }}
                        {% if form.password is defined %}
                            {{ form_row(form.password) }}
                        {% endif %}
                        {{ form_row(form.plainPassword) }}
                        <div class="form-group text-right">
                            <button class="btn btn-primary" type="submit">
                                {{ 'reset_password.btn.submit'|trans() }}
                            </button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}