{% trans_default_domain 'security' %}
{% extends 'front/layout.html.twig' %}

{% block title %}{{ 'reset_password.title'|trans() }}{% endblock %}

{% block content %}
    <div class="container mt-5 py-5">
        {% block banner%}
            <h1 class="h3 mt-3 mb-5 text-white">{{ 'reset_password.h1'|trans() }}</h1>
        {% endblock %}
        <div class="col-lg-6 mx-auto">
            <div class="card my-4 p-3 bg-light-80">
                <div class="card-body pb-1">
                    {{ form_start(form) }}
                        {% if form.password is defined %}
                            {{ form_row(form.password) }}
                        {% endif %}
                        {{ form_row(form.plainPassword) }}
                        <div class="form-group text-center">
                        {% if app.user %}
                            <a href="{{ path('user_account', { 'id': app.user.id }) }}" class="btn btn-light">
                                {{ 'reset_password.btn.back'|trans() }}
                            </a>
                        {% endif %}
                            <button class="btn btn-secondary px-5" type="submit">
                                {{ 'reset_password.btn.submit'|trans() }}
                            </button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}