{% extends 'front/layout.html.twig' %}
{% trans_default_domain 'user_messages' %}

{% set locale = app.request.locale %}


{% block title %}{{ 'nav.account_profile'|trans() }}{% endblock %}

{% block content %}
    <div class="container mt-5 py-5">
        {% block banner%}
            <h1 class="h3 mt-3 mb-5 text-white">{{ 'nav.account_profile'|trans() }}</h1>
        {% endblock %}
        <div class="row">
            <div class="col-md-8">
                <div class="card mb-4 bg-white-80 border-0">
                    <h5 class="card-header bg-dark-50 text-white text-uppercase">{{ user.name }}</h5>
                    <div class="card-body">
                        <p class="row">
                            <span class="col-lg-5 text-secondary">{{ 'account.email'|trans() }}</span>
                            <span class="col-lg-7">{{ user.email }}</span>                                
                        </p>
                        <p class="row">
                            <span class="col-lg-5 text-secondary">{{ 'account.date_create'|trans() }}</span>
                            <span class="col-lg-7 first-letter">
                                {{ user.dateCreate|format_datetime('full', 'short', locale=locale) }}
                            </span>                                
                        </p>
                        <p class="row">
                            <span class="col-lg-5 text-secondary">{{ 'account.default_lang.title'|trans() }}</span>
                            <span class="col-md-7 first-letter">
                                {% if user_lang is empty %}
                                    {{ 'account.default_lang.default'|trans() }}
                                {% else %}
                                    {{ user_lang }}
                                {% endif %}
                            </span>                                
                        </p>
                        <p class="row">
                            <span class="col-lg-5 text-secondary">
                                {% if user.roles|length == 1 %}
                                    {{ 'account.roles.title'|trans() }}
                                {% else %}
                                    {{ 'account.roles.title_s'|trans() }}
                                {% endif %}
                            </span>
                            <span class="col-lg-7">
                                {% for role in user.roles %}
                                    {% if role == 'ROLE_USER' %}{{ 'account.roles.user'|trans() }}
                                    {% elseif role == 'ROLE_MODERATOR' %}{{ 'account.roles.moderator'|trans() }}
                                    {% elseif role == 'ROLE_ADMIN' %}{{ 'account.roles.admin'|trans() }}
                                    {% elseif role == 'ROLE_SUPER_ADMIN' %}{{ 'account.roles.super_admin'|trans() }}{% endif %}
                                    {% if not loop.last %},{% endif %}
                                {% endfor %}
                            </span>                                
                        </p>
                        <p class="row">
                            <span class="col-lg-5 text-secondary">
                                {{ 'account.contribs'|trans() }}
                            </span>
                            <span class="col-lg-7">
                                {% if user.contribs is empty %}
                                    {{ 'account.no_contrib'|trans() }}
                                {% else %}
                                    {{ user.contribs }}
                                {% endif %}
                            </span>                                
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-md-5 pt-md-5">
                <div class="row">
                    <div class="col-md-auto offset-md-2">
                        <p class="mb-3 text-center">
                            <a href="{{ path('user_update', { 'id': app.user.id }) }}" class="btn btn-secondary d-md-block">
                                {{ 'account.update.title'|trans() }}
                            </a>
                        </p>
                        <p class="text-center">
                            <a href="{{ path('app_reset_password', { 'id': app.user.id }) }}" class="btn btn-secondary d-md-block">
                                {{ 'account.reset_password'|trans() }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}