{% extends 'front/layout.html.twig' %}
{% trans_default_domain 'user_messages' %}
{% set locale = app.request.locale %}

{% block title %}{{ 'account.update.title'|trans() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user_update_app', null, 'frontApp') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
    
{% block content %}
    <div id="loader"></div>

    <div class="row">
        <div class="col-lg-7 mx-auto mt-5">
            <div class="card border-0 my-4 bg-light-50">

                <div class="card-header py-4 pl-4 bg-secondary-80 text-center text-white">
                    <h3 class="h4 mb-0">{{ 'account.update.title'|trans() }}</h3>
                </div>
                {{ form_start(form) }}

                <div class="card-body bg-white-70 p-4">

                        <div class="row mt-2 mb-3">
                            <div class="col-sm-4 col-3">
                                {{ form_label(form.imageFilename) }}
                            </div>
                            <div class="col-sm-8 col-9">
                                <div class="row row-img">
                                    <div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 col-auto">
                                        <div class="img-circle">
                                            <img src="{{ user.imageFilename == '' ? asset('/img/unknown.jpg') : asset('/uploads/img/'~ user.imageFilename) }}"
                                                data-toggle="tooltip" data-placement="right"
                                                title="{{ user.imageFilename == '' ? 'account.image.add'|trans() : 'account.image.update'|trans() }}"
                                                id="defaultImg" alt="">
                                            <img src=""
                                                data-toggle="tooltip" data-placement="right"
                                                title="{{ 'account.image.update'|trans() }}"
                                                id="previewImg" class="d-none" alt="">
                                        </div>
                                    </div>
                                    <div class="col-1 p-0">
                                        <span class="text-secondary unupload-img d-none"><i class="fas fa-times-circle"></i></span>
                                        {% if user.imageFilename != '' %}
                                            <span class="text-secondary delete-img"><i class="fas fa-times-circle"></i></span>
                                        {% endif %}
                                    </div>
                                    <div class="form-error col-xl-8 col-lg-12 col-md-8">
                                        {{ form_errors(form.imageFilename) }}
                                    </div>
                                    <div class="d-none">{{ form_widget(form.imageFilename) }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2 mb-3">
                            <div class="col-sm-4 pt-2">
                                {{ form_label(form.email) }}
                            </div>
                            <div class="col-sm-8">
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-sm-4 pt-2">
                                {{ form_label(form.name) }}
                            </div>
                            <div class="col-sm-8">
                                {{ form_widget(form.name) }}
                                {{ form_errors(form.name) }}
                            </div>
                        </div>

                        <div id="lang" class="row mt-3 mb-4">
                            <div class="col-sm-4 pt-2">
                                {{ form_label(form.lang) }}
                            </div>
                            <div class="col-sm-8 text-capitalize">
                                {{ form_widget(form.lang) }}
                                {{ form_errors(form.lang) }}
                           </div>
                        </div>

                        <div id="langs" class="row mt-3 mb-5">
                            <div class="col-sm-4 pt-2">
                                {{ form_label(form.langs) }}
                            </div>
                            <div class="col-sm-8 text-capitalize">
                                {{ form_widget(form.langs) }}
                                {{ form_errors(form.langs) }}
                           </div>
                        </div>

                        <div class="row mt-1 mb-4">
                            <div class="col-10 mx-auto line-11">
                                {{ form_row(form.langContributor) }}
                            </div>
                        </div>

                        <div id="contributorLangs" class="row mt-1 mb-4">
                            <div class="col-sm-7 pt-1 pb-2 text-right line-11">
                                {{ form_label(form.contributorLangs) }}
                            </div>
                            <div class="col-sm-5 text-capitalize">
                                {{ form_widget(form.contributorLangs) }}
                                {{ form_errors(form.contributorLangs) }}
                           </div>
                        </div>

                </div>

                <div class="card-footer bg-light text-right">
                    <div class="d-flex justify-content-between">
                        <a href="{{ path('user_account') }}" class="btn btn-light">
                            {{ 'action.cancel'|trans() }}
                        </a>
                        <button class="btn btn-secondary px-5" type="submit">
                            {{ 'action.validate'|trans() }}
                        </button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
             
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user_update_app', null, 'frontApp') }}
    <script>
        let path = {
            "locale" : "{{ locale }}",
        }
        let translations = {
            "single-searchLang" : "{{ 'account.lang.default' | trans }}",
            "multiple-search" : "{{ 'multiple_search' | trans }}",
        }
        let img = {
            "default" : "{{ asset('/img/unknown.jpg') }}",
        }
    </script>
{% endblock %}