{% trans_default_domain 'user_messages' %}
{% extends 'front/user/layout.html.twig' %}

{% block title %}{{ 'account.update.title'|trans() }}{% endblock %}

{% block content %}
<section class="pt-4 pb-4">
    <div class="container">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-4 mb-4">
                <div class="card-body">
                    {{ form_start(form) }}
                        <h1 class="h3 mb-4 font-weight-normal">{{ 'account.update.title'|trans() }}</h1>
                        <div class="row my-3">
                            <div class="col-sm-4 pt-2">
                                {{ form_label(form.email) }}
                            </div>
                            <div class="col-sm-8">
                                {{ form_widget(form.email) }}
                            </div>
                            <div class="form-error">
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-sm-4 pt-2">
                                {{ form_label(form.name) }}
                            </div>
                            <div class="col-sm-8">
                                {{ form_widget(form.name) }}
                            </div>
                            <div class="form-error">
                                {{ form_errors(form.name) }}
                            </div>
                        </div>
                        <div class="row mt-3 mb-4">
                            <div class="col-sm-4 pt-2">
                                <label for="">{{ 'account.lang_choice'|trans() }}</label>
                            </div>
                            <div class="col-sm-8">
                                <select class="form-control text-capitalize" id="select_user_langId">
                                    <option value="" class="text-black-50"{% if user.langId == '' %} selected{% endif %}>{{ 'account.default_lang.default'|trans() }}</option>
                                    {% for lang in langs %}
                                        <option value="{{ lang.id }}" {% if user.langId == lang.id %} selected{% endif %}>{{ lang.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {{ form_row(form.langId) }}
                        </div>
                        <div class="form-group text-right">
                            <button class="btn btn-primary" type="submit">
                                {{ 'account.update.submit'|trans() }}
                            </button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user_update_app') }}
{% endblock %}