{% set route = app.request.get('_route') %}
{% set locale = app.request.locale %}
{% set alerts = render_service.getUnreadUserMessages(app.user, 'alert', 1) %}
{% set envelopes = render_service.getUnreadUserMessages(app.user, 'envelop', 1) %}

<nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow" translate="no">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Date -->
    <div id="menu-date" class="d-none d-sm-inline-block ml-md-3 my-2 my-md-0 mw-100 text-capitalize">
        {{ "now"|format_datetime('full', 'none', locale=locale) }}
    </div>
    
    <!-- Menu lang  -->
    <ul id="menu-lang" class="navbar-nav mx-2 pointer">
        {% include 'block/_locale_switcher.html.twig' %}
    </ul>
    
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a href="{{ alerts ? '#' : path('back_alerts', { 'back': 'back' }) }}"
               {% if alerts %} data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% endif %}
               class="nav-link dropdown-toggle" id="alertsDropdown" role="button">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter{{ not alerts ? ' d-none'}}"
                      id="alertsCount">{{ alerts|length }}</span>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in{{ not alerts ? ' d-none'}}"
                aria-labelledby="alertsDropdown" id="alerts_dropdown">
                
                <h6 class="dropdown-header">
                    {{ 'message.alert.title'|trans({}, 'messenger_messages') }}
                </h6>
                
                {% for alert in alerts %}
                    <a class="dropdown-item d-flex align-items-center"
                       href="{{ path('follow_message', { 'back': 'back', 'id': alert.id }) }}"
                       id="{{ alert.id }}">
                        
                        <div class="mr-3 position-relative">
                            <div class="icon-circle bg-{{ alert.scanned == 1
                                    ? 'secondary' : alert.channel }} text-white">
                                {% if alert.entity == 'situ'
                                    or alert.entity == 'event'
                                    or alert.entity == 'categoryLevel1'
                                    or alert.entity == 'categoryLevel21'
                                %}<i class="fas fa-hands"></i>{%
                                elseif alert.channel == 'warning' %}<i class="fas fa-exclamation-triangle"></i>{%
                                elseif alert.channel == 'dannger' %}<i class="fas fa-radiation"></i>{% endif %}
                            </div>
                        </div>
                            
                        <div>
                            <div class="small text-gray-500">
                                {{ alert.dateCreate is empty ? ''
                                    : alert.dateCreate
                                        |format_datetime('full', 'short', locale=locale)
                                        |capitalize }}
                            </div>
                            {{ alert.subject|raw }}
                        </div>
                        
                    </a>
                {% endfor %}
                
                <a href="{{ path('back_alerts', { 'back': 'back' }) }}"
                   id="alertsList"
                   class="dropdown-item text-center small text-gray-500">
                    {{ 'message.alert.title_all'|trans({}, 'messenger_messages') }}
                </a>
                
            </div>
        </li>

        <!-- Nav Item - Envelopes -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a href="{{ envelopes ? '#' : path('back_envelopes', { 'back': 'back' }) }}"
               {% if envelopes %} data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% endif %}
               class="nav-link dropdown-toggle" id="envelopesDropdown" role="button">
                <i class="fas fa-envelope fa-fw"></i>
                <span class="badge badge-danger badge-counter{{ not envelopes ? ' d-none'}}"
                      id="envelopesCount">{{ envelopes|length }}</span>
            </a>
            <!-- Dropdown - Envelopes -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in{{ not alerts ? ' d-none'}}"
                aria-labelledby="envelopesDropdown" id="envelopes_dropdown">
                
                <h6 class="dropdown-header">
                    {{ 'message.alert.title'|trans({}, 'messenger_messages') }}
                </h6>
                
                {% for envelope in envelopes %}
                    <a class="dropdown-item d-flex align-items-center"
                       href="{{ path('follow_message', { 'back': 'back', 'id': alert.id }) }}"
                       id="{{ alert.id }}">
                        
                        <div class="mr-3 position-relative">
                            <div class="icon-circle bg-{{ envelope.scanned == 1
                                    ? 'secondary' : envelope.channel }} text-white">
                                {% if envelope.entity == 'situ'
                                    or envelope.entity == 'event'
                                    or envelope.entity == 'categoryLevel1'
                                    or envelope.entity == 'categoryLevel21'
                                %}<i class="fas fa-hands"></i>{%
                                elseif envelope.channel == 'warning' %}<i class="fas fa-exclamation-triangle"></i>{%
                                elseif envelope.channel == 'dannger' %}<i class="fas fa-radiation"></i>{% endif %}
                            </div>
                        </div>
                            
                        <div>
                            <div class="small text-gray-500">
                                {{ envelope.dateCreate is empty ? ''
                                    : envelope.dateCreate
                                        |format_datetime('full', 'short', locale=locale)
                                        |capitalize }}
                            </div>
                            {{ envelope.subject|raw }}
                        </div>
                        
                    </a>
                {% endfor %}
                
                <a href="{{ path('back_envelopes', { 'back': 'back' }) }}"
                   class="dropdown-item text-center small text-gray-500"
                   id="envelopesList">
                    {{ 'message.envelope.title_all'|trans({}, 'messenger_messages') }}
                </a>
                
            </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user }}</span>
                {% if app.user.imageFilename %}
                    <img class="img-profile rounded-circle" alt=""
                         src="{{ asset('/uploads/img/'~ app.user.imageFilename) }}">
                {% else %}
                    <i class="fas fa-user"></i>
                {% endif %}
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu py-0 dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="userDropdown">
                <a class="dropdown-item py-2 text-secondary" href="{{ path('front_home') }}">
                    <i class="fas fa-house-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    {{ 'nav_front'|trans({}, 'back_messages') }}
                </a>
                <a class="dropdown-item py-2 text-secondary" href="{{ path('user_account') }}">
                    <i class="fas fa-user-cog fa-sm fa-fw mr-2 text-gray-400"></i>
                    {{ 'user.account_profile'|trans({}, 'messages') }}
                </a>
                <div class="dropdown-divider my-0"></div>
                <a class="dropdown-item py-2 text-secondary" href="{{ path('app_logout') }}">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    {{ 'action.logout'|trans({}, 'security') }}
                </a>
            </div>
        </li>

    </ul>

</nav>