{% trans_default_domain 'back_messages' %}
{% set route = app.request.get('_route') %}

{% set can_create = true %}

<!-- Sidebar  -->
<ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center"
       href="{{ path('front_home') }}">
        <div class="sidebar-brand-icon">
            <img src="{{ asset('img/forlifeproject.png') }}" alt="">
        </div>
        <div class="sidebar-brand-text mx-3">{{ name_site }}</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item{{ route == 'back_home' ? ' active' }}">
        <a class="nav-link dashboard" href="{{ path('back_home') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>{{ 'sidebar.dashboard'|trans() }}</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider mb-1">

    <!-- Nav Items - Pages Collapse Menu -->
    {% if is_granted("ROLE_ADMIN") %}
    <li class="nav-item{{ route in ['back_lang_search', 'back_translation_site', 'back_translation_create'] ?' active' }}">
        <a class="nav-link collapsed pb-1" href="#" data-toggle="collapse" data-target="#collapseLang"
            aria-expanded="true" aria-controls="collapseLang">
            <i class="fas fa-globe"></i>
            <span>{{ 'sidebar.lang.title'|trans() }}</span>
        </a>
        <div id="collapseLang" class="collapse{{ route in ['back_lang_search', 'back_translation_site', 'back_translation_create'] ? ' show' }}"
             aria-labelledby="headingLang" data-parent="#accordionSidebar">
            <div class="bg-white mb-1 py-2 collapse-inner rounded">
                <a class="collapse-item{{ route == 'back_lang_search' ? ' active' }}"
                   href="{{ path('back_lang_search') }}">
                    {{ 'sidebar.lang.search'|trans() }}
                </a>
                <a class="collapse-item{{ route == 'back_translation_site' ? ' active' }}"
                   href="{{ path('back_translation_site') }}">
                    {{ 'sidebar.lang.translation'|trans() }}
                </a>
                {% if is_granted('ROLE_SUPER_ADMIN')  %}
                <a class="collapse-item{{ route == 'back_translation_create' ? ' active' }}"
                   href="{{ path('back_translation_create') }}">
                    {{ 'sidebar.lang.translator'|trans() }}
                </a>
                <a class="collapse-item{{ route == '' ? ' active' }}"
                   href="">
                    {{ 'sidebar.lang.yaml'|trans() }}
                </a>
                {% endif %}
            </div>
        </div>
    </li>
    {% endif %}
    
    {% if is_granted("ROLE_MODERATOR") %}
    <li class="nav-item{{ route in ['back_user_search', 'back_user_create', 'back_user_read', 'back_user_update'] ? ' active' }}">
        <a class="nav-link collapsed pb-1" href="#" data-toggle="collapse" data-target="#collapseUser"
            aria-expanded="true" aria-controls="collapseUser">
            <i class="fas fa-users"></i>
            <span>{{ 'sidebar.user.title'|trans() }}</span>
        </a>
        <div id="collapseUser" class="collapse{{ route in ['back_user_search', 'back_user_create', 'back_user_read', 'back_user_update'] ? ' show' }}"
             aria-labelledby="headingUser" data-parent="#accordionSidebar">
            <div class="bg-white mb-1 py-2 collapse-inner rounded">
                <a class="collapse-item{{ route == 'back_user_search' ? ' active' }}" href="{{ path('back_user_search') }}">
                    {{ 'sidebar.user.search'|trans() }}
                </a>
                {% if can_create %}
                    <a class="collapse-item{{ route == 'back_user_create' ? ' active' }}" href="{{ path('back_user_create') }}">
                        {{ 'sidebar.user.create'|trans() }}
                    </a>
                {% endif %}
            </div>
        </div>
    </li>
    
    <li class="nav-item{{ route in ['back_situs_search',
                                    'back_situ_read',
                                    'back_situ_verify',
                                    'back_situs_validation',
                                    'back_events',
                                    'back_categories'] ? ' active' }}">
        <a class="nav-link collapsed pb-1" href="#" data-toggle="collapse" data-target="#collapseContrib"
            aria-expanded="true" aria-controls="collapseContrib">
            <i class="fas fa-list-ul"></i>
            <span>{{ 'sidebar.contrib.title'|trans() }}</span>
        </a>
        <div id="collapseContrib" class="collapse{{ route in [  'back_situs_search',
                                                                'back_situ_read',
                                                                'back_situ_verify',
                                                                'back_situs_validation',
                                                                'back_events',
                                                                'back_categories'] ? ' show' }}"
             aria-labelledby="headingContrib" data-parent="#accordionSidebar">
            <div class="bg-white mb-1 py-2 collapse-inner rounded">
                <a class="collapse-item{{ route == 'back_situs_validation' ? ' active' }}"
                   href="{{ path('back_situs_validation') }}">
                    {{ 'sidebar.contrib.validation'|trans() }}
                </a>
                <a class="collapse-item{{ route == 'back_situs_search' ? ' active' }}"
                   href="{{ path('back_situs_search') }}">
                    {{ 'sidebar.contrib.search'|trans() }}
                </a>
                <a class="collapse-item{{ route == 'back_events' ? ' active' }}"
                   href="{{ path('back_events') }}">
                    {{ 'sidebar.event'|trans() }}
                </a>
                <a class="collapse-item{{ route == 'back_categories' ? ' active' }}"
                   href="{{ path('back_categories') }}">
                    {{ 'sidebar.category'|trans() }}
                </a>
            </div>
        </div>
    </li>
    {% endif %}
    
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block mt-3">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>