{% trans_default_domain 'back_messages' %}

{{ form_start(form) }}
    <div class="card shadow">

        <div id="translator" class="card-header py-1">
            <div class="row d-flex justify-content-between">
                <div class="col-auto">
                    <h6 class="px-0 mt-2" translate="no">
                        <span class="font-weight-bold text-primary">
                            {{ 'contrib.situ.verify.form.title'|trans }}
                        </span>
                    </h6>
                </div>
                <div class="col-auto mct-1px">
                    <div class="row ggt-row float-right">
                        <div class="col-auto px-1 mt-1"><i class="fas fa-globe-americas"></i></div>
                        <div class="col-auto px-0">
                            <div id="GGT"></div>
                        </div>
                        <div id="resetGGT" class="col-auto p-1 btn d-none">
                            <i class="far fa-times-circle"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body card-verify border-top px-4 pt-4 pb-3">
            
            {% set template = 'form' %}
            {{ include('back/situ/_models/situ.html.twig') }}

        </div>

        <div class="card-footer bg-light" translate="no">
            <div class="d-flex justify-content-center">
                <div id="refuse-btn" class="btn btn-warning mx-1 px-3">
                    {{ 'action.refuse'|trans({}, 'messages') }}
                </div>
                <div id="valid-btn" class="btn btn-primary mx-1 px-3 d-none">
                    {{ 'action.validate'|trans({}, 'messages') }}
                </div>
            </div>
        </div>
                
    </div>
                
    {% include "back/situ/verify/form/_refuse.html.twig" %}
    {% include "back/situ/verify/form/_valid.html.twig" %}
    {% if situ.initialSitu == 0 and situsTranslated|length > 1 %}
        {% include "back/situ/verify/form/_translation.html.twig" %}
    {% endif %}
    
{{ form_end(form) }}