{% trans_default_domain 'back_messages' %}
{% extends "back/layout.html.twig" %}
{% set locale = app.request.locale %}

{% block title %}{{ 'contrib.situ.verify.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('toggle-switch/css/toggle-switch.css') }}">
    {{ encore_entry_link_tags('situ_validation_app', null, 'backApp') }}
    {{ encore_entry_link_tags('app') }}
    <style>
        
    </style>
 {% endblock %}

{% block content %}
    <div id="loader"></div>
    
    <div class="container-fluid pt-4">
        
        <div class="d-sm-flex justify-content-between mb-4" translate="no">
            <h1 class="h3 mb-0 text-gray-800">{{ 'contrib.situ.verify.title'|trans }}</h1>
            <a href="{{ path('back_situs_validation') }}" class="btn btn-secondary mx-2 pt-1">
                <i class="fas fa-reply"></i> {{ 'action.back'|trans }}
            </a>
        </div>
        
        <div class="row">
            
            <div id="situ-data" class="col-lg-6 mb-3" translate="no">
                {% include "back/situ/verify/_data.html.twig" %}
            </div>
            
            <div id="situ" data-id="{{ situ.id }}" class="col-lg-6 h-adjust">
                {% include "back/situ/verify/_form.html.twig" %}
            </div>
            
        </div>
            
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('toggle-switch/js/script.js') }}"></script>
    {{ encore_entry_script_tags('situ_validation_app', null, 'backApp') }}
    <script>
        var path = {
            "locale" : "{{ locale }}",
        }
        var translations = {
            "toValidate" : "{{ 'contrib.situ.verify.data.to_validate'|trans }}",
            "ok" : "{{ 'contrib.situ.verify.form.action.valid'|trans }}",
            "todoValidate" : "{{ 'status.validation'|trans }}",
            "doneValidated" : "{{ 'status.validated'|trans }}",
            "noResult" : "{{ 'select2.no_result'|trans }}",
            "createEventRefuse" : "{{ 'contrib.situ.verify.form.modal.refuse.comment.create.eventRefuse'|trans }}",
            "createCategoryLevel1Refuse" : "{{ 'contrib.situ.verify.form.modal.refuse.comment.create.categoryLevel1Refuse'|trans }}",
            "createCategoryLevel2Refuse" : "{{ 'contrib.situ.verify.form.modal.refuse.comment.create.categoryLevel2Refuse'|trans }}",
            "createSituRefuse" : "",
            "createItemsRefuse" : "",
            "inappropriateEventRefuse" : "{{ 'contrib.situ.verify.form.modal.refuse.comment.inappropriate.eventRefuse'|trans }}",
            "inappropriateCategoryLevel1Refuse" : "{{ 'contrib.situ.verify.form.modal.refuse.comment.inappropriate.categoryLevel1Refuse'|trans }}",
            "inappropriateCategoryLevel2Refuse" : "{{ 'contrib.situ.verify.form.modal.refuse.comment.inappropriate.categoryLevel2Refuse'|trans }}",
            "inappropriateSituRefuse" : "{{ 'contrib.situ.verify.form.modal.refuse.comment.inappropriate.situRefuse'|trans }}",
            "inappropriateItemsRefuse" : "{{ 'contrib.situ.verify.form.modal.refuse.comment.inappropriate.itemsRefuse'|trans }}",
            "unvalidRefuse" : "{{ 'contrib.situ.verify.form.modal.refuse.unvalid'|trans }}",
            "translationRefuse" : "{{ 'contrib.situ.verify.form.modal.refuse.comment.conflict.validated'|trans }}",
            
            {% for translation in situsTranslated %}
                {% if translation.statusId == 3 %}
                    "translationRead" : "{{ 'contrib.situ.verify.form.modal.refuse.comment.conflict.read'|trans }}",
                    "translationPath" : "/{{ authorLang }}/read/{{ translation.id }}",
                {% endif %}
            {% endfor %}
        }
        function googleTranslateElementInit() { 
            new google.translate.TranslateElement({pageLanguage: '{{ situ.lang.lang }}'},'GGT')
        }
    </script> 
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
{% endblock %}
