{% trans_default_domain 'back_messages' %}

<div class="col-lg-10 offset-lg-1 col-12 offset-0 px-0">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ 'lang.translation.contrib.lang.table'|trans() }}</h6>
        </div>
        <div id="langs-list" class="card-body pb-3">

            <table id="dataTable-langsList" class="table table-sm mb-0 nowrap">
                <thead class="bg-gray-600 text-white">
                    <tr>
                        <th>{{ 'lang.field.lang'|trans() }}</th>
                        <th>{{ 'lang.field.english_name'|trans() }}</th>
                        <th>{{ 'lang.field.name'|trans() }}</th>
                        <th>{{ 'lang.field.file'|trans() }}</th>
                        <th>{{ 'lang.field.contributor'|trans() }}</th>
                        <th>{{ 'lang.field.enabled'|trans() }}</th>
                        <th>{{ 'lang.field.action'|trans() }}</th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                {% for lang in langs %}
                    {% if lang.users is not empty %}
                    <tr>
                        <td>{{ lang.lang }}</td>
                        <td>{{ lang.englishName }}</td>
                        <td class="decode">{{ lang.name }}</td>
                        <td>{{ lang.userFiles|length }}</td>
                        <td>
                        {% for user in lang.users %}
                            {{ user.name }} {{ user.id }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        </td>
                        <td>
                            {% if lang.enabled == 1 %}
                                {{ 'yes'|trans() }}
                            {% else %}
                                {{ 'no'|trans() }}
                            {% endif %}
                        </td>
                        <td>
                            {% if lang.enabled == 1 %}
                            <a href="#"
                               data-toggle="tooltip" data-placement="left" title="{{ 'lang.field.btn.success'|trans() }}"
                               class="btn btn-outline-success tooltip-on" aria-label="{{ 'lang.field.btn.success'|trans() }}" role="button">
                                <i class="far fa-paper-plane"></i>
                            </a>
                            {% else %}
                            <a href="#"
                               data-toggle="tooltip" data-placement="left" title="{{ 'lang.field.btn.danger'|trans() }}"
                               class="btn btn-outline-danger tooltip-on" aria-label="{{ 'lang.field.btn.danger'|trans() }}" role="button">
                                <i class="far fa-paper-plane"></i>
                            </a>
                            <a href="#"
                               data-toggle="tooltip" data-placement="left" title="{{ 'lang.field.btn.warning'|trans() }}"
                               class="btn btn-outline-warning tooltip-on" aria-label="{{ 'lang.field.btn.warning'|trans() }}" role="button">
                                <i class="far fa-paper-plane"></i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
