{% trans_default_domain 'back_messages' %}
{% extends "back/layout.html.twig" %}

{% block title %}{{ 'lang.translation.table.title'|trans() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('table_app', null, 'backApp') }}
    {{ encore_entry_link_tags('flp_theme') }}
 {% endblock %}


{% block content %}
    <div id="loader"></div>
    <div class="container-fluid pt-4">
        
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ 'lang.translation.form.title'|trans() }}</h1>
            <a href="{{ path('back_translation_create') }}"  class="btn btn-primary mx-2 pt-1">
                <i class="fas fa-plus"></i>
                {{ 'lang.translation.form.field.btn.create'|trans() }}
            </a>
        </div>
            
        <div class="card shadow mb-4">

            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ 'lang.translation.table.title'|trans() }}</h6>
            </div>

            <div id="list" class="card-body pb-3 back-dataTable">

                {% if translationsForms is empty %}
                    {{ 'lang.translation.table.empty'|trans() }}
                {% else %}

                <table id="dataTable-list" class="table table-sm mb-0 nowrap">
                    <thead class="bg-gray-600 text-white">
                        <tr>
                            <th class="no-sort">{{ 'action.action'|trans() }}</th>
                            <th class="pl-2">{{ 'label.name'|trans() }}</th>
                            <th class="pl-2">{{ 'label.status'|trans() }}</th>
                            <th class="pl-2">{{ 'label.state'|trans() }}</th>
                            <th class="pl-2">{{ 'label.date_enable'|trans() }}</th>
                            <th class="pl-2">{{ 'label.date_update'|trans() }}</th> 
                            <th class="pl-2">{{ 'label.user'|trans() }}</th>
                            <th class="pl-2">{{ 'label.date_creation'|trans() }}</th>        
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        {% for form in translationsForms %}
                        <tr>
                            <td class="align-middle">
                            {% if app.user.id == form.userId %}
                                {% if form.statusId == 1 or form.statusId == 2 %}
                                    <a href="{{ path('back_translation_create', { 'id': form.id }) }}"
                                       class="btn btn-outline-primary width-max-40"
                                       data-toggle="tooltip" data-placement="left"
                                       title="{{ 'action.edit'|trans() }}"
                                       aria-label="{{ 'action.edit'|trans() }}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                {% elseif form.statusId == 3 %}
                                    <a href="{{ path('back_translation_form_clone', { 'id': form.id }) }}"
                                       class="btn btn-outline-warning width-max-40"
                                       data-toggle="tooltip" data-placement="left"
                                       title="{{ 'action.clone'|trans() }}"
                                       aria-label="{{ 'action.clone'|trans() }}">
                                        <i class="far fa-clone"></i>
                                    </a>
                                {% endif %}
                            {% else %}
                                {% if form.statusId == 1 or form.statusId == 2 or form.statusId == 3 %}
                                    <a href="{{ path('back_translation_form_clone', { 'id': form.id }) }}"
                                       class="btn btn-outline-warning width-max-40"
                                       data-toggle="tooltip" data-placement="left"
                                       title="{{ 'action.clone'|trans() }}"
                                       aria-label="{{ 'action.clone'|trans() }}">
                                        <i class="far fa-clone"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                            </td>
                            <td class="px-2 align-middle">{{ form.name }}</td>
                            <td class="px-2 align-middle">
                                {% if form.statusId == 1 %}
                                    {{ 'status.writing'|trans() }}
                                {% elseif form.statusId == 2 %}
                                    {{ 'status.validation'|trans() }}
                                {% elseif form.statusId == 3 %}
                                    {{ 'status.validated'|trans() }}
                                {% elseif form.statusId == 4 %}
                                    {{ 'status.refused'|trans() }}
                                {% else %}
                                    {{ 'status.deleted'|trans() }}
                                {% endif %}
                            </td>
                            <td class="px-2 align-middle">
                                {% if form.statusId == 3 %}
                                    {% if form.enabled == 0 %}
                                        <a href="{{ path('back_translation_permute_enabled', { 'ids': {0: form.id} }) }}"
                                           role="button" class="btn btn-primary py-1">
                                            <span>{{ 'action.enable'|trans }}</span>
                                        </a>
                                    {% else %}
                                        <span>{{ 'label.enabled'|trans }}</span>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="px-2 align-middle">{{ form.dateStatus ? form.dateStatus|format_datetime('short', 'medium', locale=locale) : '' }}</td>
                            <td class="px-2 align-middle">{{ form.dateLastUpdate ? form.dateLastUpdate|format_datetime('short', 'medium', locale=locale) : '' }}</td>
                            <td class="px-2 align-middle">{{ form.userName }}</td>
                            <td class="px-2 align-middle">{{ form.dateCreation|format_datetime('short', 'medium', locale=locale) }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>            
                {% endif %}
            </div>
        </div>

        
        <div id="response"></div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('table_app', null, 'backApp') }}
{% endblock %}