{% trans_default_domain 'back_messages' %}
{% extends "back/layout.html.twig" %}

{% block title %}{{  'lang.translation.yaml.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('lang_translation_generate_app', null, 'backApp') }}
    {{ encore_entry_link_tags('flp_theme') }}
 {% endblock %}


{% block content %}
    <div id="loader"></div>
    <div class="container-fluid pt-4">
        
        <div class="d-sm-flex justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ 'lang.translation.yaml.title'|trans() }}</h1>
        </div>
        
        <div class="row">
            <div class="col-xl-10 col-12 mx-auto">
                <div class="card shadow mb-4">

                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">{{ 'lang.translation.yaml.table'|trans() }}</h6>
                    </div>

                    <div id="translations-list" class="card-body pb-3 back-dataTable">

                    {% if translations is empty %}
                        {{ 'lang.translation.site.table.empty'|trans() }}
                    {% else %}

                        <table id="dataTable-translations" class="table table-sm nowrap">
                            <thead class="bg-gray-600 text-white">
                                <tr>
                                    <th class="pl-2">{{ 'lang.translation.yaml.action.title'|trans() }}</th>
                                    <th class="pl-2">{{ 'label.enabled'|trans() }}</th>
                                    <th class="pl-2">{{ 'label.name'|trans() }}</th>
                                    <th class="pl-2">{{ 'label.lang'|trans() }}</th>
                                    <th class="pl-2">{{ 'lang.translation.yaml.action.date_generated'|trans() }}</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white">
                                {% for translation in translations %}
                                    <tr>
                                        <td class="px-2 align-middle">
                                            {% if translation.statusId == 3
                                                and translation.enabled
                                                and translation.yamlGenerated == false %}
                                                <a href="{{ path('back_translation_permute_enabled', { 'ids': {0: translation.id} }) }}" role="button"
                                                    class="btn btn-primary py-1">
                                                    <span>{{ 'lang.translation.yaml.action.generate'|trans }}</span>
                                                </a>
                                            {% elseif translation.statusId == 3
                                                and translation.yamlGenerated %}
                                                <span class="px-3">{{ 'lang.translation.yaml.action.generated'|trans }}</span>
                                            {% endif %}
                                        </td>
                                        <td class="px-2 align-middle">
                                            {{ translation.enabled ? 'yes'|trans : 'no'|trans}}
                                        </td>
                                        <td class="px-2 align-middle">{{ translation.name }}</td>
                                        <td class="px-2 align-middle text-uppercase">{{ translation.lang }}</td>
                                        <td class="px-2 align-middle">
                                            {{ translation.dateGenerated
                                                ? translation.dateGenerated|format_datetime('short', 'medium', locale=locale)
                                                : '' }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>            
                    {% endif %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('lang_translation_generate_app', null, 'backApp') }}
{% endblock %}
