{% extends 'back/layout.html.twig' %}
{% trans_default_domain 'back_messages' %}
{% set locale = app.request.locale %}

{% block title %}{{ translation.id
                    ? 'lang.translation.site.form.update'|trans()
                    : 'lang.translation.site.form.create'|trans() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('lang_translation_site_create_app', null, 'backApp') }}
{% endblock %}
    
{% block content %}
<div class="container-fluid pt-4">

    <div class="align-items-center d-flex justify-content-between row mb-4">
        <div class="col-sm-auto col-12">
            <h1 class="h3 text-gray-800">
                {{ 'lang.translation.site.action'|trans() }}
            </h1>
        </div>
        <div class="d-flex justify-content-end col-sm-auto col-12">
            <a href="{{ path('back_translation_site') }}" class="btn btn-secondary">
                {{ 'action.cancel'|trans() }}
            </a>
        </div>
    </div>

    <div class="card shadow">

        <div class="card-header py-3">
            <div class="d-flex justify-content-start row">
                <div class="col-sm-auto col-12">
                    <h6 class="m-0 font-weight-bold text-primary">
                        {{ translation.id
                            ? 'lang.translation.site.form.update'|trans()
                            : 'lang.translation.site.form.create'|trans() }}</h6>
                </div>
                <div class="col-sm-auto col-12 text-primary line-11">
                    <span class="h6">{{ 'label_dp.environnement'|trans() }} {{ referent.name }}</span>
                    <span class="h6 px-1"> - </span>
                    <span class="h6">{{ 'label_dp.lang'|trans() }} {{ langName }}</span>
                </div>
            </div>
        </div>
        
        {% include "form/translation.html.twig" %}

    </div>

</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('lang_translation_site_create_app', null, 'backApp') }}
{% endblock %}