{% trans_default_domain 'back_messages' %}

<div class="modal fade" id="refuseModal" translate="no"
     data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="refuseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="refuseModalLabel">
                    {{ 'contrib.situ.verify.form.modal.refuse.title'|trans() }}
                </h5>
            </div>

            <div class="modal-body">
                <h5 class="text-center mb-4">{{ 'contrib.situ.verify.form.modal.refuse.question'|trans() }}</h5>
                <ul class="small pb-2 mb-4">
                    {{ 'contrib.situ.verify.form.modal.refuse.detail'|trans()|raw }}
                </ul>
                
                <h6 class="font-bold">{{ 'contrib.situ.verify.form.modal.refuse.entities'|trans() }}</h6>
                
                {% if situ.initialSitu == 0 and situsTranslated|length > 1 %}
                    <div id="conflict-refuse" class="row mb-2">
                        <div class="col-md-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="translationRefuse">
                                <label class="form-check-label" for="translationRefuse">
                                    {{ 'contrib.situ.verify.form.modal.refuse.translation'|trans() }}
                                </label>
                            </div>
                        </div>
                    </div>
                {% endif %}
                
                <div id="no-conflict" class="row mb-4">
                    <div id="no-contrib">
                        <div class="col-md-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="EventRefuse">
                                <label class="form-check-label" for="EventRefuse">
                                    {{ 'label.event'|trans() }}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="CategoryLevel1Refuse">
                                <label class="form-check-label" for="CategoryLevel1Refuse">
                                    {{ 'label.catLevel1'|trans() }}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="CategoryLevel2Refuse">
                                <label class="form-check-label" for="CategoryLevel2Refuse">
                                    {{ 'label.catLevel2'|trans() }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="contrib">
                        <div class="col-md-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="SituRefuse">
                                <label class="form-check-label" for="SituRefuse">
                                    {{ 'label.situ_'|trans() }}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="ItemsRefuse">
                                <label class="form-check-label" for="ItemsRefuse">
                                    {{ 'contrib.situ.verify.form.modal.refuse.items'|trans() }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                       
                <div class="row mb-4">         
                    <div class="col-md-5 mb-2">
                        <select id="refuseReason" class="form-control" required="required">
                            <option value="">{{ 'contrib.situ.verify.form.modal.refuse.select.placeholder'|trans() }}</option>
                            <option value="inappropriate">{{ 'contrib.situ.verify.form.modal.refuse.select.inappropriate'|trans() }}</option>
                            <option value="create">{{ 'contrib.situ.verify.form.modal.refuse.select.create'|trans() }}</option>
                            <option value="other">{{ 'contrib.situ.verify.form.modal.refuse.select.other'|trans() }}</option>
                        </select>
                    </div>
                    <div class="col-md-7">
                        <textarea id="refuseComment" name="refuseComment" class="form-control" rows="7"
                                  placeholder="{{ 'contrib.situ.verify.form.modal.refuse.comment.placeholder'|trans() }}"></textarea>
                    </div>
                </div>
                    
                <div id="refuseError"></div>

            </div>
                    
            <div class="modal-footer" translate="no">
                <span id="refuse-cancel" class="btn btn-secondary">
                    {{ 'action.cancel'|trans() }}
                </span>
                <span class="btn btn-primary submit" data-action="refuse">
                    {{ 'action.confirm'|trans() }}
                </span>
            </div>
        </div>
    </div>
</div>