{% trans_default_domain 'back_messages' %}
{% set template = 'translation' %}         

<div class="modal fade" id="translateModal" data-backdrop="static" data-keyboard="false"
     tabindex="-1" aria-labelledby="translateModalLabel" aria-hidden="true" translate="no">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white row">
                <div class="col-auto mx-auto mb-3 border-bottom">
                    <h5 class="modal-title">
                        {{ 'contrib.situ.verify.form.modal.translated.title'|trans }}
                    </h5>
                    <p class="small">
                        {{ 'contrib.situ.verify.form.modal.translated.comment'|trans }}
                    </p>
                </div>
                <div class="col-5">
                    <h5 class="modal-title">
                        {{ 'contrib.situ.verify.form.modal.translated.initial'|trans }}
                        <span class="id">{{ situInitial.id }}</span>
                    </h5>
                </div>
                <div class="col-7">
                    <h5 class="modal-title">
                        {{ 'label.translation_s'|trans({}, 'messages') }}
                    </h5>
                </div>
            </div>
            <div class="modal-body text-secondary h-adjust">
                
                <div class="row">
                    
                    <!-- Initial -->
                    <div class="col-5">
                        
                        {{ include('back/situ/_models/situ.html.twig') }}
                        
                    </div><!-- EndInitial -->
                        
                    <!-- Situs -->
                    <div class="col-7">

                        <div class="row border-left">
                        
                            <!-- NavTabs -->
                            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-3 col-4 position-relative">
                                <div class="nav flex-column nav-pills position-fixed" id="v-pills-tab"
                                     role="tablist" aria-orientation="vertical">
                                    {# Current first #}
                                    {% for translation in situsTranslated %}
                                        {% if translation.id == situ.id %}
                                            <a class="nav-link mb-1 active"
                                               id="v-pills-{{ translation.id }}-tab"
                                               data-toggle="pill" href="#v-pills-{{ translation.id }}"
                                               role="tab" aria-controls="v-pills-{{ translation.id }}" aria-selected="false">
                                                <span class="d-md-inline d-none">
                                                    {{ 'contrib.situ.verify.form.modal.translated.current'|trans }}
                                                </span>
                                                <span class="id">{{ translation.id }}</span>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                    {% for translation in situsTranslated %}
                                        {% if translation.id != situ.id %}
                                            <a class="nav-link mb-1{{ translation.status.id == 3 ? ' bg-success text-white' }}"
                                               id="v-pills-{{ translation.id }}-tab"
                                               data-toggle="pill" href="#v-pills-{{ translation.id }}"
                                               role="tab" aria-controls="v-pills-{{ translation.id }}" aria-selected="false">
                                                <span class="d-md-inline d-none">
                                                    {{ 'label_dp.translation'|trans({}, 'messages') }}
                                                </span>
                                                <span class="id">{{ translation.id }}</span>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div><!-- EndNavTabs -->
                            
                            <!-- ContentTabs -->
                            <div class="col-xl-9 col-lg-8 col-md-7 col-sm-9 col-8">
                                <div class="tab-content" id="v-pills-tabContent">
                                    {% for situ in situsTranslated %}
                                        <div class="tab-pane fade{{ translation.id == situ.id ? ' show active' }}"
                                             id="v-pills-{{ translation.id }}"
                                             role="tabpanel" aria-labelledby="v-pills-{{ translation.id }}-tab">
                                            
                                            {{ include('back/situ/_models/situ.html.twig') }}
                                            
                                        </div>
                                    {% endfor %}
                                </div>
                            </div><!-- EndContentTabs -->
                            
                        </div> 
                                
                    </div><!-- EndSitus -->
                </div>
            </div>
                
            <div class="modal-footer bg-dark d-flex justify-content-center">
                <button class="btn bg-white px-4" data-dismiss="modal">
                    {{ 'action.close'|trans({}, 'messages') }}
                </button>
            </div>
        </div>
    </div>

</div>