{% trans_default_domain 'back_messages' %}
                 
<div class="modal fade" id="translateModal" data-backdrop="static" data-keyboard="false"
     tabindex="-1" aria-labelledby="translateModalLabel" aria-hidden="true" translate="no">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white row">
                <div class="col-auto mx-auto mb-3 border-bottom">
                    <h5 class="modal-title">
                        {{ 'contrib.situ.verify.form.modal.translated.title'|trans }}
                    </h5>
                    <p class="small">
                        {{ 'contrib.situ.verify.form.modal.translated.comment'|trans }}
                    </p>
                </div>
                <div class="col-5">
                    <h5 class="modal-title">
                        {{ 'contrib.situ.verify.form.modal.translated.initial'|trans }}
                        <span class="id">{{ situInitial.id }}</span>
                    </h5>
                </div>
                <div class="col-7">
                    <h5 class="modal-title">
                        {{ 'label.translation_s'|trans }}
                    </h5>
                </div>
            </div>
            <div class="modal-body text-secondary h-adjust">
                
                <div class="row">
                    
                    <!-- Initial -->
                    <div class="col-5">
                
                        <div class="row mb-3">
                            <div class="col-md-4 font-weight-bold">
                                {{ 'label_dp.user'|trans }}
                            </div>
                            <div class="col-md-8 first-letter">
                                <span class="id">{{ situInitial.userId }}</span>
                            </div>
                        </div>
                
                        <div class="row mb-3">
                            <div class="col-md-4 font-weight-bold">
                                {{ 'label_dp.status'|trans }}
                            </div>
                            <div class="col-md-8 first-letter">
                                {% if situInitial.status.id != 4 or situInitial.status.id != 5 %}
                                    {{ situInitial.status.name|trans }}
                                {% endif %}
                            </div>
                        </div>
                
                        <div class="row mb-3">
                            <div class="col-md-4 font-weight-bold">
                                {{ 'label_dp.event'|trans }}
                            </div>
                            <div class="col-md-8 first-letter">
                                {{ situInitial.event.title }}
                                {% if situInitial.event.validated == 0 %}
                                    <span class="pl-0 pr-3">
                                        {{ 'contrib.situ.verify.data.to_validate'|trans }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4 font-weight-bold">
                                {{ 'label_dp.catLevel1'|trans }}
                            </div>
                            <div class="col-md-8 first-letter">
                                <span id="{{ situInitial.id }}headingCatLv1">
                                    <span class="pl-0 pr-3 pointer" data-toggle="collapse"
                                          data-target="#{{ situInitial.id }}collapseCatLv1"
                                          aria-expanded="false" aria-controls="{{ situInitial.id }}collapseCatLv1">
                                        {{ situInitial.categoryLevel1.title }}
                                        {% if situInitial.categoryLevel1.validated == 0 %}
                                            {{ 'contrib.situ.verify.data.to_validate'|trans }}
                                        {% endif %}
                                        <small class="align-text-bottom"><i class="fas fa-question-circle"></i></small>
                                    </span>
                                </span>
                                <div id="{{ situInitial.id }}collapseCatLv1" class="mt-1 small collapse"
                                     aria-labelledby="{{ situInitial.id }}headingCatLv1">
                                    <div class="d-block font-weight-bold">{{ 'label_dp.description'|trans }}</div>
                                    <div class="mt-1 px-3 line-11 first-letter">{{ situInitial.categoryLevel1.description }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row pb-1">
                            <div class="col-md-4 font-weight-bold">
                                {{ 'label_dp.catLevel2'|trans }}
                            </div>
                            <div class="col-md-8 first-letter mb-1 pb-2">
                                <span id="{{ situInitial.id }}headingCatLv2">
                                    <span class="pl-0 pr-3 pointer" data-toggle="collapse"
                                          data-target="#{{ situInitial.id }}collapseCatLv2" aria-expanded="false"
                                          aria-controls="{{ situInitial.id }}collapseCatLv2">
                                        {{ situInitial.categoryLevel2.title }}
                                        {% if situInitial.categoryLevel2.validated == 0 %}
                                            {{ 'contrib.situ.verify.data.to_validate'|trans }}
                                        {% endif %}
                                        <small class="align-text-bottom"><i class="fas fa-question-circle"></i></small>
                                    </span>
                                </span>
                                <div id="{{ situInitial.id }}collapseCatLv2" class="mt-1 small collapse"
                                     aria-labelledby="{{ situInitial.id }}headingCatLv2">
                                    <div class="d-block font-weight-bold">{{ 'label_dp.description'|trans }}</div>
                                    <div class="mt-1 px-3 line-11 first-letter">{{ situInitial.categoryLevel2.description }}</div>
                                </div>
                            </div>
                        </div>

                        <h2 class="h5 font-weight-normal mt-2 pt-4">{{ 'label.situ'|trans }}</h2>

                        <div class="row">
                            <div class="col-12 mb-1 font-weight-bold">
                                {{ 'label_dp.title'|trans }}
                            </div>
                            <div class="col-12 mb-3 px-4">
                                <div class="line-11 first-letter h-title">{{ situInitial.title }}</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 mb-1 font-weight-bold">
                                {{ 'label_dp.description'|trans }}
                            </div>
                            <div class="col-12 mb-3 px-4">
                                <div class="line-11 first-letter h-description">{{ situInitial.description }}</div>
                            </div>
                        </div>

                        <div class="row">
                            {% for item in situInitial.situItems %}
                                <div class="col-12">
                                    {% if item.score == 0 %}
                                        <h2 class="h5 font-weight-normal">
                                            {{ 'contrib.situ.verify.data.item.label'|trans }}
                                        </h2>
                                    {% else %}
                                        {% if loop.index == 2 %}
                                            <h2 class="h5 mb-3 font-weight-normal">
                                                {% if situ.situItems|length > 2 %}
                                                {{ 'contrib.situ.verify.data.item.label_items'|trans }}
                                                {% else %}
                                                {{ 'contrib.situ.verify.data.item.label_item'|trans }}
                                                {% endif %}
                                            </h2>
                                        {% endif %}
                                        <div class="mb-3 font-weight-bold">
                                            {{ 'contrib.situ.verify.data.item.score.title'|trans }}
                                            {% if item.score == 1 %}
                                                <span class="text-info">
                                                    {{ 'contrib.situ.verify.data.item.score.info'|trans }}
                                                </span>
                                            {% elseif item.score == 2 %}
                                                <span class="text-warning">
                                                    {{ 'contrib.situ.verify.data.item.score.warning'|trans }}
                                                </span>
                                            {% else %}
                                                <span class="text-danger">
                                                    {{ 'contrib.situ.verify.data.item.score.danger'|trans }}
                                                </span>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-12 mb-1 font-weight-bold">
                                    {{ 'label_dp.title'|trans }}
                                </div>
                                <div class="col-12 mb-3 px-4 line-11 first-letter h-title">
                                    {{ item.title }}
                                </div>
                                <div class="col-12 mb-1 font-weight-bold">
                                    {{ 'label_dp.description'|trans }}
                                </div>
                                <div class="col-12 px-5 line-11 first-letter h-description{% if loop.index != 1
                                     and loop.last == false %} border-bottom{% endif %}
                                     {% if loop.first == true %} mb-3{% elseif loop.last == false %} mb-4{% endif %}">
                                    {{ item.description }}
                                </div>
                            {% endfor %}
                        </div>
                    </div><!-- EndInitial -->
                        
                    <!-- Situs -->
                    <div class="col-7">

                        <div class="row border-left">
                        
                            <!-- NavTabs -->
                            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-3 col-4 position-relative">
                                <div class="nav flex-column nav-pills position-fixed" id="v-pills-tab"
                                     role="tablist" aria-orientation="vertical">
                                    {# Current first #}
                                    {% for translation in situsTranslated %}
                                        {% if translation.id == situ.id %}
                                            <a class="nav-link mb-1 active"
                                               id="v-pills-{{ translation.id }}-tab"
                                               data-toggle="pill" href="#v-pills-{{ translation.id }}"
                                               role="tab" aria-controls="v-pills-{{ translation.id }}" aria-selected="false">
                                                <span class="d-md-inline d-none">
                                                    {{ 'contrib.situ.verify.form.modal.translated.current'|trans }}
                                                </span>
                                                <span class="id">{{ translation.id }}</span>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                    {% for translation in situsTranslated %}
                                        {% if translation.id != situ.id %}
                                            <a class="nav-link mb-1{{ translation.status.id == 3 ? ' bg-success text-white' }}"
                                               id="v-pills-{{ translation.id }}-tab"
                                               data-toggle="pill" href="#v-pills-{{ translation.id }}"
                                               role="tab" aria-controls="v-pills-{{ translation.id }}" aria-selected="false">
                                                <span class="d-md-inline d-none">
                                                    {{ 'label_dp.translation'|trans }}
                                                </span>
                                                <span class="id">{{ translation.id }}</span>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div><!-- EndNavTabs -->
                            
                            <!-- ContentTabs -->
                            <div class="col-xl-9 col-lg-8 col-md-7 col-sm-9 col-8">
                                <div class="tab-content" id="v-pills-tabContent">
                                    {% for translation in situsTranslated %}
                                        <div class="tab-pane fade{{ translation.id == situ.id ? ' show active' }}"
                                             id="v-pills-{{ translation.id }}"
                                             role="tabpanel" aria-labelledby="v-pills-{{ translation.id }}-tab">
                
                                            <div class="row mb-3">
                                                <div class="col-md-4 font-weight-bold">
                                                    {{ 'label_dp.user'|trans }}
                                                </div>
                                                <div class="col-md-8 first-letter">
                                                    <span class="id">{{ translation.userId }}</span>
                                                </div>
                                            </div>
                
                                            <div class="row mb-3">
                                                <div class="col-md-4 font-weight-bold">
                                                    {{ 'label_dp.status'|trans }}
                                                </div>
                                                <div class="col-md-8 first-letter">
                                                    {% if translation.status.id != 4 or translation.status.id != 5 %}
                                                        {{ translation.status.id == 3 ? '<span class="text-success font-weight-bolder">' }}
                                                        {{ translation.status.name|trans }}
                                                        {{ translation.status.3d == 3 ? '</span>' }}
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col-md-4 font-weight-bold">
                                                    {{ 'label_dp.event'|trans }}
                                                </div>
                                                <div class="col-md-8 first-letter">
                                                    {{ translation.event.title }}
                                                    {% if translation.event.validated == 0 %}
                                                        <span class="pl-0 pr-3">
                                                            {{ 'contrib.situ.verify.data.to_validate'|trans }}
                                                        </span>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col-md-4 font-weight-bold">
                                                    {{ 'label_dp.catLevel1'|trans }}
                                                </div>
                                                <div class="col-md-8 first-letter">
                                                    <span id="{{ translation.id }}headingCatLv1">
                                                        <span class="pl-0 pr-3 pointer" data-toggle="collapse"
                                                              data-target="#{{ translation.id }}collapseCatLv1"
                                                              aria-expanded="false" aria-controls="{{ translation.id }}collapseCatLv1">
                                                            {{ translation.categoryLevel1.title }}
                                                            {% if translation.categoryLevel1.validated == 0 %}
                                                                {{ 'contrib.situ.verify.data.to_validate'|trans }}
                                                            {% endif %}
                                                            <small class="align-text-bottom"><i class="fas fa-question-circle"></i></small>
                                                        </span>
                                                    </span>
                                                    <div id="{{ translation.id }}collapseCatLv1" class="mt-1 small collapse"
                                                         aria-labelledby="{{ translation.id }}headingCatLv1">
                                                        <div class="d-block font-weight-bold">{{ 'label_dp.description'|trans }}</div>
                                                        <div class="mt-1 px-3 line-11 first-letter">{{ translation.categoryLevel1.description }}</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row pb-1">
                                                <div class="col-md-4 font-weight-bold">
                                                    {{ 'label_dp.catLevel2'|trans }}
                                                </div>
                                                <div class="col-md-8 first-letter mb-1 pb-2">
                                                    <span id="{{ translation.id }}headingCatLv2">
                                                        <span class="pl-0 pr-3 pointer" data-toggle="collapse"
                                                              data-target="#{{ translation.id }}collapseCatLv2"
                                                              aria-expanded="false" aria-controls="{{ translation.id }}collapseCatLv2">
                                                            {{ translation.categoryLevel2.title }}
                                                            {% if translation.categoryLevel2.validated == 0 %}
                                                                {{ 'contrib.situ.verify.data.to_validate'|trans }}
                                                            {% endif %}
                                                            <small class="align-text-bottom"><i class="fas fa-question-circle"></i></small>
                                                        </span>
                                                    </span>
                                                    <div id="{{ translation.id }}collapseCatLv2" class="mt-1 small collapse"
                                                         aria-labelledby="{{ translation.id }}headingCatLv2">
                                                        <div class="d-block font-weight-bold">{{ 'label_dp.description'|trans }}</div>
                                                        <div class="mt-1 px-3 line-11 first-letter">{{ translation.categoryLevel2.description }}</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <h2 class="h5 font-weight-normal mt-2 pt-4">{{ 'situ'|trans }}</h2>

                                            <div class="row">
                                                <div class="col-12 mb-1 font-weight-bold">
                                                    {{ 'label_dp.title'|trans }}
                                                </div>
                                                <div class="col-12 mb-3 px-4">
                                                    <div class="line-11 first-letter h-title">{{ translation.title }}</div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-12 mb-1 font-weight-bold">
                                                    {{ 'label_dp.description'|trans }}
                                                </div>
                                                <div class="col-12 mb-3 px-4">
                                                    <div class="line-11 first-letter h-description">{{ translation.description }}</div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                {% for item in translation.situItems %}
                                                    <div class="col-12">
                                                        {% if item.score == 0 %}
                                                            <h2 class="h5 font-weight-normal">
                                                                {{ 'contrib.situ.verify.data.item.label'|trans }}
                                                            </h2>
                                                        {% else %}
                                                            {% if loop.index == 2 %}
                                                                <h2 class="h5 mb-3 font-weight-normal">
                                                                    {% if situ.situItems|length > 2 %}
                                                                    {{ 'contrib.situ.verify.data.item.label_items'|trans }}
                                                                    {% else %}
                                                                    {{ 'contrib.situ.verify.data.item.label_item'|trans }}
                                                                    {% endif %}
                                                                </h2>
                                                            {% endif %}
                                                            <div class="mb-3 font-weight-bold">
                                                                {{ 'contrib.situ.verify.data.item.score.title'|trans }}
                                                                {% if item.score == 1 %}
                                                                    <span class="text-info">
                                                                        {{ 'contrib.situ.verify.data.item.score.info'|trans }}
                                                                    </span>
                                                                {% elseif item.score == 2 %}
                                                                    <span class="text-warning">
                                                                        {{ 'contrib.situ.verify.data.item.score.warning'|trans }}
                                                                    </span>
                                                                {% else %}
                                                                    <span class="text-danger">
                                                                        {{ 'contrib.situ.verify.data.item.score.danger'|trans }}
                                                                    </span>
                                                                {% endif %}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-12 mb-1 font-weight-bold">
                                                        {{ 'label_dp.title'|trans }}
                                                    </div>
                                                    <div class="col-12 mb-3 px-4 line-11 first-letter h-title">
                                                        {{ item.title }}
                                                    </div>
                                                    <div class="col-12 mb-1 font-weight-bold">
                                                        {{ 'label_dp.description'|trans }}
                                                    </div>
                                                    <div class="col-12 px-5 line-11 first-letter h-description{% if loop.index != 1
                                                         and loop.last == false %} border-bottom{% endif %}
                                                         {% if loop.first == true %} mb-3{% elseif loop.last == false %} mb-4{% endif %}">
                                                        {{ item.description }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div><!-- EndContentTabs -->
                            
                        </div> 
                                
                    </div><!-- EndSitus -->
                </div>
            </div>
                
            <div class="modal-footer bg-dark d-flex justify-content-center">
                <button class="btn bg-white px-4" data-dismiss="modal">
                    {{ 'action.close'|trans }}
                </button>
            </div>
        </div>
    </div>

</div>