{% trans_default_domain 'back_messages' %}
                    
<div class="modal fade" id="validModal"
     data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="validModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="validModalLabel"  translate="no">
                    {{ 'contrib.situ.verify.title'|trans }}
                </h5>
            </div>
            <div class="modal-body">
                
                <div class="row mb-2">
                    <div class="col-5 font-weight-bold">
                        {{ 'label_dp.translation'|trans }}
                    </div>
                    <div id="valid-translation" class="col-7 line-11 validation" data-result="valid">
                        <span class="result valid">{{ 'label.ok'|trans }}</span>
                        <span class="result validated">{{ 'status.validated'|trans }}</span>
                    </div>                        
                </div>
                
                <div class="row mb-2">
                    <div class="col-5 font-weight-bold">
                        {{ 'label_dp.event'|trans }}
                    </div>
                    <div id="valid-event" class="col-7 line-11 validation" data-result="valid">
                        <span class="result valid">{{ 'label.ok'|trans }}</span>
                        <span class="result validated">{{ 'status.validated'|trans }}</span>
                    </div>                        
                </div>
                    
                <div class="row mb-2">
                    <div class="col-5 font-weight-bold">
                        {{ 'label_dp.catLevel1'|trans }}
                    </div>
                    <div id="valid-categoryLevel1" class="col-7 line-11 validation" data-result="valid">
                        <span class="result valid">{{ 'label.ok'|trans }}</span>
                        <span class="result validated">{{ 'status.validated'|trans }}</span>
                    </div>                        
                </div>
                    
                <div class="row mb-2">
                    <div class="col-5 font-weight-bold line-11">
                        {{ 'label_dp.catLevel2'|trans }}
                    </div>
                    <div id="valid-categoryLevel2" class="col-7 line-11 validation" data-result="valid">
                        <span class="result valid">{{ 'label.ok'|trans }}</span>
                        <span class="result validated">{{ 'status.validated'|trans }}</span>
                    </div>                        
                </div>
                    
                <div class="row mb-2">
                    <div class="col-5 font-weight-bold">
                        {{ 'label_dp.situ'|trans }}
                    </div>
                    <div class="col-7 line-11">
                        <span class="result valid">{{ 'label.ok'|trans }}</span>
                    </div>                        
                </div>
                    
            </div>
            <div class="modal-footer" translate="no">
                {% if app.user.hasRole('ROLE_SUPER_VISITOR') %}
                    <a href="{{ path('visitor_denied') }}" class="btn btn-primary mx-1 px-3">
                        {{ 'action.confirm'|trans }}
                    </a>
                {% else %}
                    <span class="btn btn-primary submit" data-action="validation">
                        {{ 'action.confirm'|trans }}
                    </span>
                {% endif %}
                <span id="valid-cancel" class="btn btn-secondary">
                    {{ 'action.cancel'|trans }}
                </span>
            </div>
        </div>
    </div>
</div>