{% trans_default_domain 'messenger_messages' %}
{% extends "back/layout.html.twig" %}
{% set locale = app.request.locale %}

{% block title %}{{ 'message.envelope.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('message_app', null, 'backApp') }}
    {{ encore_entry_link_tags('app') }}
 {% endblock %}

{% block content %}
    <div id="loader"></div>
    <div class="container-fluid pt-4">
        
        <div class="d-sm-flex justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ 'message.envelope.title'|trans }}</h1>
        </div>
        
        <div class="row">
            <div class="col-12">
                <div class="card shadow mb-4">

                    <div id="messages" class="envelopes card-body pb-3 back-dataTable">
                        {% if envelopes is empty %}
                            {{ 'message.envelope.table.empty'|trans }}
                        {% else %}
                            {% set route = 'back' %}
                            {% include 'block/message/_envelopes.html.twig' %}
                        {% endif %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('message_app', null, 'backApp') }}
    <script>
        let path = { "locale" : "{{ locale }}" }
        let translations = {
            "readNo" : "{{ 'read.no'|trans }}",
            "readYes" : "{{ 'read.yes'|trans }}",
        }
    </script>
{% endblock %}
