{% extends 'front/layout.html.twig' %}
{% trans_default_domain 'front_messages' %}

{% block subtitle %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home_app', null, 'frontApp') }}
{% endblock %}

        
{% block content %}
    <div class="row mt-5 pt-5">
            
        <div id="carouselContent" class="carousel slide" data-ride="carousel">
            <div class="col-md-8 col-12 mx-auto">
                <div class="carousel-inner">
                    {% for content in page.pageContents %}
                        <div class="carousel-item{{ loop.first ? ' active'}}">
                            <div class="card bg-dark-50 border-0 text-white">
                                <div class="card-body bg-none">
                                    <h2 class="text-center">
                                        {{ content.title }}
                                    </h2>
                                    {{ content.content|raw }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
        
        <div class="col-md-8 col-12 mx-auto">
            {% if app.user %}
                <div class="d-flex justify-content-center mt-5 menu-log">
                    <a href="{{ path('create_situ') }}"
                       class="btn btn-light mx-3 px-4 py-3 h3">
                        Contribuer
                    </a>
                </div>
            {% else %}
                <div class="d-flex justify-content-around mt-5 menu-log">
                    <a href="{{ path('app_login') }}"
                       class="btn btn-outline-light bg-dark-50-0 mx-3 px-4 py-3 h3">
                        {{ 'nav.account_login'|trans() }}
                    </a>
                    <a href="{{ path('front_register') }}"
                       class="btn btn-outline-light bg-dark-50-0 mx-3 px-4 py-3 h3">
                        {{ 'nav.account_register'|trans() }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}