{% trans_default_domain 'back_messages' %}
{% extends "back/layout.html.twig" %}

{% block title %}{{ 'contrib.situ.read.title'|trans() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('jquery-confirm/css/jquery-confirm.css') }}">
    {{ encore_entry_link_tags('situ_read_app', null, 'backApp') }}
    {{ encore_entry_link_tags('flp_theme') }}
 {% endblock %}

{% block content %}
    <div class="container-fluid pt-4">
        
        <div class="row d-sm-flex justify-content-between mb-4" translate="no">
            <div class="col-md-6">
                <h1 class="h3 mb-0 text-gray-800">{{ 'contrib.situ.read.title'|trans() }}</h1>
            </div>
            <div class="col-md-6 d-sm-flex justify-content-end">
                {% if situ.statusId == 5 %}
                    <a href="{{ path('back_situ_remove', { 'situ': situ.id }) }}"
                       id="confirmDelete" class="btn btn-danger mx-2 pt-1">
                        {{ 'action.delete_definitively'|trans() }}
                    </a>
                {% endif %}
                <a href="{{ path('back_situs_search') }}"
                   class="btn btn-secondary mx-2 pt-1">
                    <i class="fas fa-reply"></i>
                    {{ 'action.back_list'|trans() }}
                </a>
            </div>
        </div>
        
        <div class="row">
            
            <div id="situ-data" class="col-lg-6 mx-auto mb-4">
                
                <div class="card shadow">

                    <div id="translator" class="card-header py-1">

                        <div class="row d-flex justify-content-between" translate="no">
                            <div class="col-md-5">
                                <h6 class="mb-0 mt-2">
                                    <span class="font-weight-bold text-primary">
                                        {% if situ.statusId == 1 %}
                                            {{ 'status.writing'|trans() }}
                                        {% elseif situ.statusId == 2 %}
                                            {{ 'status.validation'|trans() }}
                                        {% elseif situ.statusId == 3 %}
                                            {{ 'status.validated'|trans() }}
                                        {% elseif situ.statusId == 4 %}
                                            {{ 'status.refused'|trans() }}
                                        {% else %}
                                            {{ 'status.deleted'|trans() }}
                                        {% endif %}
                                    </span>
                                </h6>
                            </div>
                            <div class="col-md-7 mct-1px">
                                <div class="row ggt-row float-right">
                                    <div class="col-auto px-1 mt-1"><i class="fas fa-globe-americas"></i></div>
                                    <div class="col-auto px-0">
                                        <div id="GGT"></div>
                                    </div>
                                    <div id="resetGGT" class="col-auto p-1 btn d-none">
                                        <i class="far fa-times-circle"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body p-4">

                        <div class="row mb-3" translate="no">
                            <div class="col-md-4 font-weight-bold">
                                {{ 'label_dp.lang'|trans() }}
                            </div>
                            <div class="col-md-8 first-letter">
                                {{ situ.lang.englishName }}
                            </div>
                        </div>

                        {% if situ.initialSitu == 0 %}
                            <div class="row mb-3" translate="no">
                                <div class="col-md-4 font-weight-bold">
                                    {{ 'contrib.situ.verify.data.translated' | trans }}
                                </div>
                                <div class="col-md-8 first-letter">
                                    <span id="initial-id" class="id">{{ situ.translatedSituId }}</span>
                                    <a href="{{ path('back_situ_read', { 'situ': situ.translatedSituId }) }}"
                                       target="_blank"
                                       data-toggle="tooltip" data-placement="right"
                                       title="{{ 'action.read'|trans() }}">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            {% set translations = situ_service.getTranslations(situ.id) %}
                            {% if translations %}
                                <div class="row mb-3" translate="no">
                                    <div class="col-md-4 font-weight-bold">
                                        {{ 'label_dp.translation_s' | trans }}
                                    </div>
                                    <div class="col-md-8 first-letter">
                                        {% for translation in translations %}
                                            <span class="id">{{ translation.id }}</span>
                                            <a href="{{ path('back_situ_read', { 'situ': translation.id }) }}"
                                               data-toggle="tooltip" data-placement="right"
                                               title="{{ 'action.read'|trans() }}">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                            {% if not loop.last %} - {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}

                        <div class="row mb-3">
                            <div class="col-md-4 font-weight-bold" translate="no">
                                {{ 'label_dp.event'|trans() }}
                            </div>
                            <div class="col-md-8 first-letter">
                                {{ situ.event.title }}
                                {% if situ.event.validated == 0 %}
                                    <span class="pl-0 pr-3">
                                        {{ 'contrib.situ.verify.data.to_validate' | trans }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="accordion" id="details">

                            <div class="row mb-3">
                                <div class="col-md-4 font-weight-bold" translate="no">
                                    {{ 'label_dp.catLevel1'|trans() }}
                                </div>
                                <div class="col-md-8 first-letter">
                                    <span id="headingCatLv1">
                                        <span class="pl-0 pr-3 pointer" data-toggle="collapse"
                                              data-target="#collapseCatLv1" aria-expanded="false" aria-controls="collapseCatLv1">
                                            {{ situ.categoryLevel1.title }}
                                            {% if situ.categoryLevel1.validated == 0 %}
                                                {{ 'contrib.situ.verify.data.to_validate' | trans }}
                                            {% endif %}
                                            <small class="align-text-bottom"><i class="fas fa-question-circle"></i></small>
                                        </span>
                                    </span>
                                    <div id="collapseCatLv1" class="mt-1 small collapse"
                                         aria-labelledby="headingCatLv1" data-parent="#details">
                                        <div class="d-block font-weight-bold" translate="no">{{ 'label_dp.description'|trans() }}</div>
                                        <div class="mt-1 px-3 line-11 first-letter">{{ situ.categoryLevel1.description }}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row pb-1">
                                <div class="col-md-4 font-weight-bold" translate="no">
                                    {{ 'label_dp.catLevel2'|trans() }}
                                </div>
                                <div class="col-md-8 first-letter mb-1 pb-2">
                                    <span id="headingCatLv2">
                                        <span class="pl-0 pr-3 pointer" data-toggle="collapse"
                                              data-target="#collapseCatLv2" aria-expanded="false" aria-controls="collapseCatLv2">
                                            {{ situ.categoryLevel2.title }}
                                            {% if situ.categoryLevel2.validated == 0 %}
                                                {{ 'contrib.situ.verify.data.to_validate' | trans }}
                                            {% endif %}
                                            <small class="align-text-bottom"><i class="fas fa-question-circle"></i></small>
                                        </span>
                                    </span>
                                    <div id="collapseCatLv2" class="mt-1 small collapse"
                                         aria-labelledby="headingCatLv2" data-parent="#details">
                                        <div class="d-block font-weight-bold" translate="no">{{ 'label_dp.description'|trans() }}</div>
                                        <div class="mt-1 px-3 line-11 first-letter">{{ situ.categoryLevel2.description }}</div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <h2 class="h5 font-weight-normal mt-2 pt-4" translate="no">
                            {{ 'label.situ'|trans() }}
                        </h2>

                        <div class="row">
                            <div class="col-12 mb-1 font-weight-bold" translate="no">
                                {{ 'label_dp.title'|trans() }}
                            </div>
                            <div class="col-12 mb-3 px-4">
                                <div class="line-11 first-letter h-title">{{ situ.title }}</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 mb-1 font-weight-bold" translate="no">
                                {{ 'label_dp.description'|trans() }}
                            </div>
                            <div class="col-12 mb-3 px-4">
                                <div class="line-11 first-letter h-description">{{ situ.description }}</div>
                            </div>
                        </div>

                        <div class="row">
                            {% for item in situ.situItems %}
                                <div class="col-12">
                                    {% if item.score == 0 %}
                                        <h2 class="h5 font-weight-normal" translate="no">
                                            {{ 'contrib.situ.verify.data.item.label'|trans() }}
                                        </h2>
                                    {% else %}
                                        {% if loop.index == 2 %}
                                            <h2 class="h5 mb-3 font-weight-normal" translate="no">
                                                {% if situ.situItems|length > 2 %}
                                                {{ 'contrib.situ.verify.data.item.label_items'|trans() }}
                                                {% else %}
                                                {{ 'contrib.situ.verify.data.item.label_item'|trans() }}
                                                {% endif %}
                                            </h2>
                                        {% endif %}
                                        <div class="mb-3 font-weight-bold" translate="no">
                                            {{ 'contrib.situ.verify.data.item.score.title'|trans() }}
                                            {% if item.score == 1 %}
                                                <span class="text-info">
                                                    {{ 'contrib.situ.verify.data.item.score.info'|trans() }}
                                                </span>
                                            {% elseif item.score == 2 %}
                                                <span class="text-warning">
                                                    {{ 'contrib.situ.verify.data.item.score.warning'|trans() }}
                                                </span>
                                            {% else %}
                                                <span class="text-danger">
                                                    {{ 'contrib.situ.verify.data.item.score.danger'|trans() }}
                                                </span>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-12 mb-1 font-weight-bold" translate="no">
                                    {{ 'label_dp.title'|trans() }}
                                </div>
                                <div class="col-12 mb-3 px-4 line-11 first-letter h-title">
                                    {{ item.title }}
                                </div>
                                <div class="col-12 mb-1 font-weight-bold" translate="no">
                                    {{ 'label_dp.description'|trans() }}
                                </div>
                                <div class="col-12 px-5 line-11 first-letter h-description pb-4{% if loop.index != 1
                                     and loop.last == false %} border-bottom{% endif %}
                                     {% if loop.first == true %} mb-3{% elseif loop.last == false %} mb-4{% endif %}">
                                    {{ item.description }}
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
                        
            </div>
            
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('jquery-confirm/js/jquery-confirm.js') }}"></script>
    {{ encore_entry_script_tags('situ_read_app', null, 'backApp') }}
    <script>
        var translations = {
            "removeTitle" : "{{ 'contrib.situ.read.remove.title' | trans }}",
            "removeText" : "{{ 'contrib.situ.read.remove.text' | trans }}",
            "no" : "{{ 'no' | trans }}",
            "yes" : "{{ 'yes' | trans }}",
        }
        function googleTranslateElementInit() { 
            new google.translate.TranslateElement({pageLanguage: '{{ situ.lang.lang }}'},'GGT')
        }
    </script> 
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
{% endblock %}
