{% trans_default_domain 'messages' %}
{% extends "back/layout.html.twig" %}
{% set locale = app.request.locale %}
{% set template = 'read' %}

{% block title %}{{ 'contrib.situ.read.title'|trans({}, 'back_messages') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('jquery-confirm/css/jquery-confirm.css') }}">
    {{ encore_entry_link_tags('situ_read_app', null, 'backApp') }}
    {{ encore_entry_link_tags('app') }}
 {% endblock %}

{% block content %}
    <div class="container-fluid pt-4">
        
        <div class="row d-sm-flex justify-content-between mb-4" translate="no">
            <div class="col-md-6">
                <h1 class="h3 mb-0 text-gray-800">{{ 'contrib.situ.read.title'|trans({}, 'back_messages') }}</h1>
            </div>
            <div class="col-md-6 d-sm-flex justify-content-end">
                {% if situ.status.id == 5 %}
                    <a href="{{ path('back_situ_remove', { 'situ': situ.id }) }}"
                       id="confirmDelete" class="btn btn-danger mx-2 pt-1">
                        {{ 'action.delete_definitively'|trans }}
                    </a>
                {% endif %}
                <a href="{{ path('back_situs_search') }}"
                   class="btn btn-secondary mx-2 pt-1">
                    <i class="fas fa-reply"></i>
                    {{ 'action.back_list'|trans }}
                </a>
            </div>
        </div>
        
        <div class="row">
            
            <div id="situ-data" class="col-lg-8 mx-auto mb-4">
                
                <div class="card shadow">

                    <div id="translator" class="card-header py-1">

                        <div class="row d-flex justify-content-between" translate="no">
                            <div class="col-md-5">
                                <h6 class="mb-0 mt-2">
                                    <span class="font-weight-bold text-primary">
                                        {{ situ.status.name|trans }}
                                    </span>
                                </h6>
                            </div>
                            {% if locale != situ.lang.lang %}
                                <div class="col-md-auto mct-1px">
                                    <div class="row ggt-row float-right">
                                        <div class="col-auto px-1 mt-1"><i class="fas fa-globe-americas"></i></div>
                                        <div class="col-auto px-0">
                                            <div id="GGT"></div>
                                        </div>
                                        <div id="resetGGT" class="col-auto p-1 btn d-none">
                                            <i class="far fa-times-circle"></i>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="card-body p-4">
                        
                        {{ include('back/situ/_models/situ.html.twig') }}

                    </div>
                </div>
                        
            </div>
            
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('jquery-confirm/js/jquery-confirm.js') }}"></script>
    {{ encore_entry_script_tags('situ_read_app', null, 'backApp') }}
    <script>
        var translations = {
            "removeTitle" : "{{ 'contrib.situ.read.remove.title'|trans }}",
            "removeText" : "{{ 'contrib.situ.read.remove.text'|trans }}",
            "no" : "{{ 'no'|trans }}",
            "yes" : "{{ 'yes'|trans }}",
        }
        function googleTranslateElementInit() { 
            new google.translate.TranslateElement({pageLanguage: '{{ situ.lang.lang }}'},'GGT')
        }
    </script> 
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
{% endblock %}
