{% trans_default_domain 'back_messages' %}
{% extends "back/layout.html.twig" %}
{% set locale = app.request.locale %}

{% block title %}{{ 'contrib.situ.list'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('table_app', null, 'backApp') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block content %}
    <div id="loader"></div>
    <div class="container-fluid pt-4">
        
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ 'label.contribution.title'|trans({}, 'messages') }}</h1>
        </div>

        <div id="card-list" class="card shadow mb-4">

            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ 'contrib.situ.list'|trans }}</h6>
            </div>

            <div id="list" class="card-body pb-3 back-dataTable">

                {% if situs is empty %}
                    <div class="d-sm-flex justify-content-start">
                        {{ 'label.contribution.empty'|trans({}, 'messages') }}
                    </div>
                {% else %}

                <table id="dataTable-list" class="table table-sm mb-0 text-nowrap">
                    <thead class="bg-gray-600 text-white">
                        <tr>
                            <th class="no-sort"></th>
                            <th class="pl-2 text-center">#</th>
                            <th class="pl-2">{{ 'label.title'|trans({}, 'messages') }}</th>
                            <th class="pl-2">{{ 'status.title'|trans({}, 'messages') }}</th>
                            <th class="pl-2">{{ 'label.date_creation'|trans({}, 'messages') }}</th>
                            <th class="pl-2">{{ 'label.date_submit'|trans({}, 'messages') }}</th>
                            <th class="pl-2">{{ 'label.date_validate'|trans({}, 'messages') }}</th>
                            <th class="pl-2">{{ 'label.lang'|trans({}, 'messages') }}</th>
                            <th class="pl-2">{{ 'label.initial'|trans({}, 'messages') }}</th>
                            <th class="pl-2">{{ 'label.event'|trans({}, 'messages') }}</th>
                            <th class="pl-2">{{ 'label.categoryLevel1'|trans({}, 'messages') }}</th>
                            <th class="pl-2 text-nowrap">{{ 'label.categoryLevel2'|trans({}, 'messages') }}</th>
                            <th class="pl-2">{{ 'label.user'|trans({}, 'messages') }}</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        {% for situ in situs %}
                        <tr>
                            <td class="px-2 align-middle">
                                {% if situ.status.id == 2 %}
                                    <a href="{{ path('back_situ_verify', { 'id': situ.id }) }}"
                                       class="btn btn-outline-warning pcx-2 py-1"
                                       data-id="{{ situ.id }}" data-action=""
                                       data-toggle="tooltip" data-placement="left"
                                       title="{{ 'action.validate'|trans({}, 'messages') }}">
                                        <i class="far fa-paper-plane"></i>
                                    </a>                            
                                {% else %}
                                    {% set color = ( situ.status.id == 4 or situ.status.id == 5 ) ? 'danger' : ( situ.status.id == 1 ? 'secondary' : 'primary' ) %}
                                    <a href="{{ path('back_situ_read', { 'id': situ.id }) }}"
                                       class="btn {{ 'btn-outline-' ~ color }} px-2 py-1"
                                       data-id="{{ situ.id }}" data-action=""
                                       data-toggle="tooltip" data-placement="left"
                                       title="{{ 'action.read'|trans({}, 'messages') }}">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                {% endif %}

                            </td>
                            <td class="px-2 align-middle text-center">{{ situ.id }}</td>
                            <td class="px-2 align-middle firstletter text-nowrap">{{ situ.title|u.truncate(20, '...') }}</td>
                            <td class="px-2 align-middle text-nowrap">
                                {% if situ.status.id == 4 and situ.status.id == 1 %}
                                    {{ situ.status.nam|trans({}, 'messages') }}
                                {% elseif situ.status.id == 4 and situ.initialSitu == 0 %}
                                    {{ 'status.translation_refused'|trans({}, 'messages') }}
                                {% else %}
                                    {{ situ.status.name|trans({}, 'messages')  }}
                                {% endif %}
                            </td>
                            <td class="px-2 align-middle">{{ situ.dateCreation|format_datetime('short', 'none', locale=locale) }}</td>
                            <td class="px-2 align-middle">{{ situ.dateSubmission ? situ.dateSubmission|format_datetime('short', 'none', locale=locale) : '' }}</td>
                            <td class="px-2 align-middle">{{ situ.dateValidation ? situ.dateValidation|format_datetime('short', 'none', locale=locale) : '' }}</td>
                            <td class="px-2 align-middle">
                                {% set langName = situ.lang.englishName|split(';') %}
                                <img src="{{ asset('img/flag/'~ situ.lang.lang  ~'.jpg') }}"
                                     alt="{{ langName[0] }}" class="lang-flag mr-1"
                                     data-toggle="tooltip" data-placement="right"
                                     title="{{ langName[0] }}">
                            </td>
                            <td class="px-2 align-middle text-nowrap">
                                {% if situ.initialSitu %}
                                    {{ 'yes'|trans({}, 'messages') }}
                                {% else %}
                                    <span class="id">{{ situ.translatedSituId }}</span>
                                {% endif %}
                            </td>
                            <td class="px-2 align-middle text-nowrap">
                                {% if situ.event.validated %}
                                    {{ situ.event.title|u.truncate(20, '...') }}
                                {% else %}
                                    {{ situ.event.title|u.truncate(10, '...') }}
                                    <span class="badge badge-pill badge-primary">{{ 'status.new'|trans({}, 'messages') }}</span>
                                {% endif %}
                            </td>
                            <td class="px-2 align-middle text-nowrap">
                                {% if situ.categoryLevel1.validated %}
                                    {{ situ.categoryLevel1.title|u.truncate(20, '...') }}
                                {% else %}
                                    {{ situ.categoryLevel1.title|u.truncate(10, '...') }}
                                    <span class="badge badge-pill badge-primary">{{ 'status.new'|trans({}, 'messages') }}</span>
                                {% endif %}
                            </td>
                            <td class="px-2 align-middle text-nowrap">
                                {% if situ.categoryLevel2.validated %}
                                    {{ situ.categoryLevel2.title|u.truncate(20, '...') }}
                                {% else %}
                                    {{ situ.categoryLevel2.title|u.truncate(10, '...') }}
                                    <span class="badge badge-pill badge-primary">{{ 'status.new'|trans({}, 'messages') }}</span>
                                {% endif %}
                            </td>
                            <td class="px-2 align-middle">{{ situ.user.name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>            
                {% endif %}
            </div>
        </div>
        
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('table_app', null, 'backApp') }}
{% endblock %}
