{% trans_default_domain 'back_messages' %}

{% if template == 'read' %}
    <div class="row mb-3">
        <div class="col-md-5 d-flex justify-content-start font-weight-bold">
            {{ 'label_dp.user'|trans({}, 'messages') }}
        </div>
        <div class="col-md-7 d-flex justify-content-start line-11 first-letter">
            <span class="id">{{ situ.user.id }}</span>
            <a href="{{ path('back_user_read', { 'id': situ.user.id }) }}"
               target="_blank" class="px-1"
               data-toggle="tooltip" data-placement="right"
               title="{{ 'action.read'|trans({}, 'messages') }}">
                <i class="fas fa-eye"></i>
            </a>
        </div>
    </div>
{% endif %}

{% if template == 'read' %}
    <div class="row mb-3" translate="no">
        <div class="col-md-5 d-flex justify-content-start font-weight-bold">
            {{ 'label_dp.lang'|trans({}, 'messages') }}
        </div>
        <div class="col-md-7 d-flex justify-content-start first-letter">
            {{ situ.lang.englishName }}
        </div>
    </div>
        
    {% if situ.initialSitu == 0 %}
        <div class="row mb-3" translate="no">
            <div class="col-md-5 d-flex justify-content-start font-weight-bold">
                {{ 'contrib.situ.verify.data.translated'|trans }}
            </div>
            <div class="col-md-7 d-flex justify-content-start line-11 first-letter">
                <span id="initial-id" class="id">{{ situ.translatedSituId }}</span>
                <a href="{{ path('back_situ_read', { 'id': situ.translatedSituId }) }}"
                   target="_blank" class="px-1"
                   data-toggle="tooltip" data-placement="right"
                   title="{{ 'action.read'|trans({}, 'messages') }}">
                    <i class="fas fa-eye"></i>
                </a>
            </div>
        </div>
    {% else %}
        {% set translations = render_service.getTranslations(situ.id) %}
        {% if translations %}
            <div class="row mb-3" translate="no">
                <div class="col-md-5 d-flex justify-content-start font-weight-bold">
                    {{ 'label_dp.translation_s'|trans({}, 'messages') }}
                </div>
                <div class="col-md-7 d-flex justify-content-start line-11 first-letter">
                    {% for translation in translations %}
                        <span class="id">{{ translation.id }}</span>
                        <a href="{{ path('back_situ_read', { 'id': translation.id }) }}"
                           class="px-1"
                           data-toggle="tooltip" data-placement="right"
                           title="{{ 'action.read'|trans({}, 'messages') }}">
                            <i class="fas fa-eye"></i>
                        </a>
                        {% if not loop.last %}<span class="px-1"> - </span>{% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}

{% if template == 'translation' %}
<div class="row mb-3">
    <div class="{% if template == 'read'%}col-md-5{%
                    else %}col-md-4{% endif %} font-weight-bold">
        {{ 'status.title_dp'|trans({}, 'messages') }}
    </div>
    <div class="{% if template == 'read'%}col-md-7{%
                    else %}col-md-8{% endif %} first-letter">
        {% if situ.status.id != 4 or situ.status.id != 5 %}
            {{ situ.status.name|trans({}, 'messages') }}
        {% endif %}
    </div>
</div>
{% endif %}


{% if template == 'form' %}
    {% if situ.initialSitu == 0 %}
        <div class="row mb-3" translate="no">
            <div class="col-auto">
                {{ 'label_dp.translation'|trans({}, 'messages') }}
            </div>
            <div id="initialResult" class="col-auto">
                {% if situsTranslated|length > 1%}
                    <span class="badge badge-danger py-1 px-2 pointer"
                          data-toggle="modal" data-target="#translateModal">
                        {{ 'contrib.situ.verify.form.modal.translated.conflict'|trans }}
                    </span>
                {% else %}
                        {{ 'label.ok'|trans({}, 'messages') }}
                {% endif %}
            </div>
            {% if situsTranslated|length > 1 %}
                <div id="situConflict" class="col-auto"
                     data-conflict="{% for translation in situsTranslated %}{% if translation.status.id == 3 %}ko{% endif %}{% endfor %}">
                    <input id="validated-situConflict" class="validationForm" type="hidden"
                           value="0">
                    <div class="row">
                        <div class="col-auto">
                            {{ 'label_dp.validate'|trans({}, 'messages') }}
                        </div>
                        <div class="col-auto mt-1 px-0">
                            <div class="switch-toggle switch-3 switch-candy">
                                <input type="radio" class="switch-radio" id="situ_conflict_0"
                                       name="situ_conflict" value="0">
                                <label for="situ_conflict_0" class="required">{{ 'no'|trans({}, 'messages') }}</label>
                                <input type="radio" class="switch-radio neutral"
                                       disabled="" checked="checked">
                                <label for="neutral" class="disabled">&nbsp;</label>
                                <input type="radio" class="switch-radio" id="situ_conflict_1"
                                       name="situ_conflict" value="1">
                                <label for="situ_conflict_1" class="required">{{ 'yes'|trans({}, 'messages') }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
    
    <div class="accordion" id="accordion" value-status="">

        {% if situ.initialSitu == 0 and situsTranslated|length > 1 %}
            <div id="conflict"></div>
        {% endif %}

        <div id="event" class="formData card border-0 mb-3">
            <input id="validated-event" class="validationForm" type="hidden"
                   data-initial="{{ situ.event.validated == 0 ? 0 : 1 }}"
                   value="{{ situ.event.validated == 0 ? 0 : 1 }}">
            <div id="headingOne" class="row" translate="no">
                <div class="col-12 py-0 text-left line-11 check collapsed"
                     data-toggle="collapse" data-target="#collapseOne"
                     aria-expanded="false" aria-controls="collapseOne">
                    {{ 'contrib.situ.verify.form.event'|trans }}
                    <span class="todo"></span>
                    <span class="done"></span>
                    <span class="more"></span>
                </div>
            </div>
            <div id="collapseOne" class="collapse"
                 aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body row py-2 px-0">
                    <div id="form-event" translate="no"
                         class="col-8 colDataLang">
                        {{ form_widget(form.event) }}
                        {{ form_errors(form.event) }}
                    </div>
                    <div class="actions col-auto" translate="no">
                        <div class="action btn btn-primary validate d-none">
                            {{ 'status.validate'|trans({}, 'messages') }}
                        </div>
                        <div class="action pt-1 validated d-none">
                            {{ 'status.validated'|trans({}, 'messages') }}
                            <span class="mx-2 text-dark pointer undo">
                                <i class="fas fa-times-circle"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 mt-1 mb-2 small details d-none">
                        <div class="d-block font-weight-bold" title="no">
                            {{ 'label_dp.title'|trans({}, 'messages') }}
                        </div>
                        <div class="mt-1 px-3 line-11 first-letter">
                            {{ situ.event.title }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="categoryLevel1" class="formData card border-0 mb-3">
            <input id="validated-categoryLevel1" class="validationForm" type="hidden"
                   data-initial="{{ situ.categoryLevel1.validated == 0 ? 0 : 1 }}"
                   value="{{ situ.categoryLevel1.validated == 0 ? 0 : 1 }}">
            <div id="headingTwo" class="row" translate="no">
                <div class="col-12 py-0 text-left line-11 check collapsed"
                     data-toggle="collapse" data-target="#collapseTwo"
                     aria-expanded="false" aria-controls="collapseTwo">
                    {{ 'contrib.situ.verify.form.category_level1'|trans }}
                    <span class="todo"></span>
                    <span class="done"></span>
                    <span class="more"></span>
                </div>
            </div>
            <div id="collapseTwo" class="collapse"
                 aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body row py-2 px-0">
                    <div id="form-categoryLevel1" translate="no"
                         class="col-8 colDataLang colData">
                        {{ form_widget(form.categoryLevel1) }}
                        {{ form_errors(form.categoryLevel1) }}
                    </div>
                    <div class="actions col-auto" translate="no">
                        <div class="action btn btn-primary validate d-none">
                            {{ 'status.validate'|trans({}, 'messages') }}
                        </div>
                        <div class="action pt-1 validated d-none">
                            {{ 'status.validated'|trans({}, 'messages') }}
                            <span class="mx-2 text-dark undo">
                                <i class="fas fa-times-circle"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 mt-1 mb-2 small details d-none">
                        <div class="d-block font-weight-bold" title="no">
                            {{ 'label_dp.title'|trans({}, 'messages') }}
                        </div>
                        <div class="mt-1 px-3 line-11 first-letter">
                            {{ situ.categoryLevel1.title }}
                        </div>
                        <div class="d-block font-weight-bold" translate="no">
                            {{ 'label_dp.description'|trans({}, 'messages') }}
                        </div>
                        <div class="mt-1 px-3 line-11 first-letter">
                            {{ situ.categoryLevel1.description }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="categoryLevel2" class="formData card border-0 mb-2 pb-2">
            <input id="validated-categoryLevel2" class="validationForm" type="hidden"
                   data-initial="{{ situ.categoryLevel2.validated == 0 ? 0 : 1 }}"
                   value="{{ situ.categoryLevel2.validated == 0 ? 0 : 1 }}">
            <div id="headingThree" class="row" translate="no"> 
                <div class="col-12 py-0 text-left line-11 check collapsed"
                     data-toggle="collapse" data-target="#collapseThree"
                     aria-expanded="false" aria-controls="collapseThree">
                    {{ 'contrib.situ.verify.form.category_level2'|trans }}
                    <span class="todo"></span>
                    <span class="done"></span>
                    <span class="more"></span>
                </div>
            </div>
            <div id="collapseThree" class="collapse"
                 aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body row py-2 px-0">
                    <div id="form-categoryLevel2" translate="no"
                         class="col-8 colDataLang colData">
                        {{ form_widget(form.categoryLevel2) }}
                        {{ form_errors(form.categoryLevel2) }}
                    </div>
                    <div class="actions col-auto" translate="no">
                        <div class="action btn btn-primary validate d-none">
                            {{ 'status.validate'|trans({}, 'messages') }}
                        </div>
                        <div class="action pt-1 validated d-none">
                            {{ 'status.validated'|trans({}, 'messages') }}
                            <span class="mx-2 text-dark undo">
                                <i class="fas fa-times-circle"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 mt-1 mb-2 small details d-none">
                        <div class="d-block font-weight-bold" title="no">
                            {{ 'label_dp.title'|trans({}, 'messages') }}
                        </div>
                        <div class="mt-1 px-3 line-11 first-letter">
                            {{ situ.categoryLevel2.title }}
                        </div>
                        <div class="d-block font-weight-bold" translate="no">
                            {{ 'label_dp.description'|trans({}, 'messages') }}
                        </div>
                        <div class="mt-1 px-3 line-11 first-letter">
                            {{ situ.categoryLevel2.description }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% else %}
    
    {% if template == 'data' and situ.initialSitu == 0 %}
        <div class="row mb-3">
            <div class="col-md-4 font-weight-bold line-11">
                {{ 'contrib.situ.verify.data.translated'|trans({}, 'back_messages') }}
            </div>
            <div class="col-md-8 first-letter">
                <span id="initial-id" class="id">{{ situ.translatedSituId }}</span>
                <a href="{{ path('back_situ_read', { 'id': situ.translatedSituId }) }}"
                   target="_blank"
                   data-toggle="tooltip" data-placement="right"
                   title="{{ 'action.read'|trans({}, 'messages') }}">
                    <i class="fas fa-eye"></i>
                </a>
            </div>
        </div>
    {% endif %}
    
    <div class="row mb-3">
        <div class="{% if template == 'read'%}col-md-5{%
                        else %}col-md-4{% endif %} d-flex justify-content-start font-weight-bold line-11" translate="no">
            {{ 'label_dp.event'|trans({}, 'messages') }}
        </div>
        <div class="{% if template == 'read'%}col-md-7{%
                        else %}col-md-8{% endif %} d-flex justify-content-start line-11 first-letter">
            {{ situ.event.title }}
            {% if situ.event.validated == 0 %}
                <span class="pl-0 pcr-3" translate="no">
                    {{ 'contrib.situ.verify.data.to_validate'|trans }}
                </span>
            {% endif %}
        </div>
    </div>
        
    <div class="accordion" id="details">
        <div class="row mb-3">
            <div class="{% if template == 'read'%}col-md-5{%
                        else %}col-md-4{% endif %} d-flex justify-content-start font-weight-bold" translate="no">
                {{ 'label_dp.categoryLevel1'|trans({}, 'messages') }}
            </div>
            <div class="{% if template == 'read'%}col-md-7{%
                        else %}col-md-8{% endif %} first-letter">
                <span id="headingCatLv1_{{ situ.id }}" class="d-flex justify-content-start line-11">
                    <span class="pointer" data-toggle="collapse"
                          data-target="#collapseCatLv1_{{ situ.id }}" aria-expanded="false"
                          aria-controls="collapseCatLv1_{{ situ.id }}">
                        {{ situ.categoryLevel1.title }}
                        {% if situ.categoryLevel1.validated == 0 %}
                            <span translate="no">{{ 'contrib.situ.verify.data.to_validate'|trans({}, 'back_messages') }}</span>
                        {% endif %}
                        <small class="px-2 align-middle"><i class="fas fa-question-circle"></i></small>
                    </span>
                </span>
                <div id="collapseCatLv1_{{ situ.id }}" class="mt-1 small collapse"
                     aria-labelledby="headingCatLv1_{{ situ.id }}" data-parent="#details">
                    <div class="d-flex justify-content-start px-3 font-weight-bold" translate="no">{{ 'label_dp.description'|trans({}, 'messages') }}</div>
                    <div class="px-3 text-left line-11 first-letter">{{ situ.categoryLevel1.description }}</div>
                </div>
            </div>
        </div>

        <div class="row pb-1">
            <div class="{% if template == 'read'%}col-md-5{%
                        else %}col-md-4{% endif %} d-flex justify-content-start font-weight-bold line-11" translate="no">
                {{ 'label_dp.categoryLevel2'|trans({}, 'messages') }}
            </div>
            <div class="{% if template == 'read'%}col-md-7{%
                        else %}col-md-8{% endif %} first-letter mb-1 pb-2">
                <span id="headingCatLv2_{{ situ.id }}" class="d-flex justify-content-start line-11">
                    <span class="pointer" data-toggle="collapse"
                          data-target="#collapseCatLv2_{{ situ.id }}" aria-expanded="false"
                          aria-controls="collapseCatLv2_{{ situ.id }}">
                        {{ situ.categoryLevel2.title }}
                        {% if situ.categoryLevel2.validated == 0 %}
                            <span translate="no">{{ 'contrib.situ.verify.data.to_validate'|trans({}, 'back_messages') }}</span>
                        {% endif %}
                        <small class="px-2 align-middle"><i class="fas fa-question-circle"></i></small>
                    </span>
                </span>
                <div id="collapseCatLv2_{{ situ.id }}" class="mt-1 small collapse"
                     aria-labelledby="headingCatLv2_{{ situ.id }}" data-parent="#details">
                    <div class="d-flex justify-content-start px-3 font-weight-bold" translate="no">{{ 'label_dp.description'|trans({}, 'messages') }}</div>
                    <div class="px-3 text-left line-11 first-letter">{{ situ.categoryLevel2.description }}</div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if template == 'form' %}
<div id="situGGT" class="d-none">
{% endif %}

    <h2 class="h5 font-weight-normal mt-2 pt-4 line-11" translate="no">{{ 'label.situ'|trans({}, 'messages') }}</h2>

    <div class="row">
        <div class="col-12 mb-1 font-weight-bold line-11" translate="no">
            {{ 'label_dp.title'|trans({}, 'messages') }}
        </div>
        <div class="col-12 mb-3 px-4">
            <div class="line-11 first-letter h-title">{{ situ.title }}</div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-1 font-weight-bold line-11" translate="no">
            {{ 'label_dp.description'|trans({}, 'messages') }}
        </div>
        <div class="col-12 mb-3 px-4">
            <div class="line-11 first-letter h-description">{{ situ.description }}</div>
        </div>
    </div>

    <div class="row">
        {% for item in situ.situItems %}
            <div class="col-12">
                {% if item.score == 0 %}
                    <h2 class="h5 font-weight-normal line-11" translate="no">
                        {{ 'contrib.form.item.label'|trans({}, 'user_messages') }}
                    </h2>
                {% else %}
                    {% if loop.index == 2 %}
                        <h2 class="h5 mb-3 font-weight-normal line-11" translate="no">
                            {% if situ.situItems|length > 2 %}
                            {{ 'contrib.situ.verify.data.label_items'|trans }}
                            {% else %}
                            {{ 'contrib.form.item.label_item'|trans({}, 'user_messages') }}
                            {% endif %}
                        </h2>
                    {% endif %}
                    <div class="mb-3 font-weight-bold line-11" translate="no">
                        {{ 'label_dp.score'|trans({}, 'messages') }}
                        {% if item.score == 1 %}
                            <span class="text-info">
                                {{ 'contrib.form.item.score.info'|trans({}, 'user_messages') }}
                            </span>
                        {% elseif item.score == 2 %}
                            <span class="text-warning">
                                {{ 'contrib.form.item.score.warning'|trans({}, 'user_messages') }}
                            </span>
                        {% else %}
                            <span class="text-danger">
                                {{ 'contrib.form.item.score.danger'|trans({}, 'user_messages') }}
                            </span>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="col-12 mb-1 font-weight-bold line-11" translate="no">
                {{ 'label_dp.title'|trans({}, 'messages') }}
            </div>
            <div class="col-12 mb-3 px-4 line-11 first-letter h-title">
                {{ item.title }}
            </div>
            <div class="col-12 mb-1 font-weight-bold line-11" translate="no">
                {{ 'label_dp.description'|trans({}, 'messages') }}
            </div>
            <div class="col-12 px-4 line-11 first-letter h-description{% if loop.index != 1
                 and loop.last == false %} border-bottom{% endif %}
                 {% if loop.first == true %} mb-3{% elseif loop.last == false %} mb-4{% endif %}">
                {{ item.description }}
            </div>
        {% endfor %}
    </div>
        
{% if template == 'form' %}
</div>
{% endif %}