{% trans_default_domain 'messages' %}
{% set countSitus = 0 %}
{% for situ in user.situs %}
    {% if situ.status.id  == 3 %}
        {% set countSitus = countSitus + 1 %}
    {% endif %}
{% endfor %}

<div class="row mb-lg-2 mb-3">
    <div class="d-sm-flex justify-content-start col-lg-5 text-secondary">
        {{ 'label_dp.contribution.count_title'|trans }}
    </div>
    <div class="col-lg-7">
        <p class="mb-1">
        {% if countSitus ==  0 %}{{ 'label.contribution.empty'|trans }}
        {% elseif countSitus == 1 %}{{ 'label.contribution.single'|trans}}
        {% else %}{{ 'label.contribution.count'|trans({'%situs%' : countSitus }) }}{% endif %}
        </p>

        {% if countSitus > 1 %}
            {% for lang in situsLangs %}
            <div class="d-sm-flex justify-content-start">
                <span class="text-secondary text-capitalize">{{ lang.langName }} :</span>
                <span class="px-2">
                {% if situsLangs|length  == 1 %}
                    {{ 'label.contribution.single'|trans }}
                {% else %}
                    {{ 'label.contribution.count'|trans({'%situs%' : situsLangs})  }}
                {% endif %}
                </span>
            </div>
            {% endfor %}
        {% endif %}

    </div>                          
</div>