{% trans_default_domain 'user_messages' %}

<div class="row mb-lg-2 mb-3">
    <div class="col-lg-5 text-secondary">
        {{ 'account.contribs.title'|trans() }}
    </div>
    <div class="col-lg-7">
        <p class="mb-0">
        {% if situs ==  0 %}
            {{ 'account.contribs.empty'|trans() }}
        {% elseif situs == 1 %}
            {{ situs }} {{ 'account.contribs.count'|trans() }}
        {% else %}
            {{ situs }} {{ 'account.contribs.count_s'|trans() }}
        {% endif %}
        </p>
        {% if situsLangs|length > 1 %}
            {% for situ in situsLangs %}
                {% if situ.translatedSituId == '' %}
                <p class="mb-0 row">
                    <span class="col-4">
                        <span class="text-secondary text-capitalize">{{ situ.langName }} :</span>
                    </span>
                    <span class="col-7">
                        {{ situ.situs }}
                        {% if situ.situs  == 1 %}
                            {{ 'account.contribs.count'|trans() }}
                        {% else %}
                            {{ 'account.contribs.count_s'|trans() }}
                        {% endif %}
                    </span>
                </p>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if situsTranslated %}
            <p class="mt-2 mb-0 text-secondary">
            {% if situsTranslated|length == 1 %}
                {{ 'account.contribs.translated'|trans() }}
            {% else %}
                {{ 'account.contribs.translated_s'|trans() }}
            {% endif %}
            </p>
            {% for situ in situsTranslated %}
            <p class="mb-0 row">
                <span class="col-4">
                    <span class="text-secondary text-capitalize">{{ situ.langName }} :</span>
                </span>
                <span class="col-7">
                    {{ situ.situs }}
                    {% if situ.situs  == 1 %}
                        {{ 'account.contribs.count'|trans() }}
                    {% else %}
                        {{ 'account.contribs.count_s'|trans() }}
                    {% endif %}
                </span>
            </p>
            {% endfor %}
        {% endif %}
    </div>                                
</div>