{% trans_default_domain 'user_messages' %}

<div id="form-translation" data-translation="{{ user.contributorLangs|length }}">
    <div class="row mb-lg-2 mb-3">
        <div class="d-sm-flex justify-content-start col-lg-5 text-secondary">
            <p class="mb-0">{{ 'label_dp.translator'|trans({}, 'messages') }}</p>
        </div>
        <div class="col-lg-7">
            {% if route == 'user_account' %}
                <p class="d-sm-flex justify-content-start mb-0 text-secondary">
                    {% if user.contributorLangs|length == 1 %}
                        {{ 'account.translator.choice'|trans }}
                    {% else %}
                        {{ 'account.translator.choice_s'|trans }}
                    {% endif %}
                </p>
            {% endif %}
            <ul id="contributorLangs" class="d-sm-flex justify-content-start mb-0 pl-0 line-11">
                {% if (locale == 'ar') or (locale == 'he') or (locale == 'ur') %}
                    {% set langs = user.contributorLangs|reverse %}
                {% else %}
                    {% set langs = user.contributorLangs|sort %}
                {% endif %}
                {% for lang in langs %}
                    {{ lang.name|raw }}{% if not loop.last %} - {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>