{% extends 'front/layout.html.twig' %}
{% trans_default_domain 'messages' %}
{% set locale = app.request.locale %}

{% block title %}{{ route == 'user_account'
                            ? 'label.account_profile'|trans
                            : user.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user_account_app', null, 'frontApp') }}
{% endblock %}

{% block content %}
    
    {% if route == 'user_account' %}
        {% block banner%}
        <div class="d-sm-flex justify-content-start mt-3 mb-5 pt-5">
            <h1 class="h3 text-white">
                {{ 'label.account_profile'|trans }}
            </h1>
        </div>
        {% endblock %}
    {% endif %}

    <div class="row">

        <div class="col-md-8 mx-auto p-0{{ route == 'user_visit' ? ' mt-5 pt-4' }}">
            <div class="card mb-4 bg-light-50">

                <div class="card-header bg-dark-50">
                    <div class="row{% if user.imageFilename %} mx-0{% endif %}">
                        {% if user.imageFilename %}
                        <div class="img-circle col-auto">
                            <img src="{{ asset('/uploads/img/'~ user.imageFilename) }}" 
                                data-toggle="tooltip" data-placement="right"
                                id="defaultImg" alt="">
                        </div>
                        {% endif %}
                        <div class="col-auto">
                            <h5 class="text-white text-uppercase mb-0{% if user.imageFilename %} mt-4 pt-1{% endif %}">
                                {{ user.name }}
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="card-body bg-white-70">

                    {% if route == 'user_account' %}
                    <div class="row mb-lg-2 mb-3">
                        <span class="d-sm-flex justify-content-start col-lg-5 text-secondary">{{ 'label_dp.email'|trans }}</span>
                        <span class="d-sm-flex justify-content-start col-lg-7">{{ user.email }}</span>                                
                    </div>
                    {% endif %}
                    
                    <div class="row mb-lg-2 mb-3">
                        <span class="d-sm-flex justify-content-start col-lg-5 text-secondary">{{ 'label_dp.date_create'|trans }}</span>
                        <span class="d-sm-flex justify-content-start col-lg-7 first-letter">
                            {{ user.dateCreate|format_datetime('full', 'short', locale=locale)|capitalize }}
                        </span>                                
                     </div>

                    
                    <div class="row mb-lg-2 mb-3">
                        <span class="d-sm-flex justify-content-start col-lg-5 text-secondary">
                            {% if user.langs|length > 1 %}
                                {{ 'label_dp.langs'|trans }}
                            {% else %}
                                {{ 'label_dp.lang'|trans }}
                            {% endif %}
                        </span>
                        <div class="col-lg-7 px-3">
                            <span class="d-sm-flex justify-content-start text-capitalize">
                                {% if (locale == 'ar') or (locale == 'he') or (locale == 'ur') %}
                                    {% set langs = user.langs|reverse %}
                                {% else %}
                                    {% set langs = user.langs|sort %}
                                {% endif %}
                                {% for lang in user.langs %}
                                    {{ lang.name|raw }}{% if not loop.last %} - {% endif %}
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                    

                    <div class="row mb-lg-2 mb-3">
                        <span class="d-sm-flex justify-content-start col-lg-5 text-secondary">
                            {% if user.roles|length > 2 %}
                                {{ 'status.title_dp_s'|trans }}
                            {% else %}
                                {{ 'status.title_dp'|trans }}
                            {% endif %}
                        </span>
                        <div class="d-sm-flex justify-content-start col-lg-7 px-3">
                            {% if (locale == 'ar') or (locale == 'he') or (locale == 'ur') %}
                                {% set userRoles = user.roles|reverse %}
                            {% else %}
                                {% set userRoles = user.roles|sort %}
                            {% endif %}
                            {% for role in userRoles|filter(v => v != 'ROLE_USER') %}
                                {% set roleName = 'user.'~role %}
                                {{ roleName|trans }}{% if not loop.last %} - {% endif %}
                            {% endfor %}
                        </div>                                
                    </div>

                    {{ include('front/user/account/profile/_contribs.html.twig') }}
                    
                    {% if user.langContributor and user.contributorLangs|length >= 1 %}
                        {{ include('front/user/account/profile/_langContributor.html.twig') }}
                    {% endif %}
                    
                    {% if route == 'user_visit' and app.user != user %}
                        {{ include('front/user/account/profile/_contact.html.twig') }}
                    {% endif %}
                    
                </div>

            </div>
            
            {% if route == 'user_account' %}
                <div class="d-flex justify-content-end row px-2">
                    <a href="{{ path('user_update') }}"
                       class="btn btn-secondary mx-2 px-4 py-2">
                        {{ 'account.update.title'|trans({}, 'user_messages') }}
                    </a>
                </div>
            {% endif %}

        </div>
    </div>
            
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user_account_app', null, 'frontApp') }}
    {% if app.user and route == 'user_visit' and app.user != user %}
        <script>
            var recaptcha = {'sitekey' : '{{ google_recaptcha_site_key }}'}
        </script> 
        <script src="{{ asset('recaptcha/recaptcha.js') }}"></script>
        <script src="https://www.google.com/recaptcha/api.js?onload=onGoogleReCaptchaApiLoad&render=explicit&hl={{ app.request.locale }}" async defer></script>
    {% endif %}
{% endblock %}