{% extends 'front/layout.html.twig' %}
{% trans_default_domain 'user_messages' %}
{% set locale = app.request.locale %}

{% block title %}{{ 'label.account_profile'|trans() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user_account_app', null, 'frontApp') }}
{% endblock %}

{% block content %}
        
    {% block banner%}
    <div class="mt-3 mb-5 pt-5">
        <h1 class="h3 text-white">
            {{ 'label.account_profile'|trans() }}
        </h1>
    </div>
    {% endblock %}

    <div class="row">

        <div class="col-md-8 mx-auto p-0">
            <div class="card mb-4 bg-light-50">

                <div class="card-header bg-dark-50">
                    <div class="row{% if user.imageFilename %} mx-0{% endif %}">
                        {% if user.imageFilename %}
                        <div class="img-circle col-auto">
                            <img src="{{ asset('/uploads/img/'~ user.imageFilename) }}" 
                                data-toggle="tooltip" data-placement="right"
                                id="defaultImg" alt="">
                        </div>
                        {% endif %}
                        <div class="col-auto">
                            <h5 class="text-white text-uppercase mb-0{% if user.imageFilename %} mt-4 pt-1{% endif %}">
                                {{ user.name }}
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="card-body bg-white-70">

                    <div class="row mb-lg-2 mb-3">
                        <span class="col-lg-5 text-secondary">{{ 'label_dp.email'|trans() }}</span>
                        <span class="col-lg-7">{{ user.email }}</span>                                
                    </div>

                    <div class="row mb-lg-2 mb-3">
                        <span class="col-lg-5 text-secondary">{{ 'account.date_create'|trans() }}</span>
                        <span class="col-lg-7 first-letter">
                            {{ user.dateCreate|format_datetime('full', 'short', locale=locale) }}
                        </span>                                
                     </div>

                    
                    <div class="row mb-lg-2 mb-3">
                        <span class="col-lg-5 text-secondary">
                            {% if user.langs|length > 0 %}
                                {{ 'label_dp.lang_s'|trans() }}
                            {% else %}
                                {{ 'label_dp.lang'|trans() }}
                            {% endif %}
                        </span>
                        <span class="col-md-7 list-inline text-capitalize">
                            {% for lang in user.langs %}
                            <span class="text-capitalize">
                                {{ lang.name|raw }}
                            </span>
                            {% endfor %}
                        </span>                                
                    </div>
                    

                    <div class="row mb-3">
                        <span class="col-lg-5 text-secondary">
                            {% if user.roles|length > 2 %}
                                {{ 'status.title_dp_s'|trans() }}
                            {% else %}
                                {{ 'status.title_dp'|trans() }}
                            {% endif %}
                        </span>
                        <span class="col-lg-7 line-11">
                            {% set newRoles = [] %}
                            {% for role in user.roles %}
                                {% if role != 'ROLE_USER' %}
                                    {% if role == 'ROLE_CONTRIBUTOR' %}{% set newRoles = newRoles|merge(['account.roles.contributor'|trans()]) %}
                                    {% elseif role == 'ROLE_MODERATOR' %}{% set newRoles = newRoles|merge(['account.roles.moderator'|trans()]) %}
                                    {% elseif role == 'ROLE_ADMIN' %}{% set newRoles = newRoles|merge(['account.roles.admin'|trans()]) %}
                                    {% elseif role == 'ROLE_SUPER_ADMIN' %}{% set newRoles = newRoles|merge(['account.roles.super_admin'|trans()]) %}{% endif %}
                                {% endif %}
                            {% endfor %}
                            {{ newRoles|join(' - ') }}
                            {% if user.langContributor %}
                                - {{ 'account.translator.status'|trans() }}
                            {% endif %}
                        </span>                                
                    </div>

                    {{ include('front/user/account/profile/_contribs.html.twig') }}
                    {{ include('front/user/account/profile/_langContributor.html.twig') }}

                </div>

            </div>
                        
            <div class="d-flex justify-content-end row px-2">
                {#<a href="{{ path('app_reset_password', { 'id': app.user.id }) }}"
                   class="btn btn-secondary mx-2 px-4 py-2">
                    {{ 'account.reset_password'|trans() }}
                </a>#}
                <a href="{{ path('user_update') }}"
                   class="btn btn-secondary mx-2 px-4 py-2">
                    {{ 'account.update.title'|trans() }}
                </a>
            </div>

        </div>
    </div>
            
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    var translations = {
       "file-placeholder" : "{{ 'account.translator.file.modal.file.placeholder' | trans }}",
    }
    </script>
    {{ encore_entry_script_tags('user_account_app', null, 'frontApp') }}
{% endblock %}