{% trans_default_domain 'security' %}
{% extends 'front/layout.html.twig' %}

{% block title %}{{ 'reset_password.title'|trans }}{% endblock %}

{% block content %}
    
    <div class="col-lg-6 mx-auto pt-5">        
        <div class="card mt-5 mb-4 px-3 py-2 bg-white-80">            
            <div class="card-body">
                
                <h1 class="h3 mb-3 font-weight-normal">{{ 'reset_password.title'|trans }}</h1>

                {{ form_start(resetForm) }}
                
                    {% for password in resetForm.plainPassword %}
                        <div class="form-group">
                            {{ form_label(password) }}
                            <div class="input-group togglePassword">
                                {{ form_widget(password) }}
                                <div class="input-group-append">
                                  <span class="btn input-group-text"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                        {{ form_errors(password) }}
                    {% endfor %}

                    <div class="text-center mt-4 pt-2">
                        <button class="btn btn-secondary px-4 mx-2">
                            {{ 'button.validate'|trans }}
                        </button>
                    </div>
                    
                {{ form_end(resetForm) }}
    
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('pw_app', null, 'frontApp') }}
{% endblock %}