{% trans_default_domain 'user_messages' %}

<li class="nav-item mx-md-0 mx-sm-4 mx-0 px-md-0 px-md-0 px-sm-2 px-0 dropdown{{ route in [
                                                                                    'create_situ',
                                                                                    'read_situ',
                                                                                    'search_situ',
                                                                                    'user_situs'] ? ' active' }}">
    <a class="nav-link dropdown-toggle" id="dropdown_contribs" 
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ 'nav.contribs.title'|trans }}
    </a>
    <ul class="dropdown-menu pt-md-4 pt-0" aria-labelledby="dropdown_contribs">
        <li class="dropdown-item bg-dark-95{{ route == 'search_situ' ? ' active' }}">
            <a href="{{ path('search_situ') }}">
                <i class="fas fa-search"></i> {{ 'label.contribution.search'|trans({}, 'messages') }}
            </a>
        </li>
        {% if app.user %}
        <li class="dropdown-item bg-dark-95{{ route == 'user_situs' ? ' active' }}">
            <a href="{{ path('user_situs') }}">
                <i class="fas fa-list-ul"></i> {{ 'nav.contribs.user'|trans }}
            </a>
        </li>
        <li class="dropdown-item bg-dark-95{{ route == 'create_situ' ? ' active' }}">
            <a href="{{ path('create_situ') }}">
                <i class="far fa-edit"></i> {{ 'nav.contribs.add'|trans }}
            </a>
        </li>
        {% endif %}
    </ul>
</li>