<ul class="navbar-nav">
{% if app.user %}
    <li class="nav-item mx-md-0 mx-sm-4 mx-0 px-md-0 px-sm-2 px-0 dropdown no-hover">
        <a class="nav-link line-12 dropdown-toggle" href="#" id="dropdown_alert" 
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="badge badge-light border border-dark rounded-pill">10</span>
            <i class="fas fa-bell"></i>
            <span class="{#{% if ...%}#}ml-2 {#{% endif %}#}d-md-none d-inline">
                {{ 'message.alert.title'|trans({}, 'messenger_messages') }}
            </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right pt-md-4 pt-0 border-0" aria-labelledby="dropdown_alert">
            <li class="dropdown-item bg-dark-95">
                <a class="text-white" href="">
                    {{ 'front.alert.situ'|trans({}, 'messenger_messages') }}
                </a>
            </li>
            <div class="dropdown-divider m-0"></div>
            <li class="dropdown-item bg-dark-95">
                <a href="">
                    {{ 'message.alert.title_all'|trans({}, 'messenger_messages') }}
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item mx-md-0 mx-sm-4 mx-0 px-md-0 px-sm-2 px-0 dropdown no-hover">
        <a class="nav-link line-12 dropdown-toggle" href="#" id="dropdown_envelope" 
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="badge badge-light border border-dark rounded-pill">2</span>
            <i class="fas fa-envelope"></i>
            <span class="{#{% if ...%}#}ml-2 {#{% endif %}#}d-md-none d-inline">
                {{ 'message.envelope.title'|trans({}, 'messenger_messages') }}
            </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right pt-md-4 pt-0 border-0" aria-labelledby="dropdown_envelope">
            <li class="dropdown-item bg-dark-95">
                <a class="text-white" href="">
                    {{ 'message.envelope.new'|trans({}, 'messenger_messages') }}
                </a>
            </li>
            <div class="dropdown-divider m-0"></div>
            <li class="dropdown-item bg-dark-95">
                <a href="">
                    {{ 'message.envelope.title_all'|trans({}, 'messenger_messages') }}
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item mx-md-0 mx-sm-4 mx-0 px-md-0 px-sm-2 px-0 dropdown{{ route in ['back_home', 'user_account'] ? ' active' }}">
        <a class="nav-link line-12 dropdown-toggle" id="dropdown_account" 
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if app.user.imageFilename %}
                <span class="nav-img">
                    <span class="nav-img-circle">
                        <img src="{{ asset('/uploads/img/'~ app.user.imageFilename) }}" alt="">
                    </span>
                </span>
            {% else %}
                <span class="">
                    <i class="fas fa-user"></i>
                </span>
            {% endif %}
            <span class="mx-md-1 mx-0 text-capitalize">{{  app.user.name }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right pt-md-4 pt-0" aria-labelledby="dropdown_account">
            {% if is_granted("ROLE_MODERATOR") %}
                <li class="dropdown-item bg-dark-95{{ route == 'back_home' ? ' active' }}">
                    <a href="{{ path('back_home') }}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        {{ 'nav.account_back'|trans({}, 'user_messages') }}
                    </a>
                </li>
            {% endif %}
            <li class="dropdown-item bg-dark-95{{ route == 'user_account' ? ' active' }}">
                <a href="{{ path('user_account') }}">
                    <i class="fas fa-user-cog"></i>
                    {{ 'user.account_profile'|trans({}, 'messages') }}
                </a>
            </li>
            <li class="dropdown-item bg-dark-95">
                <a href="{{ path('app_logout') }}">
                    <i class="fas fa-sign-out-alt"></i>
                    {{ 'action.logout'|trans({}, 'security') }}
                </a>
            </li>
        </ul>
    </li>
{% else %}
    <li class="nav-item mx-md-0 mx-sm-4 mx-0 px-md-0 px-sm-2 px-0 dropdown {{ route in ['app_login', 'app_register'] ? ' active' }}">
        <a class="nav-link dropdown-toggle" id="dropdown_account" 
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="d-md-inline d-none">
                <i class="fas fa-user"></i>
            </span>
            {{ 'user.account_unknown'|trans({}, 'front_messages') }}
        </a>
        <ul class="dropdown-menu dropdown-menu-right pt-md-4 pt-0" aria-labelledby="dropdown_account">
            <li class="dropdown-item bg-dark-95{{ route == 'app_login' ? ' active' }}">
                <a href="{{ path('app_login') }}">
                    <i class="fas fa-sign-in-alt"></i>
                    {{ 'user.account_login'|trans({}, 'front_messages') }}
                </a>
            </li>
            <li class="dropdown-item bg-dark-95{{ route == 'app_register' ? ' active' }}">
                <a href="{{ path('app_register') }}">
                    <i class="fas fa-user-plus"></i>
                    {{ 'user.account_register'|trans({}, 'front_messages') }}
                </a>
            </li>
        </ul>
    </li>
{% endif %}
</ul>