{% trans_default_domain 'front_messages' %}
{% set route = app.request.get('_route') %}

<div class="container-fluid fixed-top">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark-50 shadow-lg" role="navigation">
        {% if route == 'front_home' %}
            <h1 class="navbar-brand pt-0">
                <img src="{{ asset('img/forlifeproject.png') }}" alt="{{ name_site }}" class="nav-logo">
                <span>{{ name_site }}</span>
            </h1>
        {% else %}
            <a class="navbar-brand pt-0" href="{{ path('front_home') }}">
                <img src="{{ asset('img/forlifeproject.png') }}" alt="{{ name_site }}" class="nav-logo">
                <span>{{ name_site }}</span>
            </a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="d-flex justify-content-between container-fluid px-3">
                <ul class="navbar-nav p-0">
                    {% if app.user %}
                        {% include 'front/block/_navbar/_contribution.html.twig' %}
                        {% include 'front/block/_navbar/_translation.html.twig' %}
                        {% if app.user.langs|length > 1 %}
                            {% include 'block/_locale_switcher.html.twig' %}
                        {% endif %}
                    {% else %}
                        <li class="nav-item mx-md-0 mx-sm-4 mx-0 px-md-0 px-md-0 px-sm-2 px-0{{ route == 'user_situs' ? ' active' }}">
                            <a class="nav-link" href="{{ path('search_situ') }}">
                                {{ 'label.contribution.search'|trans({}, 'messages') }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <div class="d-flex">
                    {% include 'front/block/_navbar/_user.html.twig' %}
                </div>
        </div>
        </div>
    </nav>
</div>