{% trans_default_domain 'back_messages' %}

<div id="card-form" class="card shadow mb-4" data-action="">
    
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ 'lang.translation.form.field.title.create'|trans() }}</h6>
    </div>
    <div class="card-body pb-3">
        
        {{ form_start(form) }}
        {{ form_errors(form) }}
        
        <div class="row mb-3">
            <div class="col-sm-7">
            {{ form_row(form.name) }}
            </div>
            <div id="add-field" class="col-sm-5 my-md-0 my-sm-4 mt-0 mb-3 pt-md-0 pt-sm-2 pt-0 d-none">
                <div class="d-flex justify-content-end row">
                    <div class="col-auto mx-3">
                        <div id="add-field-link" class="btn btn-primary pt-1"
                            data-list-selector="#fields">
                            <i class="fas fa-plus-circle"></i>
                            {{ 'lang.translation.form.field.btn.add'|trans() }}
                        </div>
                    </div>
                </div>
                <div id="add-error" class="d-none">{{ 'lang.translation.form.field.btn.error' | trans }}</div>
            </div>
        </div>
        <div id="form-fields" class="form-row">
            <div class="mx-4 d-none">
                <label>{{ 'lang.translation.form.field.label'|trans() }}</label>
            </div>
            <ul id="fields" class="list-group list-group-flush col-12 ui-sortable"
                data-prototype="{{ form_widget(form.fields.vars.prototype)|e }}"
                data-widget-fields="{{ '<li class="list-group-item py-2 border col-sm-6 col-12 bg-white clearfix ui-state-default"></li>'|e }}"
                data-widget-counter="{{ form.fields|length }}">
                {% for fields in form.fields %}
                    <li class="list-group-item py-2 border col-sm-6 col-12 bg-white clearfix ui-state-default">
                        {{ form_widget(fields) }}
                        {{ form_errors(fields) }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div id="form-submit" class="mt-4 mb-3 d-none">
            <div class="d-flex justify-content-center">
                <div id="save-btn" class="btn btn-outline-primary mx-2 px-3 pt-1">
                    {{ 'action.save'|trans() }}
                </div>
                <div id="submit-btn" class="btn btn-primary mx-2 px-4 pt-1">
                    {{ 'action.submit'|trans() }}
                </div>
                <input id="submit" type="submit" class="d-none">
                <input id="update" type="button" class="d-none">
            </div>
        </div>
        {{ form_end(form) }}

    </div>
        
</div>