{% trans_default_domain 'back_messages' %}
{% extends "back/layout.html.twig" %}

{% set can_update = true %}
{% set can_delete = true %}

{% block title %}{{ 'user.read.title'|trans() }}{% endblock %}

{% block content %}
{% if can_delete %}
    <div id="delete" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="modal_title" class="modal-title">{{ 'user.delete.modal_title'|trans() }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="X">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modal_body" class="modal-body">
                    <h6 id="modal_body_title"></h6>
                    <div class="alert alert-warning">
                        <strong>{{ 'delete.warning'|trans() }}</strong>
                    </div>
                </div>
                <div id="modal_footer" class="modal-footer">
                    {{ form_start(form_delete, {'attr': {'id': 'form_back_user_delete' }}) }}
                        <button type="submit" class="btn btn-danger">{{ 'button.delete'|trans() }}</button>
                    {{ form_end(form_delete) }}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'button.cancel'|trans() }}</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<section class="pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="h3">{{ 'user.read.h1'|trans({ '%identifier%': user }) }}</h1>
            </div>
            <div class="col-sm-6 text-right">
                <p>
                    <a href="{{ path('back_user_search') }}" class="btn btn-primary" role="button">
                        <i class="fas fa-reply"></i> {{ 'button.back'|trans() }}
                    </a>
                    {% if can_update %}
                        <a href="{{ path('back_user_update', {'id': user.id}) }}" title="{{ 'button.update_title'|trans() }}"
                            class="btn btn-warning" aria-label="{{ 'button.update_title'|trans() }}" role="button">
                            <i class="fas fa-edit"></i>
                        </a>
                    {% endif %}
                    {% if can_delete %}
                        <a href="#" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#delete"
                            data-title="{{ user }}" role="button"
                            data-path="{{ path('back_user_delete', { 'ids': {0: user.id}}) }}"
                            title="{{ 'button.delete_title'|trans() }}" aria-label="{{ 'button.delete_title'|trans() }}">
                            <i class="fas fa-times"></i>
                        </a>
                    {% endif %}
                </p>
            </div>
        </div>
        <hr>
        <div class="card mt-4 mb-4">
            <div class="card-body">
                <h2 class="card-title">{{ 'user.read.h2'|trans() }}</h2>
                <div class="card-content">
                    <ul class="list-unstyled">
                        <li class="p-2 mb-2">
                            <strong>{{ 'user.field.name'|trans() }} : </strong>{{ user.lastname }}                        </li>
                        <li class="p-2 mb-2">
                            <strong>{{ 'user.field.email'|trans() }} : </strong><a href="mailto:{{ user.email }}">{{ user.email }}</a>                        </li>
                        <li class="p-2 mb-2">
                            <strong>{{ 'user.field.roles'|trans() }} : </strong>{{ user.roles ? user.roles|join(', ') : '' }}                        </li>
                        <li class="p-2 mb-2">
                            <strong>{{ 'user.field.enabled'|trans() }} : </strong>{{ user.enable ? 'yes'|trans : 'no'|trans }}                        </li>
                        <li class="p-2 mb-2">
                            <strong>{{ 'user.field.last_login_at'|trans() }} : </strong>{{ user.dateLastLogin ? user.dateLastLogin|format_datetime : '' }}                        </li>
                        <li class="p-2 mb-2">
                            <strong>{{ 'user.field.created_at'|trans() }} : </strong>{{ user.dateCreate ? user.dateCreate|format_datetime : '' }}                        </li>
                        <li class="p-2 mb-2">
                            <strong>{{ 'user.field.updated_at'|trans() }} : </strong>{{ user.dateUpdate ? user.dateUpdate|format_datetime : '' }}                        </li>
                    </ul>
                </div>
            </div>        
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if can_delete %}
        <script>
            $(document).ready(function(){
                $('.btn-delete').click(function(){
                    var title = $(this).attr('data-title');
                    var path = $(this).attr('data-path');
                    $('#form_back_user_delete').attr('action', path);
                    $('#modal_body_title').html("{{ 'delete.confirm'|trans() }} : <strong>"+title+"</strong>");
                });
            });
        </script>
    {% endif %}
{% endblock %}
