{% trans_default_domain 'back_messages' %}
{% extends "back/layout.html.twig" %}

{% block title %}{{ 'user.update.title'|trans() }}{% endblock %}

{% block content %}
<section class="pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="h3">{{ 'user.update.h1'|trans() }}</h1>
            </div>
            <div class="col-sm-6 text-right">
                <p>
                    <a href="{{ path('back_user_search') }}" class="btn btn-primary" role="button">
                        <i class="fas fa-reply"></i> {{ 'button.back'|trans() }}
                    </a>
                </p>
            </div>
        </div>
        <hr>
        <div class="card mt-4 mb-4">
            <div class="card-body">
                <h2 class="card-title">{{ 'user.update.h2'|trans() }}</h2>
                <div class="card-content p-2 mb-4">
                    {{ form_start(form) }}
                        {{ form_errors(form.users) }}
                        {% for user_field in form.users %}
                            <div class="p-4 mb-4 border border-light">
                                <span class="font-weight-bold">{{ form_label(user_field) }}</span>
                                {{ form_row(user_field.roles) }}
                            </div>
                        {% endfor %}
                        <button class="btn btn-primary btn-block">
                            <i class="far fa-paper-plane"></i> {{ 'button.submit'|trans() }}
                        </button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}