{% extends 'front/layout.html.twig' %}
<<<<<<< HEAD
=======
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('situ_create_app') }}
{% endblock %}

>>>>>>> situ-create
{% trans_default_domain 'user_messages' %}

{% set locale = app.request.locale %}

<<<<<<< HEAD
{% block title %}{{ 'contrib.create.form_title'|trans() }}{% endblock %}

{% block content %}
    <div class="container py-4">
        {% block banner%}
            <h1 class="h3 mb-0 px-3 px-lg-0 font-weight-normal">{{ 'contrib.create.form_title'|trans() }}</h1>
        {% endblock %}
            
        <div class="col-lg-8 mx-auto">
            <div class="card my-4 bg-light">
                <div class="card-body">
                    {{ form_start(form) }}
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(form) }}
                        </div>
                        <div id="form-category-1" class="form-row mt-md-4 mb-4">
                            <div class="col-md-3">
                                {{ form_label(form.categoryLevel1) }}
                            </div>
                            <div class="col-md-9">
                                <div class="form-row">
                                    <div id="select-category-1" class="col-11"
                                        data-categoryTitle="" data-categoryDescription="">
                                        {{ form_widget(form.categoryLevel1) }}
                                    </div>
                                    <div id="add-category-1" class="col-1 pt-2 text-center">
                                        <a href="#" id="add-category-1-btn" data-toggle="modal" data-target="#createCategory">
=======
{% block title %}{{ 'contrib.form.situ.label'|trans() }}{% endblock %}

{% block content %}
    <div class="container mt-5 pt-5 py-4">
        {% block banner%}
            <h1 class="h3 my-3 mb-5 text-white">{{ 'contrib.form.situ.label'|trans() }}</h1>
        {% endblock %}
            
        <div class="col-lg-8 mx-auto">
            {{ form_start(form) }}
                <div class="card my-4 bg-light-50 border-0 shadow">
                    <div class="card-header py-4 pl-4 bg-dark-50 border text-white">
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(form) }}
                        </div>
                        <div id="event" class="formData form-row mt-1 mb-4">
                            <div class="col-md-4 pt-md-1">
                                {{ form_label(form.event) }}
                                {{ form_errors(form.event) }}
                            </div>
                            <div class="col-md-8">
                                <div class="form-row">
                                    <div id="form-event" class="col-11">{{ form_widget(form.event) }}</div>
                                    <div id="add-event" class="col-1 pt-2 pl-md-2 text-center colBtn">
                                        <a href="#" id="add-event-btn" class="text-light" data-id="event">
                                            <i class="fas fa-plus-circle"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="categoryLevel1" class="formData form-row mb-4">
                            <div class="col-md-4 pt-md-1">
                                {{ form_label(form.categoryLevel1) }}
                                {{ form_errors(form.categoryLevel1) }}
                            </div>
                            <div class="col-md-8">
                                <div class="form-row">
                                    <div id="form-categoryLevel1" class="col-11 colData">
                                        {{ form_widget(form.categoryLevel1) }}
                                    </div>
                                    <div id="add-categoryLevel1" class="col-1 pt-2 pl-md-2 text-center colBtn">
                                        <a href="#" id="add-categoryLevel1-btn" class="text-light" data-id="categoryLevel1">
>>>>>>> situ-create
                                            <i class="fas fa-plus-circle"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
<<<<<<< HEAD
                        <div id="form-category-2" class="form-row d-none">
                            <div class="col-md-3">
                                {{ form_label(form.categoryLevel2) }}
                            </div>
                            <div class="col-md-9">
                                <div class="form-row">
                                    <div id="select-category-2" class="col-11"
                                        data-categoryTitle="" data-categoryDescription="">
                                        {{ form_widget(form.categoryLevel2) }}
                                    </div>
                                    <div id="add-category-2" class="col-1 pt-2 text-center">
                                        <a href="#" id="add-category-2-btn" data-toggle="modal" data-target="#createCategory">
=======
                        <div id="categoryLevel2" class="formData form-row mb-2">
                            <div class="col-md-4 pt-md-1 col-cat">
                                {{ form_label(form.categoryLevel2) }}
                                {{ form_errors(form.categoryLevel2) }}
                            </div>
                            <div class="col-md-8">
                                <div class="form-row">
                                    <div id="form-categoryLevel2" class="col-11 colData">
                                        {{ form_widget(form.categoryLevel2) }}
                                    </div>
                                    <div id="add-categoryLevel2" class="col-1 pt-2 pl-md-2 text-center colBtn">
                                        <a href="#" id="add-categoryLevel2-btn" class="text-light" data-id="categoryLevel2">
>>>>>>> situ-create
                                            <i class="fas fa-plus-circle"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
<<<<<<< HEAD
                        {{ form_row(form.title) }}
                        {{ form_row(form.description) }}                        
                        <div id="submit" class="form-group text-center mt-5 mb-2">
                            <button id="submit-btn" class="btn btn-primary px-4" type="button">
                                {{ 'contrib.create.record'|trans() }}
                            </button>
                            <button id="submit-btn" class="btn btn-primary px-4" type="button">
                                {{ 'contrib.create.submit'|trans() }}
                            </button>
                        </div>
                     {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createCategory" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="createCategoryLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" data-level="">
                <div class="modal-header">
                    <h5 class="modal-title" id="createCategoryLabel">
                        <span id="label-level-1">{{ 'category.create.form_title_1'|trans() }}</span>
                        <span id="label-level-2">{{ 'category.create.form_title_2'|trans() }}</span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="required">{{ 'category.create.title'|trans() }}</label>
                            <input type="text" placeholder="{{ 'category.create.title_1_placeholder'|trans() }}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="required">{{ 'category.create.description'|trans() }}</label>
                            <textarea rows="4" placeholder="{{ 'category.create.description_1_placeholder'|trans() }}" class="form-control"></textarea>
                        </div>
                        <div class="text-right">
                            <button type="button" id="add-cancel" class="btn btn-danger" data-dismiss="modal">{{ 'category.create.cancel'|trans() }}</button>
                            <button type="button" id="add-category" class="btn btn-primary" data-dismiss="modal">{{ 'category.create.submit'|trans() }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
=======
                    </div>
                    <div class="card-body p-4 bg-white-80">
                        <h2 class="h5 font-weight-normal">{{ 'contrib.form.situ.h2'|trans() }}</h2>
                        {{ form_row(form.title) }}
                        {{ form_row(form.description) }} 
                        <div id="form-items" class="form-row">
                            {{ form_label(form.situItems) }}
                            <ul id="situItems" class="list-group list-group-flush col-12"
                                data-prototype="{{ form_widget(form.situItems.vars.prototype)|e }}"
                                data-widget-situItems="{{ '<li class="list-group-item pt-1 px-0 mb-2 bg-none clearfix"></li>'|e }}"
                                data-widget-counter="{{ form.situItems|length }}">
                                <legend class="col-form-label">{{ 'contrib.form.item.label'|trans() }}</legend>
                                {% for situItems in form.situItems %}
                                    <li class="list-group-item pt-1 px-0 mb-2 bg-none clearfix">
                                        {{ form_errors(situItems) }}
                                        {{ form_widget(situItems) }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <div id="add-situ" class="col-12">
                                <p class="h6">{{ 'contrib.form.item.add_item.title'|trans() }}</p>
                                <div class="small d-block my-4 pb-1">
                                    {{ 'contrib.form.item.add_item.comment-begin'|trans() }}
                                    <span class="text-info">{{ 'contrib.form.item.score.info'|trans() }}</span>
                                    {{ 'contrib.form.item.add_item.comment-1'|trans() }}
                                    <span class="text-warning">{{ 'contrib.form.item.score.warning'|trans() }}</span>
                                    {{ 'contrib.form.item.add_item.comment-2'|trans() }}
                                    <span class="text-danger">{{ 'contrib.form.item.score.danger'|trans() }}</span>
                                    {{ 'contrib.form.item.add_item.comment-end'|trans() }}
                                </div>
                                <div id="add-itemSitu-link" class="col-md-6 offset-md-3 mb-3 text-center text-decoration-none"
                                    data-list-selector="#situItems">
                                    <i class="fas fa-plus-circle"></i>
                                    <span class="text-muted">{{ 'contrib.form.item.add_item.btn'|trans() }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_row(form.statusId) }}
                    <div class="card-footer bg-light text-right">
                        <button id="save-btn" class="btn btn-outline-primary px-3" type="submit">
                            {{ 'contrib.form.record.btn'|trans() }}
                        </button>
                        <button id="submit-btn" class="btn btn-primary px-4" type="submit">
                            {{ 'contrib.form.submit.btn'|trans() }}
                        </button>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
<style>
        
</style>
>>>>>>> situ-create
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('situ_create_app') }}
<<<<<<< HEAD
    

<script>
</script>
    
=======
<script>
    var translations = {
       "event-titlePlaceholder" : "{{ 'contrib.form.event.add.placeholder' | trans }}",
       "categoryLevel1-titlePlaceholder" : "{{ 'contrib.form.category.level1.title_placeholder' | trans }}",
       "categoryLevel2-titlePlaceholder" : "{{ 'contrib.form.category.level2.title_placeholder' | trans }}",
       "categoryLevel1-descriptionPlaceholder" : "{{ 'contrib.form.category.level1.description_placeholder' | trans }}",
       "categoryLevel2-descriptionPlaceholder" : "{{ 'contrib.form.category.level2.description_placeholder' | trans }}",
    } 
</script>
>>>>>>> situ-create
{% endblock %}