{% extends 'front/layout.html.twig' %}
{% trans_default_domain 'user_messages' %}
{% set locale = app.request.locale %}

{% block title %}{{ 'contrib.form.situ.h1'|trans() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('flp_theme') }}
    {{ encore_entry_link_tags('situ_create_app', null, 'frontApp') }}
{% endblock %}

{% block content %}
    <div id="loader"></div>
    
    <div class="container mt-5 py-5">
        
        {% block banner%}
        <div class="mt-3 mb-4 pt-5">
            <h1 class="h3 text-white">
                {{ 'contrib.form.situ.h1'|trans() }}
            </h1>
        </div>
        {% endblock %}
    
        <div class="row">
        
            <div id="situ" class="col-lg-7 mx-auto p-0"
                 data-id="{% if situ %}{{ situ.id }}{% endif %}"
                 data-lang="" data-initial-id="">
            {{ form_start(form) }}
                <div class="card my-4 mx-3 bg-none border-0 shadow">
                    
                    <div class="card-header py-4 pl-4 bg-secondary-80 border text-white">
                        <div id="lang" class="formData form-row mt-1 mb-4">
                            <div class="col-md-4 pt-md-1">
                                {{ form_label(form.lang) }}
                            </div>
                            <div class="col-md-5 col-sm-8 col-11">
                                <div class="form-row">
                                    <div id="form-lang" class="col-md-12">
                                        {{ form_widget(form.lang) }}
                                        {{ form_errors(form.lang) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="event" class="formData form-row mb-4{% if langs|length > 1 %} d-none on-load{% else %} mt-1{% endif %}">
                            <div class="col-md-4 pt-md-1">
                                {{ form_label(form.event) }}
                            </div>
                            <div class="col-md-8">
                                <div class="form-row">
                                    <div id="form-event" class="col-11 colDataLang">
                                        {{ form_widget(form.event) }}
                                        {{ form_errors(form.event) }}
                                    </div>
                                    <div id="add-event" class="col-1 pt-1 pl-md-2 text-center colBtn">
                                        <span id="add-event-btn" class="btnAdd mt-1 text-light" data-id="event">
                                            <i class="fas fa-plus-circle"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="categoryLevel1" class="formData form-row mb-4 d-none on-load">
                            <div class="col-md-4 pt-md-1">
                                {{ form_label(form.categoryLevel1) }}
                            </div>
                            <div class="col-md-8">
                                <div class="form-row">
                                    <div id="form-categoryLevel1" class="col-11 colDataLang colData">
                                        {{ form_widget(form.categoryLevel1) }}
                                        {{ form_errors(form.categoryLevel1) }}
                                    </div>
                                    <div id="add-categoryLevel1" class="col-1 pt-1 pl-md-2 text-center colBtn">
                                        <span id="add-categoryLevel1-btn" class="btnAdd mt-1 text-light" data-id="categoryLevel1">
                                            <i class="fas fa-plus-circle"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="categoryLevel2" class="formData form-row mb-4 d-none on-load">
                            <div class="col-md-4 pt-md-1 col-cat">
                                {{ form_label(form.categoryLevel2) }}
                            </div>
                            <div class="col-md-8">
                                <div class="form-row">
                                    <div id="form-categoryLevel2" class="col-11 colDataLang colData">
                                        {{ form_widget(form.categoryLevel2) }}
                                        {{ form_errors(form.categoryLevel2) }}
                                    </div>
                                    <div id="add-categoryLevel2" class="col-1 pt-1 pl-md-2 text-center colBtn">
                                        <span id="add-categoryLevel2-btn" class="btnAdd mt-1 text-light" data-id="categoryLevel2">
                                            <i class="fas fa-plus-circle"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                    
                    <div class="card-body p-4 bg-white-70 d-none">
                        <h2 class="h5 font-weight-normal">{{ 'contrib.form.situ.label'|trans() }}</h2>
                        {{ form_row(form.title) }}
                        {{ form_row(form.description) }} 
                        <div id="form-items" class="form-row">
                            {{ form_label(form.situItems) }}
                            <ul id="situItems" class="list-group list-group-flush col-12"
                                data-prototype="{{ form_widget(form.situItems.vars.prototype)|e }}"
                                data-widget-situItems="{{ '<li class="list-group-item pt-1 px-0 mb-2 bg-none clearfix row"></li>'|e }}"
                                data-widget-counter="{{ form.situItems|length }}">
                                <legend class="col-form-label">{{ 'contrib.form.item.label'|trans() }}</legend>
                                {% for situItems in form.situItems %}
                                    <li class="list-group-item pt-1 px-0 mb-2 bg-none clearfix row">
                                        {{ form_widget(situItems) }}
                                        {{ form_errors(situItems) }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <div id="add-situItem" class="col-12">
                                <p class="h6">{{ 'contrib.form.item.add_item.title'|trans() }}</p>
                                <div class="small d-block my-4 pb-1">
                                    {{ 'contrib.form.item.add_item.comment-begin'|trans() }}
                                    <span class="text-info">{{ 'contrib.form.item.score.info'|trans() }}</span>
                                    {{ 'contrib.form.item.add_item.comment-1'|trans() }}
                                    <span class="text-warning">{{ 'contrib.form.item.score.warning'|trans() }}</span>
                                    {{ 'contrib.form.item.add_item.comment-2'|trans() }}
                                    <span class="text-danger">{{ 'contrib.form.item.score.danger'|trans() }}</span>
                                    {{ 'contrib.form.item.add_item.comment-end'|trans() }}
                                </div>
                                <div id="add-itemSitu-link" class="col-md-6 offset-md-3 mb-3 text-center text-decoration-none"
                                    data-list-selector="#situItems">
                                    <i class="fas fa-plus-circle"></i>
                                    <span class="text-muted">{{ 'contrib.form.item.add_item.btn'|trans() }}</span>
                                </div>
                            </div>
                        </div>
                                
                        <div id="form-error"></div>

                    </div>
                                
                    {{ form_row(form.statusId) }}
                    
                    <div class="card-footer bg-light text-right d-none">
                        <div class="d-flex justify-content-between">
                            <div id="save-btn" class="btn btn-outline-primary px-3">
                                {{ 'contrib.form.save.btn'|trans() }}
                            </div>
                            <div id="submit-btn" class="btn btn-primary px-4">
                                {{ 'contrib.form.submit.btn'|trans() }}
                            </div>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
            </div>
            
        </div>
            
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('situ_create_app', null, 'frontApp') }}
    <script>
        var path = {
            "locale" : "{{ locale }}",
        }
        var translations = {
            "h1Update" : "{{ 'contrib.form.situ.h1_update' | trans }}",
            "flashError" : "{{ 'contrib.table.edit.flash.error' | trans }}",
            "srOnly-error" : "{{ 'contrib.form.sr_only.error' | trans }}",
            "toValidate" : "{{ 'contrib.form.to_validate' | trans }}",
            "event-titlePlaceholder" : "{{ 'contrib.form.event.add.placeholder' | trans }}",
            "categoryLevel1-titlePlaceholder" : "{{ 'contrib.form.category.level1.title_placeholder' | trans }}",
            "categoryLevel2-titlePlaceholder" : "{{ 'contrib.form.category.level2.title_placeholder' | trans }}",
            "categoryLevel1-descriptionPlaceholder" : "{{ 'contrib.form.category.level1.description_placeholder' | trans }}",
            "categoryLevel2-descriptionPlaceholder" : "{{ 'contrib.form.category.level2.description_placeholder' | trans }}",
            "scoreLabel" : "{{ 'contrib.form.item.score.placeholder' | trans }}",
            "scoreLabelAlt" : "{{ 'contrib.form.item.score.placeholder_alt' | trans }}",
            "scoreInfo" : "{{ 'contrib.form.item.score.tooltip' | trans }}",
            "formError" : "{{ 'contrib.form.error' | trans }}",
        }
    </script>
{% endblock %}