{% extends 'front/layout.html.twig' %}
{% trans_default_domain 'user_messages' %}
{% set locale = app.request.locale %}

{% block title %}{{ situ.title|length > 61 ? situ.title|capitalize|slice(0, 61) ~ '...' : situ.title|capitalize }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('situ_read_app', null, 'frontApp') }}
{% endblock %}

{% block content %}
    
    {% block banner%}
    <div class="d-flex justify-content-between mt-3 mb-5 pt-5">
        <div class="d-flex justify-content-start h3 text-white">
            <span>{{ 'contrib.situ.title'|trans() }}</span>
            {% if app.user and situ.statusId != 3 %}
                <span class="small px-1">-</span>
                <span class="small">
                    {% if situ.statusId == 1 %}
                        {{ 'status.writing'|trans() }}
                    {% elseif situ.statusId == 2 %}
                        {{ 'status.validation'|trans() }}
                    {% elseif situ.statusId == 4 and situ.initialSitu == 1
                            and app.user.id == situ.user.id %}
                        {{ 'status.refused'|trans() }}
                    {% elseif situ.statusId == 4 and situ.initialSitu == 0
                            and app.user.id == situ.user.id %}
                        {{ 'status.translation_refused'|trans() }}
                    {% elseif situ.statusId == 5 %}
                        {{ 'status.deleted'|trans() }}
                    {% endif %}
                </span>
            {% endif %}
        </div>
        <div>
            {% if app.user %}
                <a href="{{ path('user_situs') }}" class="btn btn-outline-light bg-dark-50-0 px-3">
                    <i class="fas fa-chevron-left ltr pr-2"></i>
                    {{ 'contrib.title'|trans() }}
                    <i class="fas fa-chevron-right rtl pl-2"></i>
                </a>
            {% endif %}
            <a href="{{ path('all_situs') }}" class="btn btn-outline-light bg-dark-50-0 px-3">
                <i class="fas fa-chevron-left ltr pr-2"></i>
                {{ 'action.situs_all'|trans() }}
                <i class="fas fa-chevron-right rtl pl-2"></i>
            </a>
        </div>
    </div>
    {% endblock %}

    <div class="row">

        <div class="col-md-8 mx-auto p-0">

            <div class="card mb-4 bg-light-50 border-0 rounded-lg shadow">

                <div class="card-header bg-dark-50 p-4 text-white">
                    <div class="row">
                        <div class="col-12">
                            <div class="position-absolute">
                                <img src="{{ asset('img/flag/'~ situ.lang.lang ~'.jpg') }}" alt="{{ situ.lang.lang }}" class="scale-12 text-uppercase">
                            </div>
                            <div class="h5 mb-0">
                                <div class="text-center">{{ situ.event.title|capitalize }}</div>
                                <div class="row">
                                    <div class="col-auto mx-auto">
                                        <div class="d-flex justify-content-start">
                                            {{ situ.categoryLevel1.title|capitalize }}
                                            <span class="px-2">/</span>
                                            {{ situ.categoryLevel2.title|capitalize }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body bg-white-80 p-4">
                    <h1 class="d-flex justify-content-start h4 mb-0 font-weight-bold">
                        {{ situ.title|capitalize }}
                    </h1>
                    <div class="d-flex justify-content-start mb-4 small">
                        <span>{{ 'contrib.situ.by_author'|trans() }}</span>
                        <a href="" class="px-1 text-secondary font-weight-bold">{{ user.name|capitalize }}</a>
                    </div>
                    <div class="d-flex justify-content-start mb-5">
                        {{ situ.description|capitalize }}
                    </div>
                    <div class="d-flex justify-content-start h5 mt-4 mb-2 font-weight-bold">{{ 'contrib.form.item.label'|trans() }}</div>
                    {% for situItem in situ.situItems %}
                        {% if situItem.score == 0 %}
                        <div class="d-flex justify-content-start mb-2 font-weight-bold">
                            {{ situItem.title|capitalize }}
                        </div>
                        <div class="d-flex justify-content-start mb-5">
                            {{ situItem.description|capitalize }}
                        </div>
                        {% endif %}
                        {% if (app.user.id == situ.user.id or is_granted('ROLE_MODERATOR')) and situItem.score != 0 %}
                            <div class="d-flex justify-content-start h5 mt-4 mb-2 text-info font-weight-bold">
                            {% if situItem.score == 1 %}
                                <span class="text-info">{{ 'contrib.form.item.score.info'|trans()~' :' }}</span>
                            {% elseif situItem.score == 2 %}
                                <span class="text-warning">{{ 'contrib.form.item.score.warning'|trans()~' :' }}</span>
                            {% elseif situItem.score == 3 %}
                                <span class="text-danger">{{ 'contrib.form.item.score.danger'|trans()~' :' }}</span>
                            {% endif %}
                            </div>
                            <div class="d-flex justify-content-start mb-2 font-weight-bold">
                                {{ situItem.title|capitalize }}
                            </div>
                            <div class="d-flex justify-content-start pb-3">
                                {{ situItem.description|capitalize }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
                
            {% if app.user.id == situ.user.id %}
                <div class="d-flex justify-content-end">
                    <a href="{{ path('create_situ', { 'id': situ.id }) }}" class="btn btn-secondary px-4 py-2">
                        {{ 'action.edit'|trans() }}
                    </a>
                </div>
            {% endif %}
            
        </div>
    </div>
                        
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('situ_read_app', null, 'frontApp') }}
{% endblock %}