{% extends 'front/layout.html.twig' %}
{% trans_default_domain 'user_messages' %}
{% set locale = app.request.locale %}

{% block title %}{{ 'contrib.translation.title'|trans() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('flp_theme') }}
    {{ encore_entry_link_tags('situ_create_app', null, 'frontApp') }}
    {{ encore_entry_link_tags('situ_translation_app', null, 'frontApp') }}
{% endblock %}

{% block content %}
    <div id="loader"></div>
    
    <div class="container mt-5 py-5">
        
        {% block banner%}
        <div class="mt-3 mb-5 pt-5">
            <h1 class="h3 text-white">
                {{ 'contrib.translation.title'|trans() }}
            </h1>
        </div>
        {% endblock %}
        
        <div class="row">
            
            <div id="initialSitu" class="col-md-6">
                
                <div class="card my-4 bg-none border-0 shadow">
                    
                    <div class="card-header py-4 pl-4 bg-secondary-80 border text-white">
                        <div class="d-flex justify-content-center mb-4">
                            <img src="{{ asset('img/flag/'~ situ.lang.lang ~'.jpg') }}"
                                 alt="{{ lang.lang }}" class="translation-flag">
                        </div>
                        <div class="row mb-4 pb-1">
                            <div class="col-md-12 mb-2 pt-1">
                                <span class="font-weight-bolder">
                                    {{ 'contrib.translation.label.event'|trans() }}</span>
                                {{ situ.event.title }}
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-12 mb-2 pt-1 dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="font-weight-bolder">
                                        {{ 'contrib.translation.label.catLevel1'|trans() }}</span>
                                    {{ situ.categoryLevel1.title }}</div>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-item">
                                        {{ situ.categoryLevel1.description }}
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12 dropdown dropdown-category">
                                <div class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="font-weight-bolder">
                                        {{ 'contrib.translation.label.catLevel2'|trans() }}</span>
                                    {{ situ.categoryLevel2.title }}</div>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-item">
                                        {{ situ.categoryLevel2.description }}
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                                    
                    <div class="card-body pt-4 pb-0 px-4 bg-white-70">
                        <h2 class="h5 font-weight-normal">{{ 'contrib.form.situ.label'|trans() }}</h2>
                        <h6 class="h6 mb-3 pb-1 font-weight-bolder">{{ 'contrib.form.situ.title'|trans() }}</h6>
                        <div class="h-title mb-3 first-letter">{{ situ.title }}</div>
                        <h6 class="h6 pb-1 font-weight-bolder">{{ 'contrib.form.situ.description'|trans() }}</h6>
                        <div class="h-description mb-3 pt-1 first-letter">{{ situ.description }}</div>
                        <h6 class="h6 mb-3 py-2 font-weight-bolder">{{ 'contrib.form.item.label'|trans() }}</h6>
                        <div id="initialSituItems" data-initial="{{ situ.situItems|length }}">
                        {% for item in situ.situItems %}
                            {% if item.score != 0 %}
                                <h6 class="h6 font-weight-bolder pt-score">
                                    {% if item.score == 1 %}
                                    {{ 'contrib.form.item.score.info'|trans() }}
                                    {% elseif item.score == 2 %}
                                    {{ 'contrib.form.item.score.warning'|trans() }}
                                    {% else %}
                                    {{ 'contrib.form.item.score.danger'|trans() }}
                                    {% endif %}
                                </h6>
                            {% endif %}
                            <div class="h-title mb-3 first-letter">{{ item.title }}</div>
                            <div class="h-description mb-4 first-letter">{{ item.description }}</div>
                        {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        
            <div id="situ" class="col-md-6 p-0" data-id=""
                 data-lang="{{ lang.id }}"
                 data-initial-id="{{ situ.lang.id }}">
            {{ form_start(form) }}
                <div class="card my-4 bg-none border-0 shadow">

                    <div class="card-header py-4 pl-4 bg-secondary-80 border text-white">
                        <div class="d-flex justify-content-center mb-4">
                            <img src="{{ asset('img/flag/'~ lang.lang ~'.jpg') }}"
                                 alt="{{ lang.lang }}" class="translation-flag">
                        </div>
                        <div id="lang" class="formData form-row d-none">
                            {{ form_row(form.lang) }}
                        </div>
                        <div id="event" class="formData form-row mb-4">
                            <div class="col-md-4 pt-md-1">
                                {{ form_label(form.event) }}
                            </div>
                            <div class="col-md-8">
                                <div class="form-row">
                                    <div id="form-event" class="col-11 colDataLang">
                                        {{ form_widget(form.event) }}
                                        {{ form_errors(form.event) }}
                                    </div>
                                    <div id="add-event" class="col-1 pt-1 pl-md-2 text-center colBtn">
                                        <span id="add-event-btn" class="btnAdd mt-1 text-light" data-id="event">
                                            <i class="fas fa-plus-circle"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="categoryLevel1" class="formData form-row mb-4">
                            <div class="col-md-4 pt-md-1">
                                {{ form_label(form.categoryLevel1) }}
                            </div>
                            <div class="col-md-8">
                                <div class="form-row">
                                    <div id="form-categoryLevel1" class="col-11 colDataLang colData">
                                        {{ form_widget(form.categoryLevel1) }}
                                        {{ form_errors(form.categoryLevel1) }}
                                    </div>
                                    <div id="add-categoryLevel1" class="col-1 pt-1 pl-md-2 text-center colBtn">
                                        <span id="add-categoryLevel1-btn" class="btnAdd mt-1 text-light" data-id="categoryLevel1">
                                            <i class="fas fa-plus-circle"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="categoryLevel2" class="formData form-row mb-4">
                            <div class="col-md-4 pt-md-1 col-cat">
                                {{ form_label(form.categoryLevel2) }}
                            </div>
                            <div class="col-md-8">
                                <div class="form-row">
                                    <div id="form-categoryLevel2" class="col-11 colDataLang colData">
                                        {{ form_widget(form.categoryLevel2) }}
                                        {{ form_errors(form.categoryLevel2) }}
                                    </div>
                                    <div id="add-categoryLevel2" class="col-1 pt-1 pl-md-2 text-center colBtn">
                                        <span id="add-categoryLevel2-btn" class="btnAdd mt-1 text-light" data-id="categoryLevel2">
                                            <i class="fas fa-plus-circle"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body p-4 bg-white-70">
                        <h2 class="h5 font-weight-normal title-success">{{ 'contrib.form.situ.label'|trans() }}</h2>
                        {{ form_row(form.title) }}
                        {{ form_row(form.description) }} 
                        <div id="form-items" class="form-row">
                            {{ form_label(form.situItems) }}
                            <ul id="situItems" class="list-group list-group-flush col-12"
                                data-prototype="{{ form_widget(form.situItems.vars.prototype)|e }}"
                                data-widget-situItems="{{ '<li class="list-group-item pt-1 px-0 mb-2 bg-none clearfix row"></li>'|e }}"
                                data-widget-counter="{{ form.situItems|length }}">
                                <legend class="col-form-label">{{ 'contrib.form.item.label'|trans() }}</legend>
                                {% for situItems in form.situItems %}
                                    <li class="list-group-item pt-1 px-0 mb-2 bg-none clearfix row">
                                        {{ form_widget(situItems) }}
                                        {{ form_errors(situItems) }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <div id="add-situItem" class="col-12">
                                <div id="add-itemSitu-link" class="col-md-6 offset-md-3 mb-3 text-center text-decoration-none"
                                    data-list-selector="#situItems">
                                    <i class="fas fa-plus-circle"></i>
                                    <span class="text-muted">{{ 'contrib.form.item.add_item.btn'|trans() }}</span>
                                </div>
                            </div>
                        </div>

                        <div id="form-error"></div>

                    </div>

                    {{ form_row(form.statusId) }}

                    <div class="card-footer bg-light text-right d-none">
                        <div class="d-flex justify-content-between">
                            <div id="save-btn" class="btn btn-outline-primary px-3">
                                {{ 'contrib.form.save.btn'|trans() }}
                            </div>
                            <div id="submit-btn" class="btn btn-primary px-4">
                                {{ 'contrib.form.submit.btn'|trans() }}
                            </div>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
            </div>
            
        </div>
            
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('situ_create_app', null, 'frontApp') }}
    {{ encore_entry_script_tags('situ_translation_app', null, 'frontApp') }}
    <script>
        let path = {
            "locale" : "{{ locale }}",
        }
        let translations = {
            "flashError" : "{{ 'contrib.table.update.flash.error' | trans }}",
            "srOnly-error" : "{{ 'contrib.form.sr_only.error' | trans }}",
            "flashError1" : "{{ 'contrib.form.save.flash.error' | trans }}",
            "flashError2" : "{{ 'contrib.form.submit.flash.error' | trans }}",
            "flashErrorUpdate" : "{{ 'contrib.table.update.flash.error' | trans }}",
            "toValidate" : "{{ 'contrib.form.to_validate' | trans }}",
            "event-titlePlaceholder" : "{{ 'contrib.form.event.add.placeholder' | trans }}",
            "categoryLevel1-titlePlaceholder" : "{{ 'contrib.form.category.level1.title_placeholder' | trans }}",
            "categoryLevel2-titlePlaceholder" : "{{ 'contrib.form.category.level2.title_placeholder' | trans }}",
            "categoryLevel1-descriptionPlaceholder" : "{{ 'contrib.form.category.level1.description_placeholder' | trans }}",
            "categoryLevel2-descriptionPlaceholder" : "{{ 'contrib.form.category.level2.description_placeholder' | trans }}",
            "scoreLabel" : "{{ 'contrib.form.item.score.placeholder' | trans }}",
            "scoreLabelAlt" : "{{ 'contrib.form.item.score.placeholder_alt' | trans }}",
            "scoreInfo" : "{{ 'contrib.form.item.score.tooltip' | trans }}",
            "formError" : "{{ 'contrib.form.error' | trans }}",
        }
        
    </script>
{% endblock %}