{% extends 'front/layout.html.twig' %}
{% trans_default_domain 'user_messages' %}
{% set locale = app.request.locale %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('jquery-confirm/css/jquery-confirm.css') }}">
    {{ encore_entry_link_tags('flp_theme') }}
    {{ encore_entry_link_tags('situ_user_app', null, 'frontApp') }}
{% endblock %}

{% block title %}{{ 'contrib.title'|trans() }}{% endblock %}

{% block content %}
    <div id="loader"></div>
        
    {% block banner%}
    <div class="d-flex justify-content-between mt-3 mb-5 pt-5">
        <h1 class="h3 text-white">{{ 'contrib.title'|trans() }}</h1>
        <a href="{{ path('create_situ') }}" class="btn btn-outline-light bg-dark-50-0 px-3">
            <i class="fas fa-plus ltr pr-2"></i>
            {{ 'action.situ_add'|trans() }}
            <i class="fas fa-plus rtl pl-2"></i>
        </a>
    </div>
    {% endblock %}

    <div class="card card bg-secondary-50">
        <div id="situs" class="card-body text-white front-dataTable" data-empty="{{ situs is empty ? 'yes' }}">

            {% if situs is empty %}
            <div class="mb-5 p-3 bg-white-70 text-secondary">
                {{ 'account.contribs.empty'|trans() }}
            </div>
            {% else %}
            <table id="dataTable-situs" class="shadow table table-borderless table-hover text-nowrap">
                <thead class="bg-black-40 text-white">
                    <tr>
                        <th class="d-none"></th>
                        <th class="py-2">{{ 'label.title'|trans() }}</th>
                        <th class="py-2">{{ 'label.description'|trans() }}</th>
                        <th class="py-2">{{ 'status.date_creation'|trans() }}</th>
                        <th class="py-2">{{ 'label.event'|trans() }}</th>
                        <th class="py-2">{{ 'label.catLevel1'|trans() }}</th>
                        <th class="py-2">{{ 'label.catLevel2'|trans() }}</th>
                        <th class="py-2">{{ 'label.lang'|trans() }}</th>
                        <th class="py-2">{{ 'status.title'|trans() }}</th>
                        <th class="cust-nowrap p-2 no-sort">{{ 'action.actions'|trans() }}</th>
                        <th class="no-sort"></th>
                        <th class="no-sort"></th>
                        {% if userLangs|length > 1 %}<th class="no-sort"></th>{% endif %}
                    </tr>
                </thead>
                <tbody class="small bg-white-80">
                {% for situ in situs %}
                    {% if situ.statusId != 5 %}
                        <tr data-id="{{ situ.id }}">
                            
                            <td class="d-none">{{ situ.id }}</td>
                            
                            <th class="first-letter pt-3 situ-title"
                                scope="row" data-toggle="tooltip" data-placement="right" title="{{ situ.title }}">
                                {{ situ.title|u.truncate(20, '...') }}
                            </th>
                            
                            <td class="first-letter pt-3"
                                data-toggle="tooltip" data-placement="right" title="{{ situ.description }}">
                                {{ situ.description|u.truncate(20, '...') }}
                            </td>
                            
                            <td class="pt-3"
                                data-toggle="tooltip" data-placement="right" title="{{ situ.dateCreation is empty ? '' : situ.dateCreation|format_datetime('short', 'short', locale=locale) }}">
                                {{ situ.dateCreation|format_datetime('short', 'none', locale=locale) }}
                            </td>
                            
                            <td class="first-letter pt-3"
                                data-toggle="tooltip" data-placement="right" title="{{ situ.event.title }}">
                                {{ situ.event.title|u.truncate(20, '...') }}
                            </td>
                            
                            <td class="first-letter pt-3"
                                data-toggle="tooltip" data-placement="right" title="{{ situ.categoryLevel1.title }}">
                                {{ situ.categoryLevel1.title|u.truncate(20, '...') }}
                            </td>
                            
                            <td class="first-letter pt-3"
                                data-toggle="tooltip" data-placement="right" title="{{ situ.categoryLevel2.title }}">
                                {{ situ.categoryLevel2.title|u.truncate(20, '...') }}
                            </td>
                            
                            <td class="pt-3">
                                <span class="decode first-letter">{{ situ.lang.name }}</span>
                                {% if situ.initialSitu == 0 %}
                                    <span class="small"><i class="fas fa-globe "></i></span>
                                {% endif %}
                            </td>
                            
                            <td class="pt-3 situStatus">
                                {% if situ.statusId == 1 %}
                                    {{ 'status.writing'|trans() }}
                                {% elseif situ.statusId == 2 %}
                                    {{ 'status.validation'|trans() }}
                                {% elseif situ.statusId == 3 %}
                                    {{ 'status.validated'|trans() }}
                                {% elseif situ.statusId == 4 %}
                                    {% if situ.initialSitu ==  0 %}
                                        {{ 'status.translation_refused'|trans() }}
                                    {% else %}
                                        {{ 'status.refused'|trans() }}
                                    {% endif %}
                                {% endif %}
                            </td>
                            
                            {% if situ.statusId == 4 and situ.initialSitu ==  0 %}
                                <td class="px-0 first-action"></td>
                            {% else %}
                                <td class="px-0 first-action">
                                {% if situ.statusId == 3 %}
                                    <span data-id="{{ situ.id }}"
                                       class="btn btn-outline-secondary btn-sm px-1 updateConfirm"
                                       data-toggle="tooltip" data-placement="left"
                                       title="{{ 'action.edit'|trans() }}"
                                       aria-label="{{ 'action.edit'|trans() }}">
                                        <i class="fas fa-pen"></i>
                                    </span>
                                {% else %}
                                    <a href="{{ path('create_situ', { 'id': situ.id }) }}"
                                       class="btn btn-outline-secondary btn-sm px-1"
                                       data-toggle="tooltip" data-placement="left"
                                       title="{{ 'action.edit'|trans() }}"
                                       aria-label="{{ 'action.edit'|trans() }}">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                {% endif %}
                                </td>
                            {% endif %}
                            
                            {% if userLangs|length > 1 %}
                                <td class="width-max-26 pl-0 pr-2">
                                    {% if situ.initialSitu == 1 %}
                                        <span class="situTranslate btn btn-outline-primary btn-sm px-1"
                                            data-lang="{{ situ.lang.id }}" data-toggle="tooltip" data-placement="left"
                                            title="{{ 'action.translate'|trans() }}">
                                            <i class="fas fa-globe"></i>
                                        </span>
                                    {% else %}
                                        <span class="btn btn-outline-secondary btn-sm px-1 situ-translation"
                                            data-toggle="tooltip" data-placement="left"
                                            title="{{ 'action.translated'|trans() }}">
                                            <i class="fas fa-globe"></i>
                                        </span>
                                    {% endif %}
                                </td>
                            {% endif %}
                            
                            {% if situ.statusId == 1 %}
                                <td class="width-max-26 px-0">
                                    <span class="situValidation btn btn-outline-success btn-sm pcx-2"
                                        data-toggle="tooltip" data-placement="left"
                                        title="{{ 'action.validation'|trans() }}">
                                        <i class="far fa-paper-plane"></i>
                                    </span>
                                </td>
                            {% elseif situ.statusId == 2 or situ.statusId == 3 %}
                                <td class="width-max-26 px-0">
                                    <a href="{{ path('read_situ', { 'id': situ.id }) }}"
                                       class="btn btn-outline-success btn-sm px-1"
                                       data-id="{{ situ.id }}"
                                       data-toggle="tooltip" data-placement="left"
                                       title="{{ 'action.read'|trans() }}">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                            {% else %}
                                <td class="width-max-26 px-0"></td>
                            {% endif %}
                            
                            <td class="width-max-45 px-2">
                                <span class="situDelete btn btn-outline-danger btn-sm"
                                   data-toggle="tooltip" data-placement="left"
                                   title="{{ 'action.delete'|trans() }}">
                                    <i class="far fa-trash-alt"></i>
                                </span>
                            </td>
                            
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            {% endif %}                                

        </div>
    </div>

    {% if userLangs|length > 1 %}
        <div class="modal fade" id="translateModal" data-backdrop="static" data-keyboard="false"
             tabindex="-1" aria-labelledby="translateModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-dark">
                        <h5 class="modal-title text-white" id="translateModalLabel">
                            {{ 'contrib.translation.title'|trans() }}
                        </h5>
                    </div>
                    <div class="modal-body text-secondary pb-4">
                        <p class="mb-1">{{ 'contrib.translation.modal.text'|trans() }}</p>
                        <p data-id="" class="situ-title text-center font-weight-bold first-letter"></p>
                        <div class="row mt-4 mb-2">
                            <div class="col-md-6 offset-md-3">
                                <select id="translateLangs" class="form-control">
                                    <option value="" class="d-none">
                                        {{ 'multiple_search'|trans() }}
                                    </option>
                                    {% for userLang in userLangs%}
                                        <option class="decode" value="{{ userLang.id }}">
                                            {{ userLang.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="spinner" class="d-flex justify-content-center mt-3">
                            <div class="spinner-border spinner-border-sm" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <p id="result" class="text-center mt-3 mb-0 d-none">
                            <span class="success">{{ 'contrib.translation.modal.result.success'|trans() }}</span>
                            <span class="error">{{ 'contrib.translation.modal.result.error'|trans() }}</span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button id="valid" class="btn btn-primary d-none" data-id=""></button>
                        <button class="cancel btn btn-secondary">
                            {{ 'action.cancel'|trans() }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %} 
                        
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('jquery-confirm/js/jquery-confirm.js') }}"></script>
    {{ encore_entry_script_tags('situ_user_app', null, 'frontApp') }}
    <script>
        let path = { "locale" : "{{ locale }}" }
        let translations = {
            "errorLangDeny" : "{{ 'lang_deny'|trans }}",
            "errorSrOnly" : "{{ 'contrib.form.sr_only.error'|trans }}",
            "modalBtnRead" : "{{ 'action.read'|trans() }}",
            "modalBtnValid" : "{{ 'action.translate'|trans() }}",
            "deleteTitle" : "{{ 'contrib.delete.title'|trans() }}",
            "deleteText" : "{{ 'contrib.delete.text'|trans() }}",
            "no" : "{{ 'no'|trans }}",
            "updateSituTitle" : "{{ 'contrib.update_validated.title'|trans }}",
            "updateSituQuestion" : "{{ 'contrib.update_validated.question'|trans|raw }}",
            "yes" : "{{ 'yes'|trans }}",
        }
    </script>
{% endblock %}