{% trans_default_domain 'back_messages' %}
{% extends "back/layout.html.twig" %}
{% set locale = app.request.locale %}

{% block title %}{{ 'lang.translation.title'|trans() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('lang_translation_site_app', null, 'backApp') }}
    {{ encore_entry_link_tags('flp_theme') }}
 {% endblock %}


{% block content %}
    <div id="loader"></div>
    
    <div class="container-fluid pt-4">
        
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ 'lang.translation.title'|trans() }}</h1>
        </div>

        <ul class="nav nav-pills" id="transaltions" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="site-tab" data-toggle="tab"
                   href="#site" role="tab" aria-controls="site"
                   aria-selected="false">
                    {{ 'lang.translation.site.table.title'|trans() }}
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contributor-tab" data-toggle="tab"
                   href="#contributor" role="tab" aria-controls="contributor"
                   aria-selected="true">
                    {{ 'lang.translation.contrib.table.title'|trans() }}
                </a>
            </li>
        </ul>

        <div class="tab-content mt-4" id="transaltions">
            <div class="tab-pane fade show active" id="site" role="tabpanel" aria-labelledby="site-tab">
                {% include "back/lang/translation/site/_site.html.twig" %}
            </div>
            <div class="tab-pane fade" id="contributor" role="tabpanel" aria-labelledby="contributor-tab">
                {% include "back/lang/translation/site/_contributor.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('lang_translation_site_app', null, 'backApp') }}
    <script>
        var path = {
            "locale" : "{{ locale }}",
        }
    </script>
{% endblock %}