{% trans_default_domain 'user_messages' %}

{{ form_start(form) }}
    <div class="card my-4 bg-none border-0 shadow">

        <div class="card-header p-3 bg-dark text-white">
            <div class="d-flex justify-content-center">
                <h5 class="mb-2 pb-1">
                    {{ 'contrib.form.to'|trans() }}
                    <span id="translateTo"></span>
                    <img src="{{ asset('img/flag/'~ lang.lang ~'.jpg') }}"
                         alt="{{ lang.lang }}" class="translation-flag mx-1 border">
                </h5>
            </div>
        </div>
                
        <div class="card-header py-4 pl-4 bg-secondary-80 text-white">
                        
            <div id="details" class="accordion">
            
                <div id="lang" class="formData form-row d-none">
                    {{ form_row(form.lang) }}
                </div>

                <div id="event" class="formData form-row mb-4">
                    <div class="col-md-5 mt-1 pt-md-1 line-11">
                        {{ form_label(form.event) }}
                    </div>
                    <div class="col-md-7">
                        <div class="form-row">
                            <div id="form-event" class="col-11 colDataLang">
                                {{ form_widget(form.event) }}
                                {{ form_errors(form.event) }}
                            </div>
                            <div id="add-event" class="col-1 pt-1 pl-md-2 text-center colBtn">
                                <span id="add-event-btn" class="btnAdd mt-1 text-light" data-id="event">
                                    <i class="fas fa-plus-circle"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="categoryLevel1" class="formData form-row mb-4 d-none on-load">
                    <div class="col-md-5 mt-1 pt-md-1 line-11">
                        <div id="headingOne" class="pointer">
                            <div data-toggle="collapse" data-target="#collapseOne"
                                 aria-expanded="false" aria-controls="collapseOne">
                                {{ form_label(form.categoryLevel1, null, { 'label_attr': {'class': 'pointer'} }) }}
                                <span class="infoCollapse d-none small"><i class="fas fa-question-circle"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-row">
                            <div id="form-categoryLevel1" class="col-11 colDataLang colData">
                                {{ form_widget(form.categoryLevel1) }}
                                {{ form_errors(form.categoryLevel1) }}
                            </div>
                            <div id="add-categoryLevel1" class="col-1 pt-1 pl-md-2 text-center colBtn">
                                <span id="add-categoryLevel1-btn" class="btnAdd mt-1 text-light" data-id="categoryLevel1">
                                    <i class="fas fa-plus-circle"></i>
                                </span>
                            </div>
                        </div>
                        <div id="collapseOne" class="pt-2 small infoCollapse collapse d-none"
                            aria-labelledby="headingOne" data-parent="#details">
                            <div class="d-block font-weight-bold">
                                {{ 'contrib.form.situ.description'|trans() }}
                            </div>
                            <div class="mt-1 px-3 line-11 first-letter description"></div>
                        </div>
                    </div>
                </div>

                <div id="categoryLevel2" class="formData form-row mb-4 d-none on-load">
                    <div class="col-md-5 pt-md-1 line-11 col-cat">
                        <div id="headingTwo" class="pointer">
                            <div data-toggle="collapse" data-target="#collapseTwo"
                                 aria-expanded="false" aria-controls="collapseTwo">
                                {{ form_label(form.categoryLevel2, null, { 'label_attr': {'class': 'pointer'} }) }}
                                <span class="infoCollapse d-none small"><i class="fas fa-question-circle"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-row">
                            <div id="form-categoryLevel2" class="col-11 colDataLang colData">
                                {{ form_widget(form.categoryLevel2) }}
                                {{ form_errors(form.categoryLevel2) }}
                            </div>
                            <div id="add-categoryLevel2" class="col-1 pt-1 pl-md-2 text-center colBtn">
                                <span id="add-categoryLevel2-btn" class="btnAdd mt-1 text-light" data-id="categoryLevel2">
                                    <i class="fas fa-plus-circle"></i>
                                </span>
                            </div>
                        </div>
                        <div id="collapseTwo" class="pt-2 small infoCollapse d-none collapse"
                            aria-labelledby="headingTwo" data-parent="#details">
                            <div class="d-block font-weight-bold">
                                {{ 'contrib.form.situ.description'|trans() }}
                            </div>
                            <div class="mt-1 px-3 line-11 first-letter description"></div>
                        </div>
                    </div>
                </div>

            </div>
                        
        </div>

        <div class="card-body px-4 pt-4 pb-0 bg-white-80">
            <h2 class="h5 font-weight-normal title-success">{{ 'contrib.form.situ.label'|trans() }}</h2>
            
            {{ form_row(form.title) }}
            {{ form_row(form.description) }} 
            
            <div id="form-items" class="form-row">
                            
                <h2 class="h5 font-weight-normal my-2">{{ 'contrib.form.item.label'|trans() }}</h2>

                <div id="situItems" class="list-group list-group-flush col-12 px-0"
                    data-prototype="{{ form_widget(form.situItems.vars.prototype)|e('html_attr') }}"
                    data-widget-situItems="{{ '<div class="situ-item"></div>'|e }}"
                    data-widget-counter="{{ form.situItems|length }}">
                    {% for situItem in form.situItems %}
                        {{ form_widget(situItem) }}
                        {{ form_errors(situItem) }}
                    {% endfor %}
                </div>
                            
                <div id="add-situItem" class="col-12">
                    <div id="add-itemSitu-link" class="col-md-6 offset-md-3 mb-3 pb-3 text-center text-decoration-none"
                        data-list-selector="#situItems">
                        <i class="fas fa-plus-circle"></i>
                        <span class="text-muted">{{ 'contrib.form.item.add_item.btn'|trans() }}</span>
                    </div>
                </div>
            </div>

            <div id="form-error"></div>

        </div>

        {{ form_widget(form.translatedSituId, {'value' : situ.id }) }}

        <div class="card-footer bg-light text-right">
            <div class="d-flex justify-content-center">
                <div id="save-btn" class="btn btn-outline-primary px-3 mx-2">
                    {{ 'action.save'|trans() }}
                </div>
                <div id="submit-btn" class="btn btn-primary px-4 mx-2">
                    {{ 'action.submit'|trans() }}
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}