{% extends 'front/layout.html.twig' %}
{% trans_default_domain 'user_messages' %}
{% set locale = app.request.locale %}

{% block title %}{{ 'contrib.translation.title'|trans() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('jquery-confirm/css/jquery-confirm.css') }}">
    {{ encore_entry_link_tags('flp_theme') }}
    {{ encore_entry_link_tags('situ_create_app', null, 'frontApp') }}
    {{ encore_entry_link_tags('situ_translation_app', null, 'frontApp') }}
{% endblock %}

{% block content %}
    <div id="loader"></div>
        
    {% block banner%}
    <div class="mt-3 mb-3 pt-5">
        <h1 class="h3 text-white">
            {{ 'contrib.translation.title'|trans() }}
        </h1>
    </div>
    {% endblock %}

    <div class="row translation-situ">

        <div id="initialSitu" class="col-md-5">
            {{ include('front/situ/translation/_initial.html.twig') }}
        </div>

        <div id="situ" class="col-md-7 p-0" data-id=""
             data-lang="{{ lang.id }}" data-default="{{ defaultLang }}">
            {{ include('front/situ/translation/_form.html.twig') }}
        </div>

    </div>                
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('jquery-confirm/js/jquery-confirm.js') }}"></script>
    {{ encore_entry_script_tags('situ_create_app', null, 'frontApp') }}
    {{ encore_entry_script_tags('situ_translation_app', null, 'frontApp') }}
    <script>
        let path = {
            "locale" : "{{ locale }}",
        }
        let translations = {
            "flashError" : "{{ 'contrib.table.edit.flash.error' | trans }}",
            "srOnly-error" : "{{ 'contrib.form.sr_only.error' | trans }}",
            "toValidate" : "{{ 'contrib.form.to_validate' | trans }}",
            "event-titlePlaceholder" : "{{ 'contrib.form.event.add.placeholder' | trans }}",
            "categoryLevel1-titlePlaceholder" : "{{ 'contrib.form.category.level1.title_placeholder' | trans }}",
            "categoryLevel2-titlePlaceholder" : "{{ 'contrib.form.category.level2.title_placeholder' | trans }}",
            "categoryLevel1-descriptionPlaceholder" : "{{ 'contrib.form.category.level1.description_placeholder' | trans }}",
            "categoryLevel2-descriptionPlaceholder" : "{{ 'contrib.form.category.level2.description_placeholder' | trans }}",
            "deleteItem-title" : "{{ 'contrib.form.item.remove.title' | trans }}",
            "deleteItem-content" : "{{ 'contrib.form.item.remove.confirm' | trans }}",
            "yes" : "{{ 'yes' | trans }}",
            "no" : "{{ 'no' | trans }}",
            "scoreLabel" : "{{ 'contrib.form.item.score.placeholder' | trans }}",
            "scoreLabelAlt" : "{{ 'contrib.form.item.score.placeholder_alt' | trans }}",
            "scoreInfo" : "{{ 'contrib.form.item.score.tooltip' | trans }}",
            "formError" : "{{ 'contrib.form.error' | trans }}",
        }
        
    </script>
{% endblock %}