{% trans_default_domain 'user_messages' %}

<li class="nav-item dropdown{{ route in ['user_situs', 'create_situ'] ? ' active' }}">
    <a class="nav-link dropdown-toggle mx-md-0 mx-4" id="dropdown_contribs" 
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ 'nav.contribs.title'|trans() }}
    </a>
    <ul class="dropdown-menu pt-md-2" aria-labelledby="dropdown_contribs">
        <li class="dropdown-item bg-dark{{ route == '' ? ' active' }}">
            <a href="{{ path('all_situs') }}">
                <i class="far fa-list-alt"></i> {{ 'nav.contribs.all'|trans() }}
            </a>
        </li>
        {% if app.user %}
        <li class="dropdown-item bg-dark{{ route == 'user_situs' ? ' active' }}">
            <a href="{{ path('user_situs') }}">
                <i class="fas fa-list-ul"></i> {{ 'nav.contribs.user'|trans() }}
            </a>
        </li>
        <li class="dropdown-item bg-dark{{ route == 'create_situ' ? ' active' }}">
            <a href="{{ path('create_situ') }}">
                <i class="far fa-edit"></i> {{ 'nav.contribs.add'|trans() }}
            </a>
        </li>
        <li class="dropdown-item bg-dark{{ route == '' ? ' active' }}">
            <a href="">
                <i class="fas fa-globe"></i> {{ 'nav.contribs.translate'|trans() }}
            </a>
        </li>
        {% endif %}
    </ul>
</li>