{% trans_default_domain 'front_messages' %}
{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}
{% set params = route_params|merge(app.request.query.all) %}

{% set localesEnabled = langs_enabled.getLangsEnabledOrNot(1) %}

<li class="nav-item dropdown lang-item">
    {% for locale in localesEnabled %}
        {% if locale.lang == app.request.locale %}
        <a class="nav-link dropdown-toggle" id="menu_lang" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ asset('img/flag/'~ locale.lang ~'.jpg') }}" alt="{{ locale.lang }}" class="d-md-inline d-none lang-flag mr-1">
            <span>{{ 'nav.lang_choice'|trans() }}</span>
        </a>
        {% endif %}
    {% endfor %}
    <ul class="dropdown-menu pt-md-4 pt-0 lang-menu" aria-labelledby="menu_lang">
        {% if app.user %}
            {% for locale in app.user.langs %}
                {% if locale.lang != app.request.locale %}
                    <li class="dropdown-item bg-dark-95">
                        <a class="" href="{{ path(route, params|merge({ _locale: locale.lang })) }}">
                            <img src="{{ asset('img/flag/'~ locale.lang ~'.jpg') }}" alt="{{ locale.lang }}" class="lang-flag mr-2">
                            <span class="text-capitalize d-inline d-md-inline d-sm-none decode">{{ locale.name }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for locale in localesEnabled %}
                {% if locale.lang != app.request.locale %}
                    <li class="dropdown-item bg-dark-95">
                        <a class="" href="{{ path(route, params|merge({ _locale: locale.lang })) }}">
                            <img src="{{ asset('img/flag/'~ locale.lang ~'.jpg') }}" alt="{{ locale.lang }}" class="lang-flag mr-2">
                            <span class="text-capitalize d-inline d-md-inline d-sm-none">{{ locale.name }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
</li>