{% trans_default_domain 'back_messages' %}
{% extends "back/layout.html.twig" %}

{% block title %}{{ 'content.list.table.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('table_app', null, 'backApp') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block content %}
    <div id="loader"></div>
    <div class="container-fluid pt-4">
        
        <div class="d-sm-flex justify-content-between row mb-4">
            <h1 class="col-auto h3 text-gray-800">{{ 'content.list.title'|trans }}</h1>
            <div class="col-auto">
                <a href="{{ path('back_content_edit', {
                                    '_locale': locale,
                                    'back': 'back' }) }}" class="btn btn-primary pt-1">
                    <i class="fas fa-plus-circle"></i>
                    {{ 'content.form.title'|trans }}
                </a>
            </div>
        </div>
        
        <div id="card-list" class="card shadow mb-4">

            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    {{ 'content.list.table.title'|trans }}
                </h6>
            </div>

            <div id="list" class="card-body pb-3 back-dataTable">

                {% if pages is empty %}
                    {{ 'content.list.table.empty'|trans }}
                {% else %}

                <table id="dataTable-list" class="table table-sm text-nowrap">
                    <thead class="bg-gray-600 text-white">
                        <tr>
                            <th class="no-sort"></th>
                            <th class="px-2">{{ 'label.enabled'|trans({}, 'messages') }}</th>
                            <th class="px-2">{{ 'label.lang'|trans({}, 'messages') }}</th>
                            <th class="px-2">{{ 'label.attribution'|trans({}, 'messages') }}</th>
                            <th class="px-2">{{ 'label.type'|trans({}, 'messages') }}</th>
                            <th class="px-2">{{ 'label.title'|trans({}, 'messages') }}</th>
                            <th class="px-2">{{ 'label.slug'|trans({}, 'messages') }}</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        {% for page in pages %}
                        <tr>
                            <td class="px-2">
                                <a href="{{ path('back_content_edit', {
                                                    '_locale': locale,
                                                    'back': 'back',
                                                    'id': page.id }) }}"
                                   role="button" class="btn btn-outline-primary px-2 py-1"
                                   data-id="{{ page.id }}" data-action=""
                                   data-toggle="tooltip" data-placement="left"
                                   title="{{ 'action.edit'|trans({}, 'messages') }}">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                            <td class="px-2">
                                {{ page.enabled == 0 ? 'no'|trans : 'yes'|trans }}
                            </td>
                            <td class="px-2 text-uppercase">
                                {{ page.lang }}
                            </td>
                            <td class="px-2">
                                {{ page.user ? page.user.name }}
                            </td>
                            <td class="px-2">
                                {% set type = 'content.form.page.type.choice.'~page.type %}
                                {{ type|trans  }}
                            </td>
                            <td class="px-2">
                                {{ page.title }}
                            </td>
                            <td class="px-2">
                                {{ page.slug }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>            
                {% endif %}
            </div>
        </div>

        
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('table_app', null, 'backApp') }}
{% endblock %}
