{% trans_default_domain 'back_messages' %}
{% extends "back/layout.html.twig" %}
{% set locale = app.request.locale %}

{% block title %}
    {{ 'content.form.userContrib.validate.title' |trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('jquery-confirm/css/jquery-confirm.css') }}">
    {{ encore_entry_link_tags('page_edit_app', null, 'backApp') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block content %}
    
    <div class="container-fluid pt-4" translate="no">
        
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ 'content.form.userContrib.validate.title' |trans }}</h1>
            <a href="{{ path('back_content_search') }}" class="btn btn-secondary mx-2 pt-1">
                <i class="fas fa-reply"></i>
                {{ 'action.back_list'|trans }}
            </a>
        </div>
            
        <div class="row">
            <div class="col-10 mx-auto px-0 card shadow mb-4">

                <div class="card-header py-3">
                    <h6 class="d-flex justify-content-start m-0">

                    </h6>
                </div>
                
            </div>
        </div>
                    
    </div>
                    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
