{% trans_default_domain 'user_messages' %}

<div id="card-form" class="card bg-none mb-4" data-action="">
    
    <div class="card-header p-3 bg-dark text-white">
        <h6 id="translationName" class="m-0 font-weight-bold">
            {{ 'translation.form.create'|trans() }}
        </h6>
    </div>
        
    <div class="card-body p-4 bg-white-70">
        
        <div class="row mb-3">
            <div class="col-sm-7">
            </div>
            <div id="add-field" class="col-sm-5 my-md-0 my-sm-4 mt-0 mb-3 pt-md-0 pt-sm-2 pt-0 d-none">
                <div class="d-flex justify-content-end row">
                    <div class="col-auto mx-3">
                        <div id="add-field-link" class="btn btn-primary pt-1"
                            data-list-selector="#fields">
                            <i class="fas fa-plus-circle"></i>
                            {{ 'lang.translation.form.field.btn.add'|trans() }}
                        </div>
                    </div>
                </div>
                <div id="add-error" class="d-none">{{ 'lang.translation.form.field.btn.error' | trans }}</div>
            </div>
        </div>
        <div id="form-fields" class="form-row">
            <div class="mx-4 d-none">
                <label>{{ 'lang.translation.form.field.label'|trans() }}</label>
            </div>
            
        </div>

    </div>
    <div class="card-footer bg-light text-right">
        <div class="d-flex justify-content-center">
            <button id="save-btn" class="btn btn-outline-primary mx-2 px-3" type="submit">
                {{ 'action.save'|trans() }}
            </button>
            <button id="submit-btn" class="btn btn-primary mx-2 px-4" type="submit">
                {{ 'action.submit'|trans() }}
            </button>
        </div>
    </div>
            
        
</div>