 {% trans_default_domain 'user_messages' %}

       {% if translations is empty %}
        <div class="mb-5 p-3 bg-white-70">
            {{ 'translation.table.empty'|trans() }}
        </div>
        {% else %}
                            {% for userTranslation in userTranslations %}
                                {{dump(userTranslation)}}
                            {% endfor %}
        <div class=" table-responsive">
            <table class="shadow table table-sm table-borderless table-hover border border-secondary text-nowrap bg-white-80">
                <thead class="bg-secondary-80 text-white">
                    <tr>
                        <th class="px-3">{{ 'translation.table.environment'|trans() }}</th>
                        <th class="px-3">{{ 'status.date_creation'|trans() }}</th>
                        {% for lang in app.user.contributorLangs %}
                            <th class="px-3 text-center">{{ lang.englishName }}</th>
                        {% endfor %}
                        <th class=""></th>
                    </tr>
                </thead>
                <tbody class="small">
                    {% for translation in translations %}
                    <tr>
                        <th class="px-3 align-middle">
                            {{ translation.name }}
                        </th>
                        <td class="px-3 align-middle">
                            {{ translation.dateStatus|format_datetime('short', 'medium', locale=locale) }}
                        </td>
                        {% for lang in app.user.contributorLangs %}
                            <td class="align-middle text-center">
                                {% if userTranslations|length > 0 %}
                                    {% for userTranslation in userTranslations %}
                                        {% if translation.userId == userTranslation.userId %}
                                            <a href="/{{ lang.lang }}" title=""
                                                data-toggle="tooltip" data-placement="left" title=""
                                                class="selectMessagebtn btn-outline-warning"
                                                aria-label="" role="button">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <span role="button" class="selectMessage btn text-success"
                                       data-id="{{ translation.id }}" data-user="{{ app.user.id }}" data-action=""
                                       data-toggle="tooltip" data-placement="left"
                                       title="{{ 'action.add'|trans() }}">
                                        <i class="fas fa-plus-circle"></i>
                                    </span>
                                {% endif %}
                            </td>
                        {% endfor %}
                        <td class="align-middle">
{#                                {{ translation.fields|length }}#}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}