{% extends 'front/layout.html.twig' %}
{% trans_default_domain 'user_messages' %}
{% set locale = app.request.locale %}

{% block title %}{{ 'translation.form.title'|trans() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
        
    {% block banner%}
        <h1 class="h3 my-3 mb-5 text-white">{{ 'translation.form.title'|trans() }}</h1>
    {% endblock %}

    <div class="row">

        <div class="col-lg-7 mx-auto p-0">

            {{ include('front/translation/create/_list.html.twig') }}

            {{ include('front/translation/create/_create.html.twig') }}

            <div id="response"></div>

        </div>
    </div>
             
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}