{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front_app', null, 'frontApp') }}
    <link rel="stylesheet" href="{{ asset('fullscreenslide/css/style.css') }}">
{% endblock %}

{% block body %}
    <body id="page" class="bg-dark">
        
        {% include "front/block/_slideshow.html.twig" %}
        
        {% block flash_message %}
            {% include "block/_flash_message.html.twig" %}
        {% endblock %}
        
        {% block navbar %}
            {% include "front/block/_navbar.html.twig" %}
        {% endblock %}
    
        {% block container %}
        <div class="container my-5 py-5">
            
            {% block content %}
                {% block banner%}{% endblock %}
            {% endblock %}
            
        </div>
        {% endblock %}
            
        {% block footer %}
            {% include "front/block/_footer.html.twig" %}
            <div id="footerEnd" class="bg-dark"></div>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('front_app', null, 'frontApp') }}
            <script src="{{ asset('fullscreenslide/js/modernizr.custom.86080.js') }}"></script>
            <script src="{{ asset('fullscreenslide/js/script.js') }}"></script>
        {% endblock %}
    </body>
{% endblock %}
