{% extends 'base.html.twig' %}
{% set applocales=locales|split('|') %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front_app', null, 'frontApp') }}
    <link rel="stylesheet" href="{{ asset('fullscreenslide/css/style.css') }}">
{% endblock %}

{% block body %}
    <body id="page" class="bg-dark{% for locale in applocales %}
        {% if  (locale == app.request.locale and app.request.locale == 'ar')
            or (locale == app.request.locale and app.request.locale == 'he')
            or (locale == app.request.locale and app.request.locale == 'ur') %}
            rtl
        {% endif %}
    {% endfor %}">
        
        {% include "block/_slideshow.html.twig" %}
        
        {% block flash_message %}
            {% include "block/_flash_message.html.twig" %}
        {% endblock %}
        
        {% block navbar %}
            {% include "front/block/_navbar.html.twig" %}
        {% endblock %}

        {% block content %}
            {% block banner%}{% endblock %}
        {% endblock %}

        {% block footer %}
            {% include "block/_footer.html.twig" %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('front_app', null, 'frontApp') }}
            <script src="{{ asset('fullscreenslide/js/modernizr.custom.86080.js') }}"></script>
        {% endblock %}
    </body>
{% endblock %}
