{% trans_default_domain 'back_messages' %}
{% extends "back/layout.html.twig" %}
{% set locale = app.request.locale %}

{% block title %}
    {{ page ? 'content.form.update' |trans : 'content.form.card' |trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('jquery-confirm/css/jquery-confirm.css') }}">
    {{ encore_entry_link_tags('page_edit_app', null, 'backApp') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block content %}
    
    <div class="container-fluid pt-4" translate="no">
        
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ 'content.form.title'|trans }}</h1>
            <a href="{{ path('back_content_search') }}" class="btn btn-secondary mx-2 pt-1">
                <i class="fas fa-reply"></i>
                {{ 'action.back_list'|trans }}
            </a>
        </div>
            
        <div class="row">
            <div class="col-10 mx-auto px-0 card shadow mb-4">
                
                <div class="card-header py-3">
                    <h6 class="d-flex justify-content-start m-0">
                            <span class="font-weight-bold text-primary">
                                {{ page.id ? 'content.form.update'|trans : 'content.form.card'|trans }}
                            </span>
                        {% if page.id %}
                            <span class="text-secondary px-1">-</span>
                            <span class="text-secondary px-2">
                                {{ 'label_dp.title'|trans }}
                            </span>
                            <span class="text-secondary font-weight-bold">
                                {{ page.title  }}
                            </span>
                            <span class="text-secondary px-2">
                                {{ 'label_dp.lang'|trans }}
                            </span>
                            <span class="text-secondary font-weight-bold">
                                {{ lang_service.getLang(page.lang).englishName  }}
                            </span>
                        {% endif %}
                    </h6>
                </div> 

                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div id="page" class="card-body">

                    <div class="row mb-3{{ page.id ? ' d-none'}}">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-auto pt-1">
                                    {{ form_label(form.type)}}
                                </div>
                                <div class="col">
                                    {{ form_widget(form.type) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-auto pt-1">
                                    {{ form_label(form.lang)}}
                                </div>
                                <div class="col">
                                    {{ form_widget(form.lang, { value: page.id ? page.lang : '' })}}
                                    {{ form_errors(form.lang)}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.title)}}
                        </div>
                        <div class="{{ not page.slug ? 'd-none' : 'col-md-6'}}">
                            {{ form_row(form.slug)}}
                        </div>
                    </div>
                        
                    <div class="d-flex justify-content-end my-2">
                        <div id="add-content-link" class="btn btn-primary pt-1"
                            data-list-selector="#pageContents">
                            <i class="fas fa-plus-circle"></i>
                            {{ 'content.form.page.collection.btn'|trans }}
                        </div>
                    </div>
            
                    <div id="form-pageContents">
                        <div id="pageContents" class="ui-sortable"
                            data-prototype="{{ form_widget(form.pageContents.vars.prototype)|e }}"
                            data-widget-pageContents="{{ '<div class="col-12 px-0 pt-3 pb-1"></div>'|e }}"
                            data-widget-counter="{{ form.pageContents|length }}">
                            {% for content in form.pageContents %}
                                <div class="col-12 px-0 pt-3 pb-1">
                                    {{ form_widget(content) }}
                                    {{ form_errors(content) }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                        
                </div>
                        
                <div class="card-footer bg-light d-flex justify-content-center py-3">
                    {{ form_widget(form.save, { 'attr': {
                        'class': page.id and lang_service.getLang(page.lang).enabled 
                            ? 'd-none' : 'btn-outline-primary px-3 mx-2' } }) }}
                    {{ form_widget(form.validate) }}
                </div>

                {{ form_end(form) }}
            </div>
        </div>
                    
    </div>
                    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('jquery-confirm/js/jquery-confirm.js') }}"></script>
    <script>
        var path = {
           "locale" : "{{ locale }}",
        }
        var translations = {
           "deletePage-title" : "{{ 'content.form.page.collection.remove.title'|trans }}",
           "deletePage-content" : "{{ 'content.form.page.collection.remove.confirm'|trans }}",
           "yes" : "{{ 'yes'|trans }}",
           "no" : "{{ 'no'|trans }}",
        }
    </script>
    {{ encore_entry_script_tags('page_edit_app', null, 'backApp') }}
{% endblock %}
