{% trans_default_domain 'back_messages' %}

{% set col_count = 0 %}

{% if is_granted("ROLE_SUPER_ADMIN") %}
    {{ form_start(form_batch) }}
    {{ form_errors(form_batch) }}
{% endif %}

<div class="card shadow mb-4">
    
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ 'user.search.table'|trans }}</h6>
    </div>
    
    <div id="list" class="card-body pb-3">
        
        <table id="dataTable-list" class="table table-sm mb-0 text-nowrap">
            <thead class="bg-gray-600 text-white">
                <tr>
                    <th class="no-sort" name="check">
                        {% if is_granted("ROLE_ADMIN") %}
                            <div class="form-check pl-1"><input type="checkbox" id="select_all" /></div>
                        {% endif %}
                    </th>
                    <th class="d-none"></th>
                    <th class="pl-2 pr-4" nowrap>{{ 'label.name'|trans }}</th>
                    <th class="pr-4" nowrap>{{ 'label.email'|trans }}</th>
                    <th class="pr-4" nowrap>{{ 'label.roles'|trans }}</th>
                    <th class="pr-4" nowrap>{{ 'label.enabled'|trans }}</th>
                    <th class="pr-4" nowrap>{{ 'label.contributions'|trans }}</th>
                    <th class="pr-4" nowrap>{{ 'label.lang'|trans }}</th>
                    <th class="pr-4" nowrap>{{ 'label.note'|trans }}</th>
                    <th class="pr-4" nowrap>{{ 'label.date_login'|trans }}</th>
                    <th class="pr-4" nowrap>{{ 'label.date_creation'|trans }}</th>
                    <th class="pr-4" nowrap>{{ 'label.date_update'|trans }}</th>
                    <th class="cust-nowrap pr-4 no-sort"></th>
                    <th class="no-sort"></th>
                    <th class="px-2 no-sort"></th>
                </tr>
            </thead>
            <tbody class="bg-white">
            {% for child in form_batch.users %}
                {% set user = form_batch.users.vars.choices[child.vars.value].data %}
                <tr>
                    <td class="px-2 check">
                        {% set checkBox = form_widget(child, { 'attr': { 'class': 'select'} }) %}
                        {% if is_granted("ROLE_ADMIN") %}
                            {% if not user.hasRole("ROLE_SUPER_ADMIN") %}
                                {% if (is_granted("ROLE_SUPER_ADMIN"))
                                    or (is_granted("ROLE_ADMIN") and not user.hasRole("ROLE_ADMIN")
                                        and (user.hasRole("ROLE_USER") and user.hasRole("ROLE_MODERATOR")))
                                    or (is_granted("ROLE_MODERATOR") and not user.hasRole("ROLE_ADMIN")
                                        and not user.hasRole("ROLE_MODERATOR") and user.hasRole("ROLE_USER")) %}
                                    {{ checkBox|raw }}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="d-none userId">{{ user.id }}</td>
                    <td class="px-2 text-nowrap userName">{{ user.name }}</td>
                    <td class="text-nowrap">{{ user.email }}</td>
                    <td class="text-nowrap">
                        {% for role in user.roles %}
                            <p class="mb-0">
                            {% if role == 'ROLE_SUPER_ADMIN' %}
                                {{ 'user.role.super_admin'|trans }}
                            {% elseif role == 'ROLE_ADMIN' %}
                                {{ 'user.role.admin'|trans }}
                            {% elseif role == 'ROLE_MODERATOR' %}
                                {{ 'user.role.moderator'|trans }}
                            {% elseif role == 'ROLE_CONTRIBUTOR' %}
                                {{ 'user.role.contributor'|trans }}
                            {% endif %}
                            </p>
                        {% endfor %}
                        {% if user.langContributor %}
                            <p class="mb-0">{{ 'user.role.translator'|trans }}</p>
                        {% endif %}
                    </td>
                    <td>
                        {# Permute user #}
                        {% if not user.hasRole("ROLE_SUPER_ADMIN") %}
                            {% if (is_granted("ROLE_SUPER_ADMIN"))
                                or (is_granted("ROLE_ADMIN") and not user.hasRole("ROLE_ADMIN")
                                    and (user.hasRole("ROLE_USER") and user.hasRole("ROLE_MODERATOR")))
                                or (is_granted("ROLE_MODERATOR") and not user.hasRole("ROLE_ADMIN")
                                    and not user.hasRole("ROLE_MODERATOR") and user.hasRole("ROLE_USER")) %}
                                <a href="{{ path('back_user_permute_enabled', { 'ids': {0: user.id} }) }}"
                                    class="btn btn-primary py-1" role="button">
                                    <span>{{ user.enabled ? 'action.disable'|trans : 'action.enable'|trans }}</span>
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {{ user.situs|length != 0 ? user.situs|length : '' }}
                    </td>
                    <td>
                        {{ user.lang.englishName }}
                    </td>
                    <td>
                        {% if not user.hasRole("ROLE_SUPER_ADMIN")
                            and (is_granted("ROLE_SUPER_ADMIN")
                                or (is_granted("ROLE_ADMIN") and not user.hasRole("ROLE_ADMIN"))
                                or (is_granted("ROLE_MODERATOR") and not user.hasRole("ROLE_ADMIN") and not user.hasRole("ROLE_MODERATOR"))) %}
                            {{ user.adminNote ? '<span class="text-success"><i class="fas fa-check-circle"></i></span>' }}
                        {% endif %}
                    </td>
                    <td class="text-nowrap">{{ user.dateLastLogin ? user.dateLastLogin|format_datetime('short', 'short', locale=locale) : '' }}</td>
                    <td class="text-nowrap">{{ user.dateCreate ? user.dateCreate|format_datetime('short', 'short', locale=locale) : '' }}</td>
                    <td class="text-nowrap">{{ user.dateUpdate ? user.dateUpdate|format_datetime('short', 'short', locale=locale) : '' }}</td>
                    <td class="pr-0">
                        {# Read user #}
                        <a href="{{ path('back_user_read', {'id': user.id}) }}" title="{{ 'action.read_title'|trans }}"
                           data-toggle="tooltip" data-placement="left" aria-label="{{ 'action.read_title'|trans }}"
                           class="btn btn-outline-primary px-2" role="button">
                            <i class="fas fa-eye"></i>
                        </a>
                    </td>
                    <td class="pr-0 width-max-40">
                        {# Update user #}
                        {% if not user.hasRole("ROLE_SUPER_ADMIN") and is_granted("ROLE_SUPER_ADMIN") 
                            or (not user.hasRole("ROLE_SUPER_ADMIN")
                                and (
                                    ( is_granted("ROLE_ADMIN")
                                        and not is_granted("ROLE_SUPER_ADMIN")
                                        and not user.hasRole("ROLE_ADMIN") )
                                    or ( is_granted("ROLE_MODERATOR")
                                        and not is_granted("ROLE_SUPER_ADMIN")
                                        and not is_granted("ROLE_ADMIN")
                                        and not user.hasRole("ROLE_ADMIN")
                                        and not user.hasRole("ROLE_MODERATOR") ) ) ) %}
                            <a href="{{ path('back_user_update', {'id': user.id}) }}"
                               class="btn btn-outline-warning px-2" 
                               data-toggle="tooltip" data-placement="left"
                               title="{{ 'action.edit'|trans }}"
                               aria-label="{{ 'action.edit'|trans }}" role="button">
                                <i class="fas fa-edit"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td class="pl-2">
                        {# Delete user #}
                        {% if is_granted("ROLE_SUPER_ADMIN") and not user.hasRole("ROLE_SUPER_ADMIN") %}
                            <span class="btn btn-outline-danger userDelete"
                                  data-url="{{ path('back_user_delete', { 'ids': {0: user.id} }) }}"
                                  data-user="{{ user.name }}"
                                  data-toggle="tooltip" data-placement="left"
                                  title="{{ 'action.delete'|trans }}"
                                  aria-label="{{ 'action.delete'|trans }}" role="button">
                                <i class="fas fa-times"></i>
                            </span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            
    </div>
</div>
            
{% if is_granted("ROLE_ADMIN") %}
    <div class="row mx-0">
        <div id="userActions" class="col-md-8 offset-md-2 px-sm-3 px-2 card border-left-primary shadow h-100 d-none">
            <div class="card-body px-2 py-1">
                <div class="row no-gutters align-items-center">
                    <div class="col mt-2">
                        <div class="row">
                            <div class="col-12 text-xs font-weight-bold text-primary text-uppercase mb-1">
                                {{ 'action.batch'|trans }}</div>
                            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6 col-7">
                                {{ form_row(form_batch.action) }}
                            </div>
                            <div class="col-auto mt-4">
                                <div class="text-center">
                                    <span id="submit" class="btn btn-primary px-3">
                                        {{ 'action.validate'|trans }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto d-lg-block d-md-none d-sm-block d-none">
                        <i class="fas fa-users fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form_batch) }}
{% endif %}
