{% trans_default_domain 'back_messages' %}
{% extends "back/layout.html.twig" %}

{% set locale = app.request.locale %}

{% block title %}{{ 'label.users'|trans() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('table_app', null, 'backApp') }}
    {{ encore_entry_link_tags('app') }}
    {% if is_granted("ROLE_ADMIN") %}
        <link rel="stylesheet" href="{{ asset('jquery-confirm/css/jquery-confirm.css') }}">
    {% endif %}
 {% endblock %}

{% block content %}
    <div id="loader"></div>

    <div class="container-fluid pt-4">
        
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ 'label.users'|trans() }}</h1>
        </div>

        {{ include('back/user/search/_list.html.twig') }}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user_search_app', null, 'backApp') }}

    {% if is_granted("ROLE_ADMIN") %}
        <script src="{{ asset('jquery-confirm/js/jquery-confirm.js') }}"></script>
        {{ encore_entry_script_tags('user_can_multi_select', null, 'backApp') }}
        {{ encore_entry_script_tags('user_can_delete', null, 'backApp') }}
        <script>
            var translations = {
               "confirm" : "{{ 'user.delete.confirm'|trans }}",
               "confirms" : "{{ 'user.delete.confirm_s'|trans }}",
               "user" : "{{ 'user.delete.title'|trans }}",
               "users" : "{{ 'user.delete.title_s'|trans }}",
               "warning" : "{{ 'user.delete.warning'|trans }}",
               "no" : "{{ 'no'|trans }}",
               "yes" : "{{ 'yes'|trans }}",
            }
        </script>
    {% endif %}

{% endblock %}
