{% trans_default_domain 'back_messages' %}
{% extends "back/layout.html.twig" %}
{% set locale = app.request.locale %}

{% block title %}{{ 'contrib.situ.title'|trans() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('flp_theme') }}
    {{ encore_entry_link_tags('situ_search_app', null, 'backApp') }}
{% endblock %}

{% block content %}
    <div id="loader"></div>
    <div class="container-fluid pt-4">
        
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ 'sidebar.contrib.title'|trans() }}</h1>
        </div>

        {{ include('back/situ/search/_list.html.twig') }}
        
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('situ_search_app', null, 'backApp') }}
{% endblock %}
