{% trans_default_domain 'user_messages' %}

{% set translatedSituId = route == 'translate_situ' ? situ.id : '' %}

<div id="flash_message" class="container" style="display:none">
    <div class="alert alert-secondary alert-dismissible px-3 fade show" role="alert">
        <span id="contentMessage"></span>
        <span id="hideFlash" class="pl-4 text-secondary pointer"><i class="far fa-times-circle"></i></span>
    </div>
</div>

{{ form_start(form) }}
    <div class="card my-4 mx-3 bg-none shadow">
        
        <div class="card-header p-3 bg-dark text-white">
            <div class="d-flex justify-content-center">
                <h5 class="mb-2 pb-1">
                    {% if route == 'create_situ' %}
                        {% if situ.id %}
                            {{ 'contrib.form.situ.h1_update'|trans }}
                        {% else %}
                            {{ 'contrib.form.situ.h1'|trans }}
                        {% endif %}
                    {% else %}
                        {{ 'contrib.form.to'|trans }}
                        <span class="text-capitalize">{{ lang.name|raw }}</span>
                        <img src="{{ asset('img/flag/'~ lang.lang ~'.jpg') }}"
                             width="20" height="13"
                             alt="{{ lang.lang }}" class="translation-flag mx-1 border">
                    {% endif %}
                </h5>
            </div>
        </div>

        <div id="details" class="card-header accordion py-4 pl-4 bg-secondary-80 text-white">

            <div id="form-error">
                {{ form_errors(form) }}
                {{ form_errors(formData) }}
            </div>

            <div id="lang" class="formData form-row mt-1 mb-4{%
                        if (langs == 1 and route == 'create_situ')
                        or route == 'translate_situ' %} d-none{% endif %}">
                <div class="{{ route == 'create_situ' ? 'col-md-5' : 'col-md-6' }} mb-md-0 mb-1 pt-md-1">
                    {{ form_label(formData.lang) }}
                </div>
                <div class="{{ route == 'create_situ' ? 'col-md-4' : 'col-md-6' }} col-sm-7 col-8">
                    <div class="form-row">
                        <div id="form-lang" class="col-md-12">
                            {{ form_widget(formData.lang) }}
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="event" class="formData form-row mb-4{{ langs != 1 and route == 'create_situ' ? ' d-none on-load'}}">
                <div class="d-flex justify-content-start {{ route == 'create_situ' ? 'col-md-5' : 'col-md-6' }} mb-md-0 mb-1 pt-md-1">
                    {{ form_label(formData.event) }}
                </div>
                <div class="{{ route == 'create_situ' ? 'col-md-7' : 'col-md-6' }}">
                    <div class="form-row">
                        <div id="form-event" class="col-11 colDataLang">
                            {{ form_widget(formData.event) }}
                        </div>
                        <div id="add-event" class="col-1 px-0 pt-1 text-center colBtn">
                            {{ form_widget(formData.addEvent) }}
                        </div>
                    </div>
                </div>
            </div>


            <div id="categoryLevel1" class="formData form-row mb-4 d-none on-load">
                <div class="d-flex justify-content-start {{ route == 'create_situ' ? 'col-md-5' : 'col-md-6' }} mb-md-0 mb-1 pt-md-1">
                    <div id="heading-categoryLevel1" class="linkCollapse">
                        <div data-toggle="collapse" data-target="#collapse-categoryLevel1"
                             aria-expanded="false" aria-controls="collapse-categoryLevel1">
                            {{ form_label(formData.categoryLevel1) }}
                            <span class="infoCollapse d-none small"><i class="fas fa-question-circle"></i></span>
                        </div>
                    </div>
                </div>
                <div class="{{ route == 'create_situ' ? 'col-md-7' : 'col-md-6' }}">
                    <div class="form-row">
                        <div id="form-categoryLevel1" class="col-11 colDataLang colData">
                            {{ form_widget(formData.categoryLevel1) }}
                        </div>
                        <div id="add-categoryLevel1" class="col-1 px-0 pt-1 text-center colBtn">
                            {{ form_widget(formData.addCategoryLevel1) }}
                        </div>
                    </div>
                    <div id="collapse-categoryLevel1" class="pt-2 small infoCollapse d-none collapse"
                        aria-labelledby="heading-categoryLevel1" data-parent="#details">
                        <div class="d-block font-weight-bold">
                            {{ 'label_dp.description'|trans({}, 'messages')  }}
                        </div>
                        <div class="mt-1 px-3 line-11 first-letter description">
                            {{ situ.categoryLevel1 ? situ.categoryLevel1.description }}
                        </div>
                    </div>
                </div>
            </div>
                        
            <div id="categoryLevel2" class="formData form-row mb-4 d-none on-load">
                <div class="d-flex justify-content-start {{ route == 'create_situ' ? 'col-md-5' : 'col-md-6' }} mb-md-0 mb-1 pt-md-1">
                    <div id="heading-categoryLevel2" class="linkCollapse">
                        <div data-toggle="collapse" data-target="#collapse-categoryLevel2"
                             aria-expanded="false" aria-controls="collapse-categoryLevel2">
                            {{ form_label(formData.categoryLevel2) }}
                            <span class="infoCollapse d-none small"><i class="fas fa-question-circle"></i></span>
                        </div>
                    </div>
                </div>
                <div class="{{ route == 'create_situ' ? 'col-md-7' : 'col-md-6' }}">
                    <div class="form-row">
                        <div id="form-categoryLevel2" class="col-11 colDataLang colData">
                            {{ form_widget(formData.categoryLevel2) }}
                        </div>
                        <div id="add-categoryLevel2" class="col-1 px-0 pt-1 text-center colBtn">
                            {{ form_widget(formData.addCategoryLevel2) }}
                        </div>
                    </div>
                    <div id="collapse-categoryLevel2" class="pt-2 small infoCollapse d-none collapse"
                        aria-labelledby="heading-categoryLevel2" data-parent="#details">
                        <div class="d-block font-weight-bold">
                            {{ 'label_dp.description'|trans({}, 'messages') }}
                        </div>
                        <div class="mt-1 px-3 line-11 first-letter description">
                            {{ situ.categoryLevel2 ? situ.categoryLevel2.description }}
                            <div class="text-right updateCategory"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-body pt-4 px-4 pb-0 bg-white-80{{ route == 'create_situ' ? ' d-none' }}">
            <h2 class="h5 font-weight-normal">{{ 'contrib.form.situ.label'|trans }}</h2>

            {{ form_row(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_row(form.description) }} 
            {{ form_errors(form.description) }} 

            <div id="form-items" class="pt-4" data-count="{{ situ ? situ.situItems|length : '' }}">

                <h2 class="h5 font-weight-normal my-2">{{ 'contrib.form.item.label'|trans }}</h2>

                <div id="situItems" class="list-group list-group-flush col-12 px-0"
                    data-prototype="{{ form_widget(form.situItems.vars.prototype)|e('html_attr') }}"
                    data-widget-situItems="{{ '<div class="situ-item"></div>'|e }}"
                    data-widget-counter="{{ form.situItems|length }}">
                    {% for situItem in form.situItems %}
                        {{ form_widget(situItem) }}
                        {{ form_errors(situItem) }}
                    {% endfor %}
                </div>

                <div id="add-situItem" class="col-12 pb-3e">
                    <p class="h6">{{ 'contrib.form.item.add_item.title'|trans|raw }}</p>
                    <div class="small d-block my-4 pb-1">
                        {{ 'contrib.form.item.add_item.comment'|trans|raw }}
                    </div>
                    <div id="add-itemSitu-link"
                         class="col-lg-6 mx-auto mb-3 pb-3 text-center text-decoration-none line-11"
                        data-list-selector="#situItems">
                        <i class="fas fa-plus-circle"></i>
                        <span class="text-muted">{{ 'contrib.form.item.add_item.btn'|trans }}</span>
                    </div>
                </div>
            </div>

        </div>
                    
        {{ form_widget(form.translatedSituId, {'value': translatedSituId} ) }}

        <div class="card-footer bg-light text-center{{ route == 'create_situ' ? ' d-none' }}">
            <span id="actionSave" class="btn btn-outline-primary px-3 mx-2">
                {{ 'action.save'|trans({}, 'messages') }}
            </span>
            {{ form_widget(form.save) }}
            <span id="modalSubmit" class="btn btn-primary">
                {{ 'action.submit'|trans({}, 'messages') }}
            </span>
        </div>

    </div>
    
    {% include 'front/situ/new/_form/_modalEditData.html.twig' %}

    {% include 'front/situ/new/_form/_modalSubmit.html.twig' %}
    
{{ form_end(form) }}