{% extends 'base.html.twig' %}
{% trans_default_domain 'back_messages' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('back_app', null, 'backApp') }}
{% endblock %}

{% block body %}
    <body id="page-top">
        
        {% block flash_message %}
            {% include "block/_flash_message.html.twig" %}
        {% endblock %}

        <!-- Page Wrapper -->
        <div id="wrapper">

            {% block sidebar %}
                {% include "back/block/_sidebar.html.twig" %}
            {% endblock %}

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    {% block navbar %}
                        {% include "back/block/_navbar.html.twig" %}
                    {% endblock %}

                    <!-- Begin Page Content -->
                    <div class="container-fluid px-md-4 px-0">
                        {% block content %}{% endblock %}
                    </div>

                </div>
                    
                <!-- Footer Content -->
                <footer class="sticky-footer bg-white mt-3"  translate="no">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>{{ name_site }} {{ 'now' | date('Y') }} &copy; {{ 'copyright'|trans({}, 'front_messages') }}</span>
                        </div>
                    </div>
                </footer>

            </div>

        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('back_app', null, 'backApp') }}
        {% endblock %}
    </body>
{% endblock %}