{% extends 'front/layout.html.twig' %}
{% trans_default_domain 'user_messages' %}
{% set locale = app.request.locale %}

{% block title %}{{ situ.id ? 'contrib.form.situ.h1_update'|trans : 'contrib.form.situ.h1'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('jquery-confirm/css/jquery-confirm.css') }}">
    {{ encore_entry_link_tags('situ_create_app', null, 'frontApp') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block content %}
    <div id="loader"></div>

    <div class="row">

        <div id="situ" class="col-lg-8 mx-auto mt-5 p-0" data-lang=""
             data-id="{{ situ ? situ.id }}" data-default="{{ app.user.lang.id }}">
            {% include('front/situ/new/_form/form.html.twig') %}
        </div>

    </div>
            
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('jquery-confirm/js/jquery-confirm.js') }}"></script>
    {{ encore_entry_script_tags('situ_create_app', null, 'frontApp') }}
    <script>
        var path = {
            "locale" : "{{ locale }}",
        }
        var translations = {
            "flashError" : "{{ 'contrib.form.flash.error'|trans }}",
            "srOnly-error" : "{{ 'contrib.form.sr_only.error'|trans }}",
            "toValidate" : "{{ 'contrib.form.to_validate'|trans }}",
            "event-titlePlaceholder" : "{{ 'contrib.form.event.placeholder_add'|trans }}",
            "categoryLevel1-titlePlaceholder" : "{{ 'contrib.form.category.title_placeholder'|trans }}",
            "categoryLevel2-titlePlaceholder" : "{{ 'contrib.form.category.title_placeholder'|trans }}",
            "categoryLevel1-descriptionPlaceholder" : "{{ 'contrib.form.category.description_placeholder'|trans }}",
            "categoryLevel2-descriptionPlaceholder" : "{{ 'contrib.form.category.description_placeholder'|trans }}",
            "deleteItem-title" : "{{ 'contrib.form.item.remove.title'|trans }}",
            "deleteItem-content" : "{{ 'contrib.form.item.remove.confirm'|trans }}",
            "yes" : "{{ 'yes'|trans({}, 'messages')  }}",
            "no" : "{{ 'no'|trans({}, 'messages')  }}",
            "scoreLabel" : "{{ 'contrib.form.item.score.placeholder'|trans }}",
            "scoreLabelAlt" : "{{ 'contrib.form.item.score.placeholder_alt'|trans }}",
            "scoreInfo" : "{{ 'contrib.form.item.score.tooltip'|trans }}",
            "formError" : "{{ 'contrib.form.error'|trans }}",
        }
    </script>
{% endblock %}