{% trans_default_domain 'front_messages' %}

<ul class="navbar-nav">
{% if app.user %}
    <li class="nav-item dropdown{{ route in ['back_home', 'user_account'] ? ' active' }}">
        <a class="nav-link dropdown-toggle" id="dropdown_account" 
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if app.user.imageFilename %}
            <span class="nav-img">
                <span class="nav-img-circle">
                    <img src="{{ asset('/uploads/img/'~ app.user.imageFilename) }}" alt="">
                </span>
            </span>
            {% else %}
                <i class="fas fa-user"></i>
            {% endif %}
            {{ 'nav.account'|trans() }}
        </a>
        <ul class="dropdown-menu dropdown-menu-right pt-md-2" aria-labelledby="dropdown_account">
            {% if is_granted("ROLE_ADMIN") %}
                <li class="dropdown-item bg-dark{{ route == 'back_home' ? ' active' }}">
                    <a href="{{ path('back_home') }}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        {{ 'nav.account_back'|trans() }}
                    </a>
                </li>
            {% endif %}
            <li class="dropdown-item bg-dark{{ route == 'user_account' ? ' active' }}">
                <a href="{{ path('user_account', { 'id': app.user.id }) }}">
                    <i class="fas fa-user-cog"></i>
                    {{ 'nav.account_profile'|trans() }}
                </a>
            </li>
            <li class="dropdown-item bg-dark">
                <a href="{{ path('app_logout') }}">
                    <i class="fas fa-sign-out-alt"></i>
                    {{ 'nav.account_logout'|trans() }}
                </a>
            </li>
        </ul>
    </li>
{% else %}
{#    <li class="nav-item">#}
    <li class="nav-item dropdown{{ route in ['app_login', 'front_register'] ? ' active' }}">
        <a class="nav-link dropdown-toggle" id="dropdown_account" 
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
            {{ 'nav.account_unknown'|trans() }}
        </a>
        <ul class="dropdown-menu dropdown-menu-right pt-md-2 visitor" aria-labelledby="dropdown_account">
            <li class="dropdown-item bg-dark{{ route == 'app_login' ? ' active' }}">
                <a href="{{ path('app_login') }}">
                    <i class="fas fa-sign-in-alt"></i>
                    {{ 'nav.account_login'|trans() }}
                </a>
            </li>
            <li class="dropdown-item bg-dark{{ route == 'front_register' ? ' active' }}">
                <a href="{{ path('front_register') }}">
                    <i class="fas fa-user"></i>
                    {{ 'nav.account_register'|trans() }}
                </a>
            </li>
        </ul>
    </li>
{% endif %}
</ul>