{% trans_default_domain 'message_messages' %}
{% extends "back/layout.html.twig" %}
{% set locale = app.request.locale %}

{% block title %}{{ 'back.alert.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('message_app', null, 'backApp') }}
    {{ encore_entry_link_tags('app') }}
 {% endblock %}

{% block content %}
    <div id="loader"></div>
    <div class="container-fluid pt-4">
        
        <div class="d-sm-flex justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ 'back.alert.title'|trans() }}</h1>
        </div>
        
        <div class="row">
            <div class="col-12">
                <div class="card shadow mb-4">

                    <div id="list" class="card-body pb-3 back-dataTable">

                    {% if alerts is empty %}
                        {{ 'back.alert.empty'|trans() }}
                    {% else %}
                        <table id="dataTable-list" class="table table-sm nowrap">
                            <thead class="d-none"><tr><th></th><th></th><th></th><th></th><th></th></tr></thead>
                            <tbody class="bg-white">
                                {% for alert in alerts %}
                                    <tr id="{{ alert.id }}" class="">
                                        <td class="p-2 align-middle">
                                            <div class="icon-circle bg-{{ alert.channel }} text-white">
                                                <i class="fas fa-hands"></i>
                                            </div>
                                        </td>
                                        <td class="align-middle p-2">
                                            {% if alert.entity == 'situ'
                                                and situ_service.getSitu(alert.entityId).statusId != 1
                                                and situ_service.getSitu(alert.entityId).statusId != 2 %}
                                                    <i class="far fa-check-circle text-success"></i>
                                            {% elseif alert.entity == 'event'
                                                and event_service.getEvent(alert.entityId).statusId != 1
                                                and event_service.getEvent(alert.entityId).statusId != 2 %}
                                                    <i class="far fa-check-circle text-success"></i>
                                            {% elseif alert.entity == 'category'
                                                and category_service.getCategory(alert.entityId).statusId != 1
                                                and category_service.getCategory(alert.entityId).statusId != 2 %}
                                                <i class="far fa-check-circle text-success"></i>
                                            {% endif %}
                                        </td>
                                        <td class="p-2">{{ alert.subject|raw }}<br>
                                            <p class="mb-0 small">{{ alert.dateCreate is empty ? ''
                                                : alert.dateCreate
                                                    |format_datetime('full', 'short', locale=locale)
                                                    |capitalize }}</p>
                                        </td>
                                        <td class="p-2">{{ alert.text|raw }}</td>
                                        <td class="p-2">
                                            <div class="form-group">
                                                <div class="form-check">
                                                    <input type="checkbox" id="message_scanned_{{ alert.id }}"
                                                           name="message_scanned_{{ alert.id }}"
                                                           class="custom-checkbox form-check-input"
                                                           value="{{ alert.scanned }}"{% if alert.scanned == 0 %} checked="checked"{% endif %}
                                                           data-toggle="tooltip" data-placement="left"
                                                           title="{{ alert.scanned == 0
                                                                ? 'read.yes'|trans()
                                                                : 'read.no'|trans() }}"
                                                           aria-label="{{ alert.scanned == 1
                                                                ? 'read.yes'|trans()
                                                                : 'read.no'|trans() }}">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>            
                    {% endif %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('message_app', null, 'backApp') }}
    <script>
        let path = { "locale" : "{{ locale }}" }
        let translations = {
            "readNo" : "{{ 'read.no'|trans }}",
            "readYes" : "{{ 'read.yes'|trans }}",
        }
    </script>
{% endblock %}
