{% trans_default_domain 'security' %}
{% extends 'front/layout.html.twig' %}

{% block title %}{{ 'registration.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('register_app', null, 'frontApp') }}
{% endblock %}

{% block content %}
    
    {% block flash_message %}
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">
                <span class="sr-only">{{ ('alert.danger')|trans }} : </span>
                <span class="icon text-danger"><i class="fas fa-exclamation-circle"></i></span>
                <span class="msg">{{ flashError }}</span>
                <span id="hideFlash" class="pl-4 text-secondary pointer"><i class="far fa-times-circle"></i></span>
            </div>
        {% endfor %}
    {% endblock %}

    <div class="col-lg-6 mx-auto pt-5">
        
        <div class="card mt-4 mb-4 px-3 py-2 bg-white-80">
            
            <div class="card-body">
                {{ form_start(registrationForm) }}
                    <h1 class="h3 mb-3 font-weight-normal d-flex justify-content-start">{{ 'registration.title'|trans }}</h1>
                    
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.name) }}
                    
                    {% for password in registrationForm.plainPassword %}
                        <div class="form-group">
                            {{ form_label(password) }}
                            <div class="input-group togglePassword">
                                {{ form_widget(password) }}
                                <div class="input-group-append">
                                  <span class="btn input-group-text"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                        {{ form_errors(password) }}
                    {% endfor %}
                    
                    <div class="d-flex justify-content-start">
                        {{ form_row(registrationForm.agreeTerms) }}
                    </div>
                    
                    <div id="comment" class="mx-2 px-3 pt-2 pb-3 bg-light rounded-lg line-12">
                        <span class="text-primary"><i class="fas fa-info-circle"></i></span>
                        <span class="small">{{ 'registration.comment'|trans|raw|nl2br }}</span>
                    </div>
                    
                    <div class="mt-4 pt-2 text-center">
                        <button class="btn btn-secondary px-5" type="submit">
                            {{ 'button.validate'|trans }}
                        </button>
                    </div>
                {{ form_end(registrationForm) }}
            </div>
            
        </div>
            
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('pw_app', null, 'frontApp') }}
    {{ encore_entry_script_tags('register_app', null, 'frontApp') }}
    <script>
        var recaptcha = {'sitekey' : '{{ google_recaptcha_site_key }}'}
    </script> 
    <script src="{{ asset('recaptcha/recaptcha.js') }}"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onGoogleReCaptchaApiLoad&render=explicit&hl={{ app.request.locale }}" async defer></script>
{% endblock %}
